@charset "utf-8";

/*
*{
	font-family:나눔고딕, NanumGothic, "Nanum Gothic", Malgun Gothic, Dotum, Gulim, sans-serif;
}
*/

*{
	font-family:Malgun Gothic, Dotum, Gulim, sans-serif;
}

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,font,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td{
	vertical-align:baseline;
	font-style:inherit;
	font-size:100%;
	margin:0;
	padding:0;
	border:0;
}

ol,
ul{
	list-style:none;
}

table{
	border-collapse:collapse;
	border-spacing:0;
}

textarea{
	overflow-x:hidden;
	overflow-y:hidden;
	resize:none;
}

blockquote:before,
blockquote:after,
q:before,
q:after{
	content:"";
}

blockquote,
q{
	quotes:"" "";
}

:focus{
}

/* COMMON */
html{
	width:100%;
	height:100%;
}

body{
	width:100%;
	height:100%;
	font-size:12px;
	color:#666666;
	overflow-x:hidden;
	overflow-y:scroll;
}
body.full{width:100%;height:100%;}

h1{font-size:1.5em;font-weight:normal;}
h2{font-size:1.4em;font-weight:normal;}
h3{font-size:1.3em;font-weight:normal;}
h4{font-size:1.2em;font-weight:normal;}
h5{font-size:1.1em;font-weight:normal;}
h6{font-size:1.0em;font-weight:normal;}

div, dl, ol, ul, p, table, textarea{
	line-height:1.5;
	text-align:left;
}

button, input, select, textarea{
	vertical-align:middle;
	line-height:normal;
	font-size:12px;
	color:#666666;
	margin:0;
	border-collapse:collapse;
}

select{
	height:22px;
}

input[type="checkbox"],
input[type="radio"]{
	display:inline-block;
	vertical-align:middle;
	margin:2px 3px 0 0;
}

input[type="text"],
input[type="password"]{
	line-height:normal;
	padding:3px;
}

textarea{
	padding:3px 4px;
}

input[type="text"]:read-only{
	color:#999999;
	border:1px solid #CCCCCC;
	background:#F9F9F9;
}

input[type="text"]:read-only:focus{
	border-color:#CCCCCC;
}

	input[type="text"].p100,
	input[type="password"].p100,
	textarea.p100{
		box-sizing:border-box;
		-moz-box-sizing:border-box;
	}

::-moz-placeholder{color:#CCCCCC;}
:-ms-input-placeholder{color:#CCCCCC;}
::-webkit-input-placeholder{color:#CCCCCC;}
.placeholder{color:#CCCCCC;}

a,
a:hover,
a:focus{text-decoration:none;}
	a.blank{color:#2287C7;text-decoration:none;}
	a.blank i{font-size:15px;}
	a.blank:hover{text-decoration:underline;}
	a.blank:hover i{text-decoration:none;}

	a.email{color:#666666;text-decoration:none;}
	a.email:hover{text-decoration:underline;}
	a.mailto{text-decoration:none;}
	a.disabled{cursor:default !important;}
	a.underline:hover{text-decoration:underline;}

	a.file{color:#2287C7;}
	a.file:hover{text-decoration:underline;}
	a.file:before{
		display:inline-block;
		vertical-align:-1px;
		font-family:FontAwesome;
		font-size:13px;
		font-style:normal;
		font-weight:normal;
		padding-right:6px;
		-webkit-font-smoothing:antialiased;
		content:"\f0c6";
	}

	a.name{color:#2287C7;text-decoration:none;}
	a.name:hover{text-decoration:underline;}

	a.prop{color:#2287C7;}
	a.prop:hover{text-decoration:underline;}

strong{font-weight:600;}

em{font-style:normal;}

img{vertical-align:middle;border:0;}
.holder{display:inline-block;border:1px solid #D9D9D9;}

label{display:inline-block;}
label.disabled{color:#CCCCCC;}

sup,
sub{
	position:relative;
	height:0;
	line-height:1;
	vertical-align:baseline;
}
sup{bottom:0.2em;}
sub{top:0.5em;}

.db{display:block !important;}
.di{display:inline !important;}
.dib{display:inline-block !important;}
.dn{display:none !important;}

.d-t{display:table;}
.d-tr{display:table-row;}
.d-tc{display:table-cell;}
	.d-t.pv5 .d-tc{padding-top:5px;padding-bottom:5px;}
	.d-t.pv10 .d-tc{padding-top:10px;padding-bottom:10px;}
	.d-t.ph5 .d-tc{padding-left:5px;padding-right:5px;}
	.d-t.ph10 .d-tc{padding-left:10px;padding-right:10px;}
	.d-t .d-tc.ph5{padding-left:5px;padding-right:5px;}
	.d-t .d-tc.ph10{padding-left:10px;padding-right:10px;}

.r{*zoom:1;}
.r:after{display:block;clear:both;content:" ";}
	.r > .c{display:inline;vertical-align:top;}

.fl{float:left;}
.fr{float:right;}

.ofh{overflow:hidden;}

.tal{text-align:left !important;}
.tac{text-align:center !important;}
.tar{text-align:right !important;}

.align{display:inline-block;*zoom:1;}
.align:after{display:block;clear:both;content:" ";}

.vat{vertical-align:top !important;}
.vam{vertical-align:middle !important;}
.vab{vertical-align:bottom !important;}

.lh15{line-height:1.5;}
.lh16{line-height:1.6;}
.lh17{line-height:1.7;}
.lh18{line-height:1.8;}
.lh19{line-height:1.9;}
.lh20{line-height:2.0;}

.ff-en-a{font-family:Arial, sans-serif;}
.ff-en-t{font-family:Tahoma, sans-serif;}
.ff-en-v{font-family:Verdana, sans-serif;}

.em11{font-size:1.1em;}
.em12{font-size:1.2em;}
.em13{font-size:1.3em;}
.em14{font-size:1.4em;}
.em15{font-size:1.5em;}
.em16{font-size:1.6em;}
.em17{font-size:1.7em;}
.em18{font-size:1.8em;}
.em19{font-size:1.9em;}
.em20{font-size:2.0em;}

.fs11{font-size:11px;}
.fs12{font-size:12px;}
.fs13{font-size:13px;}
.fs14{font-size:14px;}
.fs15{font-size:15px;}
.fs16{font-size:16px;}
.fs17{font-size:17px;}
.fs18{font-size:18px;}
.fs19{font-size:19px;}
.fs20{font-size:20px;}

.fwn{font-weight:normal;}
.fwb{font-weight:bold;}
.fw300{font-weight:300;}
.fw400{font-weight:400;}
.fw500{font-weight:500;}
.fw600{font-weight:600;}
.fw700{font-weight:700;}
.fw800{font-weight:800;}
.fw900{font-weight:900;}

.ls-1{letter-spacing:-1px;}

.underline{text-decoration:underline;}

.ellipsis{
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
}

.p1{width:1%;}.p2{width:2%;}.p3{width:3%;}.p4{width:4%;}.p5{width:5%;}.p6{width:6%;}.p7{width:7%;}.p8{width:8%;}.p9{width:9%;}
.p10{width:10%;}.p11{width:11%;}.p12{width:12%;}.p13{width:13%;}.p14{width:14%;}.p15{width:15%;}.p16{width:16%;}.p17{width:17%;}.p18{width:18%;}.p19{width:19%;}
.p20{width:20%;}.p21{width:21%;}.p22{width:22%;}.p23{width:23%;}.p24{width:24%;}.p25{width:25%;}.p26{width:26%;}.p27{width:27%;}.p28{width:28%;}.p29{width:29%;}
.p30{width:30%;}.p31{width:31%;}.p32{width:32%;}.p33{width:33%;}.p34{width:34%;}.p35{width:35%;}.p36{width:36%;}.p37{width:37%;}.p38{width:38%;}.p39{width:39%;}
.p40{width:40%;}.p41{width:41%;}.p42{width:42%;}.p43{width:43%;}.p44{width:44%;}.p45{width:45%;}.p46{width:46%;}.p47{width:47%;}.p48{width:48%;}.p49{width:49%;}
.p50{width:50%;}.p55{width:55%;}
.p60{width:60%;}.p65{width:65%;}
.p70{width:70%;}.p75{width:75%;}
.p80{width:80%;}.p85{width:85%;}
.p90{width:90%;}.p95{width:95%;}
.p100{width:100%;}

.w10{width:10px;}.w20{width:20px;}.w30{width:30px;}.w40{width:40px;}.w50{width:50px;}.w60{width:60px;}.w70{width:70px;}.w80{width:80px;}.w90{width:90px;}
.w100{width:100px;}.w110{width:110px;}.w120{width:120px;}.w130{width:130px;}.w140{width:140px;}.w150{width:150px;}.w160{width:160px;}.w170{width:170px;}.w180{width:180px;}.w190{width:190px;}
.w200{width:200px;}.w220{width:220px;}.w240{width:240px;}.w260{width:260px;}.w280{width:280px;}
.w300{width:300px;}.w320{width:320px;}.w340{width:340px;}.w360{width:360px;}.w380{width:380px;}
.w400{width:400px;}.w420{width:420px;}.w440{width:440px;}.w460{width:460px;}.w480{width:480px;}
.w500{width:500px;}

.mt0{margin-top:0;}.mt1{margin-top:1px;}.mt2{margin-top:2px;}.mt3{margin-top:3px;}.mt4{margin-top:4px;}.mt5{margin-top:5px;}.mt6{margin-top:6px;}.mt7{margin-top:7px;}.mt8{margin-top:8px;}.mt9{margin-top:9px;}
.mt10{margin-top:10px;}.mt11{margin-top:11px;}.mt12{margin-top:12px;}.mt13{margin-top:13px;}.mt14{margin-top:14px;}.mt15{margin-top:15px;}.mt16{margin-top:16px;}.mt17{margin-top:17px;}.mt18{margin-top:18px;}.mt19{margin-top:19px;}
.mt20{margin-top:20px;}.mt22{margin-top:22px;}.mt24{margin-top:24px;}.mt25{margin-top:25px;}.mt26{margin-top:26px;}.mt28{margin-top:28px;}
.mt30{margin-top:30px;}.mt32{margin-top:32px;}.mt34{margin-top:34px;}.mt35{margin-top:35px;}.mt36{margin-top:36px;}.mt38{margin-top:38px;}
.mt40{margin-top:40px;}.mt42{margin-top:42px;}.mt44{margin-top:44px;}.mt45{margin-top:45px;}.mt46{margin-top:46px;}.mt48{margin-top:48px;}
.mt50{margin-top:50px;}
.mt60{margin-top:60px;}
.mt70{margin-top:70px;}
.mt80{margin-top:80px;}
.mt90{margin-top:90px;}
.mt100{margin-top:100px;}

.mt-1{margin-top:-1px;}.mt-2{margin-top:-2px;}.mt-3{margin-top:-3px;}.mt-4{margin-top:-4px;}.mt-5{margin-top:-5px;}.mt-6{margin-top:-6px;}.mt-7{margin-top:-7px;}.mt-8{margin-top:-8px;}.mt-9{margin-top:-9px;}
.mt-10{margin-top:-10px;}.mt-11{margin-top:-11px;}.mt-12{margin-top:-12px;}.mt-13{margin-top:-13px;}.mt-14{margin-top:-14px;}.mt-15{margin-top:-15px;}.mt-16{margin-top:-16px;}.mt-17{margin-top:-17px;}.mt-18{margin-top:-18px;}.mt-19{margin-top:-19px;}
.mt-20{margin-top:-20px;}.mt-22{margin-top:-22px;}.mt-24{margin-top:-24px;}.mt-25{margin-top:-25px;}.mt-26{margin-top:-26px;}.mt-28{margin-top:-28px;}
.mt-30{margin-top:-30px;}.mt-32{margin-top:-32px;}.mt-34{margin-top:-34px;}.mt-35{margin-top:-35px;}.mt-36{margin-top:-36px;}.mt-38{margin-top:-38px;}
.mt-40{margin-top:-40px;}.mt-42{margin-top:-42px;}.mt-44{margin-top:-44px;}.mt-45{margin-top:-45px;}.mt-46{margin-top:-46px;}.mt-48{margin-top:-48px;}
.mt-50{margin-top:-50px;}

.mr0{margin-right:0;}.mr1{margin-right:1px;}.mr2{margin-right:2px;}.mr3{margin-right:3px;}.mr4{margin-right:4px;}.mr5{margin-right:5px;}.mr6{margin-right:6px;}.mr7{margin-right:7px;}.mr8{margin-right:8px;}.mr9{margin-right:9px;}
.mr10{margin-right:10px;}.mr12{margin-right:12px;}.mr15{margin-right:15px;}.mr16{margin-right:16px;}
.mr20{margin-right:20px;}.mr25{margin-right:25px;}
.mr30{margin-right:30px;}.mr35{margin-right:35px;}
.mr40{margin-right:40px;}.mr45{margin-right:45px;}
.mr50{margin-right:50px;}

.mb0{margin-bottom:0;}.mb1{margin-bottom:1px;}.mb2{margin-bottom:2px;}.mb3{margin-bottom:3px;}.mb4{margin-bottom:4px;}.mb5{margin-bottom:5px;}.mb6{margin-bottom:6px;}.mb7{margin-bottom:7px;}.mb8{margin-bottom:8px;}.mb9{margin-bottom:9px;}
.mb10{margin-bottom:10px;}.mb12{margin-bottom:12px;}.mb15{margin-bottom:15px;}.mb16{margin-bottom:16px;}
.mb20{margin-bottom:20px;}.mb25{margin-bottom:25px;}
.mb30{margin-bottom:30px;}.mb35{margin-bottom:35px;}
.mb40{margin-bottom:40px;}.mb45{margin-bottom:45px;}
.mb50{margin-bottom:50px;}

.ml0{margin-left:0;}.ml1{margin-left:1px;}.ml2{margin-left:2px;}.ml3{margin-left:3px;}.ml4{margin-left:4px;}.ml5{margin-left:5px;}.ml6{margin-left:6px;}.ml7{margin-left:7px;}.ml8{margin-left:8px;}.ml9{margin-left:9px;}
.ml10{margin-left:10px;}.ml12{margin-left:12px;}.ml15{margin-left:15px;}.ml16{margin-left:16px;}
.ml20{margin-left:20px;}.ml25{margin-left:25px;}
.ml30{margin-left:30px;}.ml35{margin-left:35px;}
.ml40{margin-left:40px;}.ml45{margin-left:45px;}
.ml50{margin-left:50px;}

.b0{border:0 !important;}
.bt0{border-top:0 !important;}
.br0{border-right:0 !important;}
.bb0{border-bottom:0 !important;}
.bl0{border-left:0 !important;}

.bg-grey.lv1{background:#F9F9F9;}

table{}
table caption{}
table caption.default{height:0;line-height:0;font-size:0;text-indent:-9999px;}

table th,
table td{vertical-align:middle;}
table th{text-align:center;}

table th.fwn{font-weight:normal !important;}
table th.ph0,
table td.ph0{padding-left:0 !important;padding-right:0 !important;}
table th.pv0,
table td.pv0{padding-top:0 !important;padding-bottom:0 !important;}

.table{*zoom:1;}
.table:after{display:block;clear:both;content:" ";}

.table.p100 > table{width:100%;}

.table.b0{}
.table.b0 table{border:0 !important;}
.table.b0 table th,
.table.b0 table td{border:0 !important;}

.table.ph0 table th,
.table.ph0 table td{padding-left:0;padding-right:0;}
.table.ph2 table th,
.table.ph2 table td{padding-left:2px;padding-right:2px;}
.table.ph4 table th,
.table.ph4 table td{padding-left:4px;padding-right:4px;}
.table.ph10 table th,
.table.ph10 table td{padding-left:10px;padding-right:10px;}
.table.ph20 table th,
.table.ph20 table td{padding-left:20px;padding-right:20px;}
.table.pv0 table th,
.table.pv0 table td{padding-top:0;padding-bottom:0;}
.table.pv4 table th,
.table.pv4 table td{padding-top:4px;padding-bottom:4px;}


	/* .table */
	.table table{}
	.table table th,
	.table table td{height:24px;vertical-align:middle;padding:6px;}
	.table table td.dur{text-align:center;text-indent:0.9em;padding-left:0;padding-right:0;}
	.table table th{text-align:center;background:#F6F6F6;}
	.table table td.ph8{padding-left:8px;padding-right:8px;}
	.table table td.ph10{padding-left:10px;padding-right:10px;}
	.table table td.ph12{padding-left:12px;padding-right:12px;}
	.table table th.bgn,
	.table table td.bgn{background:none;}

	/* .table.grid */
	.table.grid{border-top:1px solid #D9D9D9;border-bottom:1px solid #D9D9D9;}
	.table.grid table{}
	.table.grid table th,
	.table.grid table td{border-top:1px solid #D9D9D9;border-left:1px solid #D9D9D9;}
	.table.grid > table tr.first-child th,
	.table.grid > table tr.first-child td{border-top:0;}
	.table.grid > table tr th.first-child,
	.table.grid > table tr td.first-child{border-left:0;}

	.table.grid > table tr:first-child th,
	.table.grid > table tr:first-child td{border-top:0;}
	.table.grid > table tr th:first-child,
	.table.grid > table tr td:first-child{border-left:0;}

	.table.grid table thead tr th .field{color:#666666;}
	.table.grid table thead tr th .field i{margin-left:4px;}
	.table.grid table td.rs0{color:#CCCCCC;}
	.table.grid table td.date{text-align:center;}
	.table.grid table td.date .fromto{text-indent:-1.0em;color:#999999;}
	.table.fs11 table td .button.h20{font-size:11px;padding:0 2px;}
	.table.grid table td .button:first-child{margin-left:0;}
	.table.grid table tr.deleted th,
	.table.grid table tr.deleted td{color:#CCCCCC;}
	.table.grid table tr.deleted th a,
	.table.grid table tr.deleted td a{color:#CCCCCC;}
	.table.grid table tr.sum th,
	.table.grid table tr.sum td{font-weight:600;color:#E7290F;border-top:1px solid #E7290F;}


	/* .table.grid.outlined */
	.table.grid.outlined table{border:1px solid #D9D9D9;}

	/* .table.grid.bt1 */
	.table.bt1{border-top:1px solid #007BC0 !important;}

	/* .table.inner */
	.table.inner{border-top:0;}
	.table.inner table tbody tr:first-child > th,
	.table.inner table tbody tr:first-child > td{border-top:0 !important;}

.tlf{table-layout:fixed;}
