@charset "utf-8";

/*
@font-face{
	font-family:"Nanum Gothic";
	font-style:normal;
	font-weight:400;
	src:url("/cmsm/fonts/NanumGothic-Regular.eot");
	src:url("/cmsm/fonts/NanumGothic-Regular.eot?#iefix") format("embedded-opentype"),
		url("/cmsm/fonts/NanumGothic-Regular.woff2") format("woff2"),
		url("/cmsm/fonts/NanumGothic-Regular.woff") format("woff"),
		url("/cmsm/fonts/NanumGothic-Regular.ttf") format("truetype");
}
@font-face{
	font-family:"Nanum Gothic";
	font-style:normal;
	font-weight:700;
	src:url("/cmsm/fonts/NanumGothic-Bold.eot");
	src:url("/cmsm/fonts/NanumGothic-Bold.eot?#iefix") format("embedded-opentype"),
		url("/cmsm/fonts/NanumGothic-Bold.woff2") format("woff2"),
		url("/cmsm/fonts/NanumGothic-Bold.woff") format("woff"),
		url("/cmsm/fonts/NanumGothic-Bold.ttf") format("truetype");
}
@font-face{
	font-family:"Nanum Gothic";
	font-style:normal;
	font-weight:800;
	src:url("/cmsm/fonts/NanumGothic-ExtraBold.eot");
	src:url("/cmsm/fonts/NanumGothic-ExtraBold.eot?#iefix") format("embedded-opentype"),
		url("/cmsm/fonts/NanumGothic-ExtraBold.woff2") format("woff2"),
		url("/cmsm/fonts/NanumGothic-ExtraBold.woff") format("woff"),
		url("/cmsm/fonts/NanumGothic-ExtraBold.ttf") format("truetype");
}
*/
