@charset "UTF-8";
/* Lato WebFont */
@font-face {
    font-family: 'Lato-Light';
    src: url('../fonts/Lato-Light.eot');
    src: url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato-Light.woff2') format('woff2'),
    url('../fonts/Lato-Light.woff') format('woff'),
    url('../fonts/Lato-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('../fonts/Lato-Regular.eot');
    src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato-Regular.woff2') format('woff2'),
    url('../fonts/Lato-Regular.woff') format('woff'),
    url('../fonts/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('../fonts/Lato-Bold.eot');
    src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato-Bold.woff2') format('woff2'),
    url('../fonts/Lato-Bold.woff') format('woff'),
    url('../fonts/Lato-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

/* Nanum Barun Gothic WebFont */
@font-face {
    font-family: 'Nanum Barun Gothic';
    src: url('../fonts/NanumBarunGothicLight.eot');
    src: url('../fonts/NanumBarunGothicLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NanumBarunGothicLight.woff2') format('woff2'),
    url('../fonts/NanumBarunGothicLight.woff') format('woff'),
    url('../fonts/NanumBarunGothicLight.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Nanum Barun Gothic';
    src: url('../fonts/NanumBarunGothic.eot');
    src: url('../fonts/NanumBarunGothic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NanumBarunGothic.woff2') format('woff2'),
    url('../fonts/NanumBarunGothic.woff') format('woff'),
    url('../fonts/NanumBarunGothic.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Nanum Barun Gothic';
    src: url('../fonts/NanumBarunGothicBold.eot');
    src: url('../fonts/NanumBarunGothicBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NanumBarunGothicBold.woff2') format('woff2'),
    url('../fonts/NanumBarunGothicBold.woff') format('woff'),
    url('../fonts/NanumBarunGothicBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

/* Noto Sans(100,300,400,500,700) */
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/NotoSansKR-Thin.woff2') format('woff2'),
    url('../fonts/NotoSansKR-Thin.woff') format('woff'),
    url('../fonts/NotoSansKR-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/NotoSansKR-Light.woff2') format('woff2'),
    url('../fonts/NotoSansKR-Light.woff') format('woff'),
    url('../fonts/NotoSansKR-Light.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/NotoSansKR-Regular.woff2') format('woff2'),
    url('../fonts/NotoSansKR-Regular.woff') format('woff'),
    url('../fonts/NotoSansKR-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/NotoSansKR-Medium.woff2') format('woff2'),
    url('../fonts/NotoSansKR-Medium.woff') format('woff'),
    url('../fonts/NotoSansKR-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/NotoSansKR-Bold.woff2') format('woff2'),
    url('../fonts/NotoSansKR-Bold.woff') format('woff'),
    url('../fonts/NotoSansKR-Bold.otf') format('opentype');
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, a, address,
del, em, img, strong, dl, dt, dd, ol,
ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead,
tr, th, td, article, aside, canvas,
details, embed, figure, figcaption,
footer, header, hgroup, main, menu,
nav, output, ruby, section, summary,
time, mark, audio, video, textarea {
    margin: 0;
    padding: 0;
    border: 0;
}

body, html {
    min-width: 1340px;
}

main, article, aside, details,
figcaption, figure, footer,
header, hgroup, menu, nav, section {
    display: block;
}

ol, ul, li {
    font-size: 0;
    list-style: none;
}

table, th, td {
    border-collapse: collapse;
    border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 0;
}

input, textarea, select, td, th {
    vertical-align: middle;
}

b {
    font-weight: bold !important;
}

a {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    text-decoration: none;
    color: #000;
}

em, address {
    font-style: normal;
}

fieldset {
    border: 0;
    vertical-align: top;
}

button {
    display: inline-block;
    font-size: 0;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
}

select::-ms-expand {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}

select {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: 0;
    outline: none;
}

input[type=checkbox], input[type=radio], input[type=text], input[type=password] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: 0;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

input[type=text]::-ms-clear {
    display: none;
}

legend, .blind {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

body, input, select, textarea, button, label, a, li, th, td, h1, h2, h3, h4, h5, h6, p {
    font-size: 12px;
    font-family: 'Lato-Regular', 'Nanum Barun Gothic', Nanum Barun Gothic, sans-serif;
    font-weight: 400;
}

:lang(zh) body, :lang(zh) input, :lang(zh) select, :lang(zh) textarea, :lang(zh) button, :lang(zh) label, :lang(zh) a, :lang(zh) li, :lang(zh) th, :lang(zh) td, :lang(zh) h1, :lang(zh) h2, :lang(zh) h3, :lang(zh) h4, :lang(zh) h5, :lang(zh) h6, :lang(zh) p {
    font-size: 12px;
    font-family: 'Noto Sans', 'Lato-Regular', sans-serif;
    font-weight: 400;
}

:lang(ja) body, :lang(ja) input, :lang(ja) select, :lang(ja) textarea, :lang(ja) button, :lang(ja) label, :lang(ja) a, :lang(ja) li, :lang(ja) th, :lang(ja) td, :lang(ja) h1, :lang(ja) h2, :lang(ja) h3, :lang(ja) h4, :lang(ja) h5, :lang(ja) h6, :lang(ja) p {
    font-size: 12px;
    font-family: 'Noto Sans', 'Lato-Regular', sans-serif;
    font-weight: 400;
}

::-webkit-input-placeholder {
    font-size: 14px !important;
    color: #999 !important;
}

::-moz-placeholder {
    font-size: 14px !important;
    color: #999 !important;
}

:-ms-input-placeholder {
    font-size: 14px !important;
    color: #999 !important;
}

:-moz-placeholder {
    font-size: 14px !important;
    color: #999 !important;
}

:lang(ko) {
    font-family: 'Nanum Barun Gothic', Nanum Barun Gothic, 'Lato-Regular', sans-serif;
    font-weight: 400;
}

:lang(en) {
    font-family: 'Lato-Regular', sans-serif;
    font-weight: 400;
}

:lang(zh) {
    font-family: 'Noto Sans', 'Lato-Regular', sans-serif;
    font-weight: 400;
}

:lang(ja) {
    font-family: 'Noto Sans', 'Lato-Regular', sans-serif;
    font-weight: 400;
}

select {
    font-size: 12px;
    font-family: 'Lato-Regular', 'Nanum Barun Gothic', Nanum Barun Gothic, sans-serif !important;
    font-weight: 400;
}

:lang(zh) select, :lang(ja) select {
    font-size: 12px;
    font-family: 'Noto Sans', 'Lato-Regular', sans-serif;
    font-weight: 400;
}

.loading {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 800px;
    height: 490px;
    background: #000;
}

.loading:before {
    content: '';
    width: 76px;
    height: 78px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -39px 0 0 -38px;
    background: url('../../asset/images/loading.png') center center no-repeat;
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Slider */
.slick-slider {
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before,
.slick-track:after {
    display: table;

    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;

    height: auto;

    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

/*
.cropper-container {
    direction: ltr;
    font-size: 0;
    line-height: 0;
    position: relative;
    -ms-touch-action: none;
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cropper-container img {
    display: block;
    height: 100%;
    image-orientation: 0deg;
    max-height: none !important;
    max-width: none !important;
    min-height: 0 !important;
    min-width: 0 !important;
    width: 100%;
}

.cropper-wrap-box,
.cropper-canvas,
.cropper-drag-box,
.cropper-crop-box,
.cropper-modal {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.cropper-wrap-box,
.cropper-canvas {
    overflow: hidden;
}

.cropper-drag-box {
    background-color: #fff;
    opacity: 0;
}

.cropper-modal {
    background-color: #000;
    opacity: .5;
}

.cropper-view-box {
    display: block;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.cropper-dashed {
    display: none;
}

.cropper-center {
    display: none;
}

.cropper-face,
.cropper-line,
.cropper-point {
    display: block;
    height: 100%;
    opacity: .1;
    position: absolute;
    width: 100%;
}

.cropper-face {
    background-color: #fff;
    left: 0;
    top: 0;
}

.cropper-line {
    display: none;
}

.cropper-point {
    display: none;
}

.cropper-invisible {
    opacity: 0;
}

.cropper-bg {
}

.cropper-hide {
    display: block;
    height: 0;
    position: absolute;
    width: 0;
}

.cropper-hidden {
    display: none !important;
}

.cropper-move {
    cursor: move;
}

.cropper-crop {
    cursor: crosshair;
}

.cropper-disabled .cropper-drag-box,
.cropper-disabled .cropper-face,
.cropper-disabled .cropper-line,
.cropper-disabled .cropper-point {
    cursor: not-allowed;
}
*/

.cropper-container {
    direction: ltr;
    font-size: 0;
    line-height: 0;
    position: relative;
    -ms-touch-action: none;
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cropper-container img {
    /*Avoid margin top issue (Occur only when margin-top <= -height)
     */
    display: block;
    height: 100%;
    image-orientation: 0deg;
    max-height: none !important;
    max-width: none !important;
    min-height: 0 !important;
    min-width: 0 !important;
    width: 100%;
}

.cropper-wrap-box,
.cropper-canvas,
.cropper-drag-box,
.cropper-crop-box,
.cropper-modal {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.cropper-wrap-box,
.cropper-canvas {
    overflow: hidden;
}

.cropper-drag-box {
    background-color: #fff;
    opacity: 0;
}

.cropper-modal {
    background-color: #000;
    opacity: .5;
}

.cropper-view-box {
    display: block;
    height: 100%;
    outline-color: rgba(51, 153, 255, 0.75);
    outline: 1px solid #39f;
    overflow: hidden;
    width: 100%;
}

.cropper-dashed {
    border: 0 dashed #eee;
    display: block;
    opacity: .5;
    position: absolute;
}

.cropper-dashed.dashed-h {
    border-bottom-width: 1px;
    border-top-width: 1px;
    height: 33.33333%;
    left: 0;
    top: 33.33333%;
    width: 100%;
}

.cropper-dashed.dashed-v {
    border-left-width: 1px;
    border-right-width: 1px;
    height: 100%;
    left: 33.33333%;
    top: 0;
    width: 33.33333%;
}

.cropper-center {
    display: block;
    height: 0;
    left: 50%;
    opacity: .75;
    position: absolute;
    top: 50%;
    width: 0;
}

.cropper-center:before,
.cropper-center:after {
    background-color: #eee;
    content: ' ';
    display: block;
    position: absolute;
}

.cropper-center:before {
    height: 1px;
    left: -3px;
    top: 0;
    width: 7px;
}

.cropper-center:after {
    height: 7px;
    left: 0;
    top: -3px;
    width: 1px;
}

.cropper-face,
.cropper-line,
.cropper-point {
    display: block;
    height: 100%;
    opacity: .1;
    position: absolute;
    width: 100%;
}

.cropper-face {
    background-color: #fff;
    left: 0;
    top: 0;
}

.cropper-line {
    background-color: #39f;
}

.cropper-line.line-e {
    cursor: ew-resize;
    right: -3px;
    top: 0;
    width: 5px;
}

.cropper-line.line-n {
    cursor: ns-resize;
    height: 5px;
    left: 0;
    top: -3px;
}

.cropper-line.line-w {
    cursor: ew-resize;
    left: -3px;
    top: 0;
    width: 5px;
}

.cropper-line.line-s {
    bottom: -3px;
    cursor: ns-resize;
    height: 5px;
    left: 0;
}

.cropper-point {
    background-color: #39f;
    height: 5px;
    opacity: .75;
    width: 5px;
}

.cropper-point.point-e {
    cursor: ew-resize;
    margin-top: -3px;
    right: -3px;
    top: 50%;
}

.cropper-point.point-n {
    cursor: ns-resize;
    left: 50%;
    margin-left: -3px;
    top: -3px;
}

.cropper-point.point-w {
    cursor: ew-resize;
    left: -3px;
    margin-top: -3px;
    top: 50%;
}

.cropper-point.point-s {
    bottom: -3px;
    cursor: s-resize;
    left: 50%;
    margin-left: -3px;
}

.cropper-point.point-ne {
    cursor: nesw-resize;
    right: -3px;
    top: -3px;
}

.cropper-point.point-nw {
    cursor: nwse-resize;
    left: -3px;
    top: -3px;
}

.cropper-point.point-sw {
    bottom: -3px;
    cursor: nesw-resize;
    left: -3px;
}

.cropper-point.point-se {
    bottom: -3px;
    cursor: nwse-resize;
    height: 20px;
    opacity: 1;
    right: -3px;
    width: 20px;
}

@media (min-width: 768px) {
    .cropper-point.point-se {
        height: 15px;
        width: 15px;
    }
}

@media (min-width: 992px) {
    .cropper-point.point-se {
        height: 10px;
        width: 10px;
    }
}

@media (min-width: 1200px) {
    .cropper-point.point-se {
        height: 5px;
        opacity: .75;
        width: 5px;
    }
}

.cropper-point.point-se:before {
    background-color: #39f;
    bottom: -50%;
    content: ' ';
    display: block;
    height: 200%;
    opacity: 0;
    position: absolute;
    right: -50%;
    width: 200%;
}

.cropper-invisible {
    opacity: 0;
}

.cropper-bg {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC');
}

.cropper-hide {
    display: block;
    height: 0;
    position: absolute;
    width: 0;
}

.cropper-hidden {
    display: none !important;
}

.cropper-move {
    cursor: move;
}

.cropper-crop {
    cursor: crosshair;
}

.cropper-disabled .cropper-drag-box,
.cropper-disabled .cropper-face,
.cropper-disabled .cropper-line,
.cropper-disabled .cropper-point {
    cursor: not-allowed;
}

/*!
 * fullPage 2.9.7
 * https://github.com/alvarotrigo/fullPage.js
 * MIT licensed
 *
 * Copyright (C) 2013 alvarotrigo.com - A project by Alvaro Trigo
 */
html.fp-enabled,
.fp-enabled body {
    margin: 0;
    padding: 0;
    overflow: hidden;

    /*Avoid flicker on slides transitions for mobile phones #336 */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.fp-section {
    position: relative;
    -webkit-box-sizing: border-box; /* Safari<=5 Android<=3 */
    -moz-box-sizing: border-box; /* <=28 */
    box-sizing: border-box;
}

.fp-slide {
    float: left;
}

.fp-slide, .fp-slidesContainer {
    height: 100%;
    display: block;
}

.fp-slides {
    z-index: 1;
    height: 100%;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.3s ease-out; /* Safari<=6 Android<=4.3 */
    transition: all 0.3s ease-out;
}

.fp-section.fp-table, .fp-slide.fp-table {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.fp-tableCell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.fp-slidesContainer {
    float: left;
    position: relative;
}

.fp-controlArrow {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
    position: absolute;
    z-index: 4;
    top: 50%;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    margin-top: -38px;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.fp-controlArrow.fp-prev {
    left: 15px;
    width: 0;
    border-width: 38.5px 34px 38.5px 0;
    border-color: transparent #fff transparent transparent;
}

.fp-controlArrow.fp-next {
    right: 15px;
    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent #fff;
}

.fp-scrollable {
    overflow: hidden;
    position: relative;
}

.fp-scroller {
    overflow: hidden;
}

.iScrollIndicator {
    border: 0 !important;
}

.fp-notransition {
    -webkit-transition: none !important;
    transition: none !important;
}

#fp-nav {
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    top: 50%;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
}

#fp-nav.right {
    right: 17px;
}

#fp-nav.left {
    left: 17px;
}

.fp-slidesNav {
    position: absolute;
    z-index: 4;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0 !important;
    right: 0;
    margin: 0 auto !important;
}

.fp-slidesNav.bottom {
    bottom: 17px;
}

.fp-slidesNav.top {
    top: 17px;
}

#fp-nav ul,
.fp-slidesNav ul {
    margin: 0;
    padding: 0;
}

#fp-nav ul li,
.fp-slidesNav ul li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position: relative;
}

.fp-slidesNav ul li {
    display: inline-block;
}

#fp-nav ul li a,
.fp-slidesNav ul li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
    height: 12px;
    width: 12px;
    margin: -6px 0 0 -6px;
    border-radius: 100%;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 4px;
    width: 4px;
    border: 0;
    background: #333;
    left: 50%;
    top: 50%;
    margin: -2px 0 0 -2px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
    width: 10px;
    height: 10px;
    margin: -5px 0px 0px -5px;
}

#fp-nav ul li .fp-tooltip {
    position: absolute;
    top: -2px;
    color: #fff;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    display: block;
    opacity: 0;
    width: 0;
    cursor: pointer;
}

#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1;
}

#fp-nav ul li .fp-tooltip.right {
    right: 20px;
}

#fp-nav ul li .fp-tooltip.left {
    left: 20px;
}

.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell {
    height: auto !important;
}

.fp-responsive .fp-auto-height-responsive.fp-section,
.fp-responsive .fp-auto-height-responsive .fp-slide,
.fp-responsive .fp-auto-height-responsive .fp-tableCell {
    height: auto !important;
}

/* button */
.bt-red {
    position: relative;
    display: block;
    width: 122px;
    height: 19px;
    margin: 0 auto;
    background: #d60035;
    text-indent: -9999px;
    overflow: hidden;
}

.bt-red:after, .bt-red:before {
    content: '';
    position: absolute;
    top: 5px;
    width: 33px;
    height: 8px;
    background: url('../../asset/images/icons.png') no-repeat;
}

.bt-red:after {
    left: 75px;
}

.bt-red:before {
    left: -33px;
}

.bt-red.white:after, .bt-red.white:before {
    background-position: -54px 0;
}

.bt-red.black:after, .bt-red.black:before {
    background-position: -54px -16px;
}

.bt-red:hover:after {
    animation-name: arrow;
    animation-delay: .1s;
    animation-duration: .3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    -ms-animation-name: arrow;
    -ms-animation-delay: .1s;
    -ms-animation-duration: .3s;
    -ms-animation-iteration-count: 1;
    -ms-animation-fill-mode: forwards;
    -webkit-animation-name: arrow;
    -webkit-animation-delay: .1s;
    -webkit-animation-duration: .3s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
}

.bt-red:hover:before {
    animation-name: arrow-arrow;
    animation-delay: .3s;
    animation-duration: .3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    -ms-animation-name: arrow-arrow;
    -ms-animation-delay: .3s;
    -ms-animation-duration: .3s;
    -ms-animation-iteration-count: 1;
    -ms-animation-fill-mode: forwards;
    -webkit-animation-name: arrow-arrow;
    -webkit-animation-delay: .3s;
    -webkit-animation-duration: .3s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
}

@keyframes arrow {
    from {
        left: 75px;
        opacity: 1;
    }
    100% {
        left: 122px;
        opacity: 0;
    }
}

@-webkit-keyframes arrow {
    from {
        left: 75px;
        opacity: 1;
    }
    100% {
        left: 122px;
        opacity: 0;
    }
}

@-ms-keyframes arrow {
    from {
        left: 75px;
        opacity: 1;
    }
    100% {
        left: 122px;
        opacity: 0;
    }
}

@keyframes arrow-arrow {
    from {
        left: -33px;
        opacity: 1;
    }
    100% {
        left: 75px;
        opacity: 1;
    }
}

@-webkit-keyframes arrow-arrow {
    from {
        left: -33px;
        opacity: 1;
    }
    100% {
        left: 75px;
        opacity: 1;
    }
}

@-ms-keyframes arrow-arrow {
    from {
        left: -33px;
        opacity: 1;
    }
    100% {
        left: 75px;
        opacity: 1;
    }
}

.bt-full {
    position: relative;
    font-size: 16px;
    display: block;
    width: 185px;
    height: 43px;
    line-height: 43px;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
}

.bt-full:after {
    content: '';
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-width: 0px;
    border-style: solid;
    transition: .3s;
    -ms-transition: .3s;
    -webkit-transition: .3s;
}

.bt-full.black {
    background: #000;
}

.bt-full.black:after {
    border-color: #c50233;
}

.bt-full.red {
    background: #c50233;
}

.bt-full.red:after {
    border-color: #000;
}

.bt-full:hover:after {
    border-width: 8px;
}

.bt-full.gray {
    background: #666;
}

.bt-full.gray:after {
    border-color: #c50233;
}

.bt-full-ico {
    position: relative;
    font-size: 16px;
    display: block;
    width: 185px;
    height: 46px;
    line-height: 46px;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
}

.bt-full-ico:after {
    content: '';
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-width: 0px;
    border-style: solid;
    transition: .3s;
    -ms-transition: .3s;
    -webkit-transition: .3s;
}

.bt-full-ico.black {
    background: #000;
}

.bt-full-ico.black:after {
    border-color: #c50233;
}

.bt-full-ico.red {
    background: #c50233;
}

.bt-full-ico.red:after {
    border-color: #000;
}

.bt-full-ico:hover:after {
    border-width: 8px;
}

.bt-full-ico.gray {
    background: #666;
}

.bt-full-ico.gray:after {
    border-color: #c50233;
}

.bt-line {
    font-size: 16px;
    display: block;
    padding: 0 10px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #000;
    color: #000;
    text-align: center;
    font-size: 16px;
}

.bt-more {
    position: relative;
    padding-right: 70px;
    font-size: 15px;
    font-family: 'Lato-Regular';
    color: #000;
}

.bt-more:after {
    content: '';
    background: url('../../asset/images/icons.png') no-repeat;
    width: 61px;
    height: 10px;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -7px;
    background-position: 0 -41px;
}

.bt-more:hover {
    color: #c50233;
}

.bt-more:hover:after {
    background-position: 0 -51px;
}

.bt-more2 {
    position: relative;
    font-size: 13px;
    font-family: 'Lato-Regular';
    width: 122px;
    height: 29px;
    line-height: 29px;
    background: #d60035;
    color: #fff;
    text-align: left;
    text-indent: 33px;
}

.bt-more2:after {
    content: '';
    position: absolute;
    top: 11px;
    right: 22px;
    width: 29px;
    height: 6px;
    background: url(../../asset/images/icons.png) no-repeat;
    background-position: -208px -13px;
}

.bt-more2:hover:after {
    animation-name: more-arrow;
    animation-duration: .2s;
    animation-iteration-count: 1;
    -ms-animation-name: more-arrow;
    -ms-animation-duration: .2s;
    -ms-animation-iteration-count: 1;
    -webkit-animation-name: more-arrow;
    -webkit-animation-duration: .2s;
    -webkit-animation-iteration-count: 1;
}

@keyframes more-arrow {
    from {
        right: 122px;
        opacity: .5;
    }
    100% {
        right: 22px;
        opacity: 1;
    }
}

@-webkit-keyframes more-arrow {
    from {
        right: 122px;
        opacity: .5;
    }
    100% {
        right: 22px;
        opacity: 1;
    }
}

@-ms-keyframes more-arrow {
    from {
        right: 122px;
        opacity: .5;
    }
    100% {
        right: 22px;
        opacity: 1;
    }
}

.read-more {
    margin-top: 30px;
}

.read-more button {
    position: relative;
    width: 100%;
    height: 50px;
    font-family: 'Lato-Bold';
    font-size: 15px;
}

.read-more button:after {
    content: '';
    margin-left: 8px;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url('../../asset/images/icons.png') no-repeat;
    background-position: -293px -225px
}

.bt-all {
    position: relative;
    padding-right: 70px;
}

.bt-all:after {
    content: '';
    background: url('../../asset/images/icons.png') no-repeat;
    position: absolute;
    width: 62px;
    height: 10px;
    top: 50%;
    right: 0;
    margin-top: -7px;
    background-position: 0 -41px;
}

.bt-all:hover {
    color: #c50233;
}

.bt-all:hover:after {
    background-position: 0 -51px;
}

.bt-tip {
    margin-left: 5px;
    font-size: 14px;
    font-family: 'Lato-Bold';
    border: 1px solid #9b9b9b;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 20px;
    text-align: center;
    color: #171718;
}

.bt-tip:hover {
    background: #000;
    color: #fff;
}

/* select */
.select {
    position: relative;
    display: block;
    border-bottom: 1px solid #bbb;
}

.select.inline {
    display: inline-block;
}

.select:after {
    content: '';
    width: 15px;
    height: 7px;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -4px;
    background: url('../../asset/images/icons.png') no-repeat;
    background-position: -220px 0;
}

.select select {
    width: 100%;
    height: 39px;
    padding-left: 5px;
    font-size: 14px;
    background: transparent;
}

.select.error {
    border-color: #c50233;
}

.select.error select {
    color: #c50233;
    font-weight: bold;
}

.select.error:after {
    background-position: -220px -27px;
}

.select.active {
    border-color: #000;
}

.select.active select {
    color: #000;
    font-weight: bold;
}

/* input */
.error-msg {
    font-size: 14px !important;
    line-height: 150% !important;
    display: block !important;
    color: #c50233 !important;
    margin-top: 5px !important;
}

.pass-msg {
    display: block !important;
    margin-top: 5px !important;
}

.input {
    position: relative;
    display: block;
    border-bottom: 1px solid #bbb;
}

.input.inline {
    display: inline-block;
}

.input input {
    width: 100%;
    height: 39px;
    text-indent: 10px;
    font-size: 14px;
}

.input.eng input {
    font-family: 'Lato-Regular';
}

.input.error {
    border-color: #c50233;
    font-weight: 700;
}

.input.error input {
    font-weight: 700;
    color: #c50233;
}

.input.eng.error input {
    font-family: 'Lato-Bold';
}

.input.pass {
    border-bottom: 3px solid #00b050;
}

.input.pass input {
    color: #000;
}

.input.active {
    border-color: #000;
    font-weight: 700;
}

.input.active input {
    font-weight: 700;
    color: #000;
}

.input-file {
    position: relative;
}

.input-file .input {
    margin-right: 60px;
}

.input-file button {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 48px;
}

.input-tips {
    font-size: 14px;
    margin-top: 15px;
    line-height: 150%;
}

/* select */
.textarea {
    position: relative;
    display: block;
    border: 1px solid #bbb;
    padding: 10px;
}

.textarea textarea {
    width: 100%;
    height: 140px;
    font-size: 14px;
}

/* checkbox */
.check {
    display: inline-block;
    margin: 15px 0;
}

.check input {
    opacity: 0;
    position: absolute;
}

.check input[type=checkbox] + label {
    position: relative;
    padding-left: 26px;
    color: #8a9093;
    font-size: 14px;
    cursor: pointer;
    display: block;
    height: 16px;
}

.check input[type=checkbox] + label:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    border: 1px solid #8a9093;
    width: 16px;
    height: 16px;
    line-height: 16px;
    transition: 0.3s;
    -ms-transition: 0.3s;
    -webkit-transition: 0.3s;
}

.check input[type=checkbox]:checked + label {
    color: #000;
}

.check input[type=checkbox]:checked + label:before {
    border: 5px solid #c70e38;
}

/* radio */
.radio {
    display: inline-block;
    margin: 15px 0;
}

.radio input {
    opacity: 0;
    position: absolute;
}

.radio input[type=radio] + label {
    position: relative;
    padding-left: 26px;
    color: #222;
    font-size: 15px;
    cursor: pointer;
    display: block;
    height: 16px;
}

.radio input[type=radio] + label:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #bebebe;
    background: #fff;
    border-radius: 16px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    transition: 0.3s;
    -ms-transition: 0.3s;
    -webkit-transition: 0.3s;
}

.radio input[type=radio]:checked + label:before {
    border: 1px solid #c70e38;
    background: #c70e38;
}

.radio2 {
    display: inline-block;
    margin: 15px 0;
}

.radio2 input {
    opacity: 0;
    position: absolute;
}

.radio2 input[type=radio] + label {
    position: relative;
    padding-left: 26px;
    color: #8a9093;
    font-size: 14px;
    cursor: pointer;
    display: block;
    height: 16px;
}

.radio2 input[type=radio] + label:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    border: 1px solid #555;
    width: 16px;
    height: 16px;
    line-height: 16px;
    transition: 0.3s;
    -ms-transition: 0.3s;
    -webkit-transition: 0.3s;
}

.radio2 input[type=radio]:checked + label {
    color: #fff;
}

.radio2 input[type=radio]:checked + label:before {
    border: 5px solid #c70e38;
}

/* layer */
.sy-layer {
    display: none;
    position: absolute;
    z-index: 1001;
    background: #fff;
}

.sy-layer .layer-close {
    text-indent: -9999px;
    position: absolute;
    top: 40px;
    right: 40px;
    width: 28px;
    height: 28px;
    background: url('../../asset/images/icons.png') no-repeat;
    background-position: -134px -513px;
}

.sy-layer2 {
    display: none;
    position: absolute;
    width: 100%;
    max-width: 600px;
    left: 0;
    z-index: 1001;
    box-sizing: border-box;
}

.sy-layer2 .layer-inner {
    position: relative;
    padding: 125px 25px 45px 25px;
    border: 20px solid #e7e9eb;
    margin: 0 25px;
    background: #fff;
}

.sy-layer2 .logo a {
    position: absolute;
    top: 40px;
    left: 40px;
    text-indent: -9999px;
    width: 123px;
    height: 37px;
    background: url(../../asset/images/img_SAMYANG.svg) center center no-repeat;
    background-size: 123px 37px;
    display: inline-block;
}

.sy-layer2 .close {
    text-indent: -9999px;
    position: absolute;
    top: 40px;
    right: 50px;
    width: 28px;
    height: 28px;
    background: url('../../asset/images/icons.png') no-repeat;
    background-position: -134px -513px;
}

.sy-layer2 .camera-list {
    font-size: 0;
}

.sy-layer2 .camera-list .col {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

.sy-layer2 .camera-list dl {
    margin-bottom: 20px;
    line-height: 150%;
}

.sy-layer2 .camera-list dt {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 700;
}

.sy-layer2 .camera-list dd {
    font-size: 12px;
    line-height: 150%;
}

.sy-layer2 .camera-list .col:first-child dl {
    margin-left: 60px;
}

.sy-layer2 .camera-list .col:last-child dl {
    margin-left: 40px;
}

/* tab */
.tabs {
    position: relative;
    margin: 0 auto;
}

.tabs:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 12px;
    height: 20px;
    background: url('../../asset/images/icons.png') no-repeat;
    background-position: -138px -555px;
}

.tabs li {
    position: relative;
    display: inline-block;
    vertical-align: top;
    background: #e8e9eb;
}

.tabs.t2 li {
    width: 50%;
}

.tabs.t3 li {
    width: 33.33%;
}

.tabs.t4 li {
    width: 25%;
}

.tabs.t5 li {
    width: 20%;
}

.tabs.t6 li {
    width: 16.66%;
}

.tabs.t7 li {
    width: 14.28%;
}

.tabs.t8 li {
    width: 12.5%;
}

.tabs li:before {
    content: '';
    width: 1px;
    height: 18px;
    background: #ccc;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -9px;
}

.tabs li:first-child:before {
    display: none;
}

.tabs a {
    position: relative;
    z-index: 2;
    display: block;
    height: 60px;
    text-align: center;
}

.tabs a:after {
    content: '';

}

.tabs span {
    position: absolute;
    left: 0;
    top: 23px;
    z-index: 1;
    font-size: 14px;
    letter-spacing: -1px;
    width: 100%;
}

:lang(ko) .tabs span {
}

:lang(en) .tabs span {
    font-family: 'Lato-Regular';
}

.tabs li.selected a:before {
    content: '';
    padding-right: 1px;
    position: absolute;
    top: 0;
    right: -1px;
    width: 100%;
    height: 100%;
    background: #c50233;
}

.tabs li.selected span {
    color: #fff;
}

.tabs li.selected a:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: -1px;
    width: 12px;
    height: 20px;
    background: url('../../asset/images/icons.png') no-repeat;
    background-position: -192px 0;
}

.tabs a:hover span {
    color: #fff;
}

.tabs a:hover:before {
    content: '';
    padding-right: 1px;
    position: absolute;
    top: 0;
    right: -1px;
    width: 100%;
    height: 100%;
    background: #c50233;
}

.tabs a:hover:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: -1px;
    width: 12px;
    height: 20px;
    background: url('../../asset/images/icons.png') no-repeat;
    background-position: -192px 0;
}

.tabs li:last-child.selected a:after {
    background-position: -155px -555px;
}

.tabs li:last-child a:hover:after {
    background-position: -155px -555px;
}

.tabs li.two-line a {
}

.tabs li.two-line span {
    top: 14px;
}

.tabs2 {
    border: 1px solid #dadada;
    width: 1100px;
    margin: 70px auto 0 auto;
}

.tabs2 .tab li {
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

.tabs2 .tab.t2 li {
    width: 50%;
}

.tabs2 .tab.t3 li {
    width: 33.33%;
}

.tabs2 .tab.t4 li {
    width: 25%;
}

.tabs2 .tab.t5 li {
    width: 20%;
}

.tabs2 .tab a {
    position: relative;
    display: block;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #e8e9eb;
    font-size: 18px;
    font-family: 'Lato-Light';
    letter-spacing: -1px;
}

.tabs2 .tab a.selected {
    color: #c50233;
    background: #fff;
}

.tabs2 .tab-conts {
    padding: 80px 90px 40px 90px;
}

.tabs3 {
    width: 1140px;
    margin: 0 auto;
}

.tabs3 li {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.tabs3.t2 li {
    width: 50%;
}

.tabs3.t3 li {
    width: 33.33%;
}

.tabs3.t4 li {
    width: 25%;
}

.tabs3.t5 li {
    width: 20%;
}

.tabs3.t6 li {
    width: 16.66%;
}

.tabs3.t7 li {
    width: 14.28%;
}

.tabs3.t8 li {
    width: 12.5%;
}

.tabs3 li:first-child:before {
    content: '';
    width: 11px;
    height: 11px;
    position: absolute;
    top: 0;
    left: -1px;
    z-index: 1;
    background: url('../../asset/images/icons.png') no-repeat;
    background-position: -82px -559px;
}

.tabs3 span {
    position: relative;
    z-index: 1;
    font-size: 14px;
    font-family: 'Lato-Regular';
    letter-spacing: -1px;
}

.tabs3 a {
    position: relative;
    display: block;
    height: 70px;
    line-height: 80px;
    text-align: center;
    background: #e2e6e9;
}

.tabs3 a:before {
    content: '';
    width: 1px;
    height: 18px;
    background: #ccc;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -6px;
}

.tabs3 a.selected {
    line-height: 60px;
}

.tabs3 a.selected span {
    padding-right: 1px;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 164px;
    height: 60px;
    margin-left: -82px;
    background: #fff;
    color: #000;
}

.tabs3 a.selected span:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 12px;
    height: 12px;
    background: url('../../asset/images/icons.png') no-repeat;
    background-position: -104px -560px;
}

.tabs3 a:hover {
    line-height: 60px;
}

.tabs3 a:hover span {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 164px;
    height: 60px;
    margin-left: -82px;
    background: #fff;
    color: #000;
}

.tabs3 a:hover span:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 12px;
    height: 12px;
    background: url('../../asset/images/icons.png') no-repeat;
    background-position: -104px -560px;
}

.tabs3 li:first-child a:before {
    display: none;
}

.tab-subs {
    margin: 30px 0 0 20px;
}

.tab-subs .first li {
    display: inline-block;
    margin-right: 10px;
    border: 1px solid #bbb;
    transition: 0.3s;
    -ms-transition: 0.3s;
    -webkit-transition: 0.3s;
}

.tab-subs .first a {
    font-size: 12px;
    font-family: 'Lato-Regular';
    display: block;
    border: 1px solid #fff;
    height: 36px;
    line-height: 36px;
    padding: 0 20px;
    text-align: center;
    transition: 0.3s;
    -ms-transition: 0.3s;
    -webkit-transition: 0.3s;
}

.tab-subs .first li.active {
    border: 1px solid #c50233;
}

.tab-subs .first li.active a {
    color: #c50233;
    border: 1px solid #c50233;
    font-family: 'Lato-Regular';
}

.tab-subs .first li:hover {
    border: 1px solid #c50233;
}

.tab-subs .first li:hover a {
    color: #c50233;
    border: 1px solid #c50233;
}

.tab-subs .second {
    margin-top: 20px;
}

.tab-subs .second li {
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 10px;
}

.tab-subs .second a {
    font-size: 14px;
    font-family: 'Lato-Light';
}

.tab-subs .second li.active {
}

.tab-subs .second li.active a {
    font-family: 'Lato-Bold';
    text-decoration: underline;
}

/* table */
.board-util {
    text-align: right;
    min-width: 1080px;
    max-width: 1140px;
    margin: 60px auto 50px auto;
    font-size: 0;
}

.board-util .select {
    margin-right: 5px;
}

.board-util .select, .board-util .input {
    border-bottom: 1px solid #000;
}

.board-util button {
    position: relative;
    width: 45px;
    height: 40px;
    text-indent: -9999px;
}

.board-util button:before {
    content: '';
    width: 18px;
    height: 17px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -9px 0 0 -9px;
    background: url('../../asset/images/icons.png') no-repeat;
    background-position: -244px 0;
}

.tb-list {
    margin: 0 auto;
}

.tb-list table {
    width: 100%;
    border-top: 4px solid #404040;
    border-bottom: 4px solid #404040;
}

.tb-list thead th {
    height: 70px;
    text-align: center;
    font-size: 16px;
}

:lang(ko) .tb-list thead th {
    font-weight: 700;
}

:lang(en) .tb-list thead th {
    font-family: 'Lato-Bold';
}

:lang(zh) .tb-list thead th {
    font-weight: 700;
}

:lang(ja) .tb-list thead th {
    font-weight: 700;
}

.tb-list tbody td {
    text-align: center;
    height: 50px;
    padding: 10px 0;
    border-top: 1px solid #191919;
    font-size: 14px;

}

:lang(en) .tb-list tbody td {
    font-family: 'Lato-Regular';
}

.tb-list tbody td.subject {
    text-align: left;
    padding: 10px 0 10px 30px;
}

.tb-list tbody td.subject a {
    width: 700px;
    padding: 10px 0;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
}

:lang(en) .tb-list tbody td a {
    font-size: 14px;
    font-family: 'Lato-Regular';
}

.tb-list tbody td.subject a:hover {
    text-decoration: underline;
}

.tb-list .addr {
    line-height: 170%;
    text-align: left;
    padding: 20px 0;
}

.tb-view {
    margin: 0 auto;
}

.tb-view table {
    width: 100%;
    border-top: 4px solid #404040;
    border-bottom: 4px solid #404040;
}

.tb-view thead th {
    text-align: left;
    padding: 30px 0;
}

.tb-view tbody td {
    text-align: left;
    border-top: 1px solid #191919;
    padding: 40px 0 60px 0;
    font-size: 14px;
    line-height: 170%;
}

.tb-view .cate {
    font-size: 14px;
    font-family: 'Lato-Light';
}

.tb-view .tit {
    font-size: 18px;
    margin: 5px 0 10px 0;
}

.tb-view .date {
    font-size: 12px;
    font-family: 'Lato-Regular';
}

.tb-view .file {
    margin-bottom: 50px;
}

.tb-view .file a {
    display: inline-block;
    position: relative;
    font-size: 14px;
    font-family: 'Lato-Regular';
    padding-left: 20px;
}

.tb-view .file a:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -10px;
    width: 15px;
    height: 16px;
    background: url('../../asset/images/icons.png') no-repeat;
    background-position: -407px 0;
}

.tb-view .txts {
    font-size: 14px;
}

.board-ico {
    display: inline-block;
    background: url('../../asset/images/icons.png') no-repeat;
    vertical-align: top;
    margin-left: 5px;
    position: relative;
    top: -2px;
}

.board-ico.new {
    width: 21px;
    height: 20px;
    background-position: -278px 0;
}

/* search form */
.list-srch-form {
    background: #f3f4f6;
    font-size: 0;
    width: 1140px;
    padding: 20px 0;
    margin: 0 auto;
}

.list-srch-form .select {
    display: inline-block;
    margin-top: 25px;
}

.list-srch-form .select select { /* background: transparent; */
}

.list-srch-form .col {
    display: inline-block;
    height: 95px;
    text-align: center;
    overflow: hidden;
}

.list-srch-form .col1 {
    width: 225px;
}

.list-srch-form .col1 .select {
    width: 164px;
}

.list-srch-form .col2 {
    width: 529px;
    border-left: 1px solid #e4e7ec;
    border-right: 1px solid #e4e7ec;
}

.list-srch-form .col2 .select {
    width: 225px;
    display: inline-block;
    margin: 25px 10px 0 10px
}

.list-srch-form .col3 {
    width: 380px;
}

.list-srch-form .col3 .select {
    width: 164px;
}

.list-srch-form .bt-full {
    width: 140px;
    margin-left: 30px;
    display: inline-block;
}

/* paging */
.paging {
    margin: 50px auto 0 auto;
    font-size: 0;
    text-align: center;
}

.paging a {
    position: relative;
    vertical-align: top;
    display: inline-block;
    font-size: 16px;
    font-family: 'Lato-Bold';
    min-width: 32px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.paging a:hover {
    color: #c50233;
    text-decoration: underline;
}

.paging .paging-control:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -4px 0 0 -5px;
    width: 9px;
    height: 8px;
    background: url('../../asset/images/icons.png') no-repeat;
}

.paging .paging-control.first {
    font-size: 13px;
    padding-left: 20px;
    min-width: auto;
    margin-right: 5px;
}

.paging .paging-control.first:before {
    background-position: -314px 0;
    margin-left: -17px
}

.paging .paging-control.prev {
    text-indent: -9999px;
}

.paging .paging-control.prev:before {
    background-position: -338px 0;
}

.paging .paging-control.last {
    font-size: 13px;
    padding-right: 20px;
    min-width: auto;
    margin-left: 5px;
}

.paging .paging-control.last:before {
    background-position: -388px 0;
    left: auto;
    right: 50%;
    margin-left: 0;
    margin-right: -17px
}

.paging .paging-control.next {
    text-indent: -9999px;
}

.paging .paging-control.next:before {
    background-position: -363px 0;
}

.paging .paging-num {
    background: none;
}

.paging .paging-num.selected {
    color: #c50233;
    text-decoration: underline;
}

.paging .paging-num:hover {
    color: #c50233;
    text-decoration: underline;
}

.paging2 {
    position: relative;
    max-width: 1140px;
    margin: 50px auto 0 auto;
    font-size: 0;
    text-align: center;
}

.paging2 a {
    position: relative;
    vertical-align: top;
    display: inline-block;
    font-size: 13px;
    font-family: 'Lato-Bold';
}

.paging2 a:after, .paging2 a:before {
    content: '';
    background: url('../../asset/images/icons.png') no-repeat;
    position: absolute;
}

.paging2 .list {
    padding-right: 70px;
}

.paging2 .list:after {
    content: '';
    width: 61px;
    height: 10px;
    top: 50%;
    right: 0;
    margin-top: -7px;
    background-position: 0 -41px;
}

.paging2 .list:hover {
    color: #c50233;
}

.paging2 .list:hover:after {
    background-position: 0 -51px;
}

.paging2 .control {
    position: absolute;
    top: 0;
    right: 0;
}

.paging2 .control a {
    margin-left: 40px;
}

.paging2 .prev {
    padding-left: 20px;
}

.paging2 .prev:before {
    top: 50%;
    left: 0;
    margin: -4px 0 0 0;
    width: 9px;
    height: 8px;
    background-position: -314px 0;
}

.paging2 .prev:hover {
    color: #c71b2c;
}

.paging2 .prev:hover:before {
    background-position: -326px 0;
}

.paging2 .next {
    padding-right: 20px;
}

.paging2 .next:before {
    top: 50%;
    right: 0;
    margin: -4px 0 0 0;
    width: 9px;
    height: 7px;
    background-position: -388px 0;
}

.paging2 .next:hover {
    color: #c71b2c;
}

.paging2 .next:hover:before {
    background-position: -375px 0;
}

.paging2.type2 .control {
    position: static;
    top: auto;
    right: auto;
    display: inline-block;
}

.paging2.type2 .list {
    padding-right: 0;
    padding-left: 70px;
    margin-right: 100px;
}

.paging2.type2 .list:before {
    content: '';
    width: 61px;
    height: 10px;
    top: 50%;
    left: 0;
    margin-top: -7px;
    background-position: -100px -240px;
}

.paging2.type2 .list:after {
    display: none;
}

.sns li {
    display: inline-block;
    margin-left: 20px;
}

.sns a {
    font-size: 0;
    position: relative;
    display: block;
    width: 27px;
    height: 27px;
}

.sns a:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    background: url('../../asset/images/icons.png') no-repeat;
}

.sns a.instagram:before {
    width: 27px;
    height: 27px;
    background-position: -473px 0;
    margin: -13px 0 0 -13px;
}

.sns a.facebook:before {
    width: 23px;
    height: 24px;
    background-position: -409px -225px;
    margin: -12px 0 0 -7px;
}

.sns a.facebook:hover:before {
    background-position: -409px -251px;
}

.sns a.twitter:before {
    width: 23px;
    height: 18px;
    background-position: -435px 0;
    margin: -9px 0 0 -11px;
}

.sns a.twitter:hover:before {
    background-position: -234px -520px;
}

.ico-spec {
    display: inline-block;
    margin: 0 10px 10px 0;
    text-indent: -9999px;
    height: 32px;
    background: url('../../asset/images/icons4.png') no-repeat;
}

.ico-spec.s1 {
    width: 30px;
    background-position: 0 1px;
}

.ico-spec.s2 {
    width: 30px;
    background-position: 0 -59px;
}

.ico-spec.s3 {
    width: 30px;
    background-position: 0 -119px;
}

.ico-spec.s4 {
    width: 30px;
    background-position: 0 -178px;
}

.ico-spec.s5 {
    width: 30px;
    background-position: 0 -237px;
}

.ico-spec.s6 {
    width: 30px;
    background-position: 0 -297px;
}

.ico-spec.s7 {
    width: 30px;
    background-position: 0 -360px;
}

.ico-spec.s8 {
    width: 30px;
    background-position: 0 -417px;
}

.ico-spec.s9 {
    width: 30px;
    background-position: 0 -479px;
}

.ico-spec.s10 {
    width: 30px;
    background-position: 0 -540px;
}

.ico-spec.s11 {
    width: 30px;
    background-position: -59px 1px;
}

.ico-spec.s12 {
    width: 30px;
    background-position: -59px -60px;
}

.ico-spec.s13 {
    width: 30px;
    background-position: -59px -119px;
}

.ico-spec.s14 {
    width: 35px;
    background-position: -59px -179px;
}

.ico-spec.s15 {
    width: 35px;
    background-position: -59px -239px;
}

.ico-spec.s16 {
    width: 36px;
    background-position: -59px -297px;
}

.ico-spec.s17 {
    width: 30px;
    background-position: -59px -360px;
}

.ico-spec.s18 {
    width: 30px;
    background-position: -59px -417px;
}

.ico-spec.s19 {
    width: 31px;
    background-position: -59px -479px;
}

.ico-spec.s20 {
    width: 31px;
    background-position: -59px -539px;
}

.ico-spec.s21 {
    width: 32px;
    background-position: -129px 0;
}

.ico-spec.s22 {
    width: 32px;
    background-position: -129px -60px;
}

.ico-spec.s23 {
    width: 30px;
    background-position: -129px -121px;
}

.ico-spec.s24 {
    width: 30px;
    background-position: -129px -181px;
}

.ico-spec.s25 {
    width: 31px;
    background-position: -129px -240px;
}

.ico-spec.s26 {
    width: 29px;
    background-position: -129px -301px;
}

.ico-spec.s27 {
    width: 35px;
    background-position: -129px -362px;
}

.ico-spec.s28 {
    width: 33px;
    background-position: -129px -419px;
}

.ico-spec.s29 {
    width: 29px;
    background-position: -129px -480px;
}

.ico-spec.s30 {
    width: 37px;
    background-position: -129px -542px;
}