@charset "utf-8";

/*  */
.pd5{padding:5px !important;}
.pd10{padding:10px !important;}
.pd15{padding:15px !important;}
.mt5{margin-top:5px !important;}
.mt10{margin-top:10px !important;}
.mt15{margin-top:15px !important;}
.mt20{margin-top:20px !important;}
.mt25{margin-top:25px !important;}
.mt30{margin-top:30px !important;}
.mb10{margin-bottom:10px !important;}
.mb20{margin-bottom:20px !important;}
.mb30{margin-bottom:30px !important;}
.mb10{margin-bottom:10px !important;}
.mr10{margin-right:10px !important;}
.mr20{margin-right:20px !important;}
.mr30{margin-right:30px !important;}

/* btn */
.btns{overflow:hidden;}
.btns a{margin-left:5px;}
.btns.left{text-align:left;}
.btns.left a{margin-left:0;margin-right:5px;}
.btn{display:inline-block;vertical-align:top;height:35px;line-height:35px;text-align:center;color:#fff;font-weight:700;text-align:center;border-radius:2px;-moz-transition: 0.4s;-o-transition: 0.4s;-webkit-transition: 0.4s;transition: 0.4s;}
.btn2{display:inline-block;vertical-align:top;height:30px;line-height:30px;padding:0 25px;text-align:center;color:#fff;font-weight:700;text-align:center;border-radius:2px;-moz-transition: 0.4s;-o-transition: 0.4s;-webkit-transition: 0.4s;transition: 0.4s;background:#5b6064;}
.btn2:hover{background:#464b4e;}


.btn.long{width:106px;background:#0061aa;}
.btn.long:hover{background:#014d87;}
.btn.long2{width:136px;background:#0061aa;}
.btn.long2:hover{background:#014d87;}
.btn.short{width:76px;background:#0061aa;}
.btn.short:hover{background:#014d87;}
.btn.short2{width:76px;background:#5d758d;}
.btn.short2:hover{background:#4e6276;}
.btn.short3{width:76px;background:#757c81;}
.btn.short3:hover{background:#545454;}
.btn.short4{width:99px;background:#757c81;}
.btn.short4:hover{background:#545454;}
.btnZip, .btnMapSrch{width:97px;height:28px;line-height:28px;color:#fff;background:#5b6064;border-radius:2px;vertical-align:top;font-size:13px;font-weight:700;text-align:center;-moz-transition: 0.4s;-o-transition: 0.4s;-webkit-transition: 0.4s;transition: 0.4s;}
.btnZip:hover, .btnMapSrch:hover{background:#464b4e;}
.btnPriceQuotation{width:117px;height:28px;line-height:28px;color:#fff;background:#5b6064;border-radius:2px;vertical-align:top;font-size:13px;font-weight:700;text-align:center;-moz-transition: 0.4s;-o-transition: 0.4s;-webkit-transition: 0.4s;transition: 0.4s;}
.btnPriceQuotation:hover{background:#464b4e;}
.btnListSrch{width:68px;height:28px;line-height:28px;color:#fff;background:#3f4043;border-radius:2px;font-size:13px;font-weight:700;text-align:center;-moz-transition: 0.4s;-o-transition: 0.4s;-webkit-transition: 0.4s;transition: 0.4s;}
.btnListSrch:hover{background:#0167b4;}
.btnDel{width:21px;height:21px;background:url('../img/btn_del.png') center center no-repeat;}
.btnQuestion{width:27px;height:27px;line-height:27px;text-align:center;font-size:16px;border-radius:27px;background:#be5e60;color:#fff;}
.btnWrite{width:99px;height:90px;line-height:90px;text-align:center;color:#fff;font-size:14px;font-weight:700;background:url('../img/bg_write-off.png') center center no-repeat;-moz-transition: 0.4s;-o-transition: 0.4s;-webkit-transition: 0.4s;transition: 0.4s;}
.btnWrite:hover{background:url('../img/bg_write-on.png') center center no-repeat;}
.btnView{width:55px;height:26px;line-height:26px;color:#02599a;background:#eaf6ff;border:1px solid #6dadd7;border-radius:2px;vertical-align:top;font-size:13px;font-weight:700;text-align:center;-moz-transition: 0.4s;-o-transition: 0.4s;-webkit-transition: 0.4s;transition: 0.4s;}
.btnView:hover{background:#bbdbf0;}
.btnMobToggle{display:none;width:57px;height:43px;position:absolute;top:6px;left:0;background:url('../img/btn_menu.png') center center no-repeat;background-size:25px 19px;}
.btnLines{font-size:0;position:absolute;top:9px;right:10px;}
.btnLines li{display:inline-block;vertical-align:top;margin-left:1px;}
.btnLines a{display:block;font-size:13px;color:#787a7e;border:1px solid #cbcbcb;border-radius:3px;width:64px;height:27px;line-height:27px;text-align:center;font-weight:700;}
.btnLines a.active{color:#2a2d33;background:#dfe3e6 url('../img/icon_activeArrow.png') 52px center no-repeat;}
.btnLines.long a{width:104px;}
.btnLines.long a.active{background:#dfe3e6 url('../img/icon_activeArrow.png') 92px center no-repeat;}
.btnImg{display:inline-block;vertical-align:top;font-size:12px;width:55px;height:22px;line-height:22px;text-align:center;color:#02599a;font-weight:700;text-align:center;border-radius:2px;-moz-transition: 0.4s;-o-transition: 0.4s;-webkit-transition: 0.4s;transition: 0.4s;border:1px solid #6dadd7;background:#eaf6ff;}
.btnImg:hover{background:#bbdbf0;}

/* login */
.login {padding-top:10%;}
.login .row1{width:359px;margin:0 auto;text-align:center;}
.login .row1 h1{display:block;margin-bottom:35px;}
.login .loginInput{display:block;width:356px;height:47px;line-height:47px;border-radius:47px;border:1px solid #b3b3b3;overflow:hidden;margin:5px 0;}
.login .loginInput.id{background:#f8f8f8 url('../img/icon_login1.png') 22px center no-repeat;}
.login .loginInput.pw{background:#f8f8f8 url('../img/icon_login2.png') 22px center no-repeat;}
.login .loginInput input{width:287px;height:47px;font-size:14px;color:#9a9a9a;border:0;padding:0;margin:0 0 0 25px;display:inline-block;vertical-align:top;background:#f8f8f8 }
.login .btnLogin{width:359px;height:60px;line-height:60px;border-radius:60px;background:#0061aa;color:#fff;font-size:18px;font-weight:700;border:0;margin:15px 0 0 0;cursor:pointer;}
.login .btnLogin:hover{background:#0173c9;}
.login .checks{text-align:left;width:324px;margin:20px auto 50px auto;}
.login .btnUtils a{display:inline-block;width:169px;height:37px;line-height:37px;background:#ddd;font-size:14px;color:#515151;text-align:center;font-weight:700;border:1px solid #cfcfcf;border-radius:5px;}
.login .btnUtils a:hover{background:#cacaca;}
.login .btnUtils a:first-child{margin-right:10px;}
.login .row2{border-top:1px solid #e6e6e6;margin-top:125px;padding-top:40px;}
.login .row2 .text{width:460px;margin:0 auto;color:#646464;}
.login .row2 strong{font-size:16px;font-weight:700;display:block;margin-bottom:5px;}


/* header */
.header{position:relative;z-index:10;min-width:1280px;background:#fff;}
.header .row1{position:relative;width:1280px;margin:0 auto;overflow:hidden;padding:7px 0;}
.header .util{float:right;margin:5px 0 0 0;}
.header .user{line-height:24px;margin-right:20px;}
.header .alram{position:relative;display:inline-block;width:20px;height:21px;background:url('../img/icon_bell.png') center center no-repeat;background-size:20px 21px;vertical-align:top;margin-top:2px;margin-right:10px;}
.header .alram em{display:inline-block;width:17px;height:17px;line-height:17px;background:#be5e60;text-align:center;border-radius:17px;color:#fff;position:absolute;top:-5px;right:-5px;}
.header .logo{display:block;width:195px;height:34px;float:left;}
.header .logo a{display:block;height:34px;background:url('../img/img_logo2.png') center center no-repeat;background-size:195px 34px;}
.header .logout{display:inline-block;vertical-align:top;height:22px;line-height:22px;border-radius:2px;padding:0 10px;text-align:center;border:1px solid #6dadd7;color:#0061aa;}
.header .row2{background:#0061aa;height:74px;}
.header .row2 .inner{width:1280px;margin:0 auto;position:relative;}
.header .gnb{margin:0 0 0 0;}
.header .gnb .icoMenu{display:inline-block;background:url('../img/icon_menus.png') no-repeat;vertical-align:top;margin:27px 7px 0 0}
.header .gnb > ul{font-size:0;}
.header .gnb > ul > li{position:relative;display:block;height:74px;float:left;}
.header .gnb > ul > li > a{display:block;height:74px;line-height:74px;border-left:1px solid #4686b7;font-size:14px;color:#fff;font-weight:700;text-align:center;vertical-align:top;}
.header .gnb > ul > li:last-child > a{border-right:1px solid #4686b7}
.header .gnb > ul > li > a.active{background:#02599a;}
.header .gnb > ul > li.g1 > a em{width:19px;height:18px;background-position:0 0;}
.header .gnb > ul > li.g2 > a em{width:16px;height:19px;background-position:0 -28px;}
.header .gnb > ul > li.g3 > a em{width:19px;height:18px;background-position:0 -57px;}
.header .gnb > ul > li.g4 > a em{width:19px;height:18px;background-position:0 -85px;}
.header .gnb > ul > li.g5 > a em{width:24px;height:16px;margin-top:28px;background-position:0 -113px;}
.header .gnb > ul > li.g6 > a em{width:14px;height:21px;margin-top:25px;background-position:0 -139px;}
.header .gnb > ul > li.g7 > a em{width:20px;height:13px;margin-top:31px;background-position:0 -170px;}
.header .gnb .gnbDepths{position:absolute;top:74px;left:0;z-index:10;border:1px solid #b6b6b6;background:#fff;width:100%;padding:10px 0;display:none;}
.header .gnb .gnbDepths > ul > li {border-top:1px solid #dedede;}
.header .gnb .depth2{font-size:13px;color:#4a4d51;font-weight:700;display:block;height:28px;line-height:28px;padding:0 10px;background:#fafafa;-moz-transition: 0.4s;-o-transition: 0.4s;-webkit-transition: 0.4s;transition: 0.4s;}
.header .gnb .depth2.active{background:#0061aa;color:#fff;}
.header .gnb .depth2List{padding:3px 0 3px 20px;border-top:1px solid #dedede;}
.header .gnb .depth2List a{display:block;color:#6b6b6b;padding:3px 0;-moz-transition: 0.4s;-o-transition: 0.4s;-webkit-transition: 0.4s;transition: 0.4s;}
.header .gnb .depth2List a.active{color:#0061aa;}
.header .gnb > ul > li.g7 .gnbDepths{left:auto;right:0;}
.header .gnb .arrow{position:absolute;top:-7px;left:50%;margin-left:-6px;width:12px;height:7px;overflow:hidden;background:url('../img/icon_menuArrow.png') center center no-repeat;}
.header .row3{display:none;left:-290px;}

/* content */
.h2Area{width:1280px;position:relative;margin:0 auto;font-size:20px;color:#383b3e;}
.h2{width:1260px;margin:0 auto 10px auto;display:block;font-size:20px;color:#383b3e;background:url('../img/icon_tit1.png') 0 center no-repeat;background-size:14px 13px;font-weight:700;padding-left:20px;}
.h2 em{border-left:1px solid #d6d7d7;font-size:13px;color:#505050;display:inline-block;height:20px;line-height:25px;margin-left:5px;padding-left:10px;vertical-align:top;}
.location{width:1280px;margin:0 auto;font-size:0;padding:15px 0;text-align:right;}
.location a{display:inline-block;vertical-align:top;font-size:12px;color:#5b5b5b;}
.location a.home{font-size:0;width:13px;height:12px;background:url('../img/icon_home.png') center center no-repeat;position:relative;top:1px;}
.location a strong{color:#0061aa;font-weight:700;}
.location .bar{margin:0 5px;color:#5b5b5b;}
.listSrch{width:1240px;margin:0 auto;padding:20px;background:#dfe6eb;border:1px solid #cad1d6;font-size:0;}
.listSrch li{position:relative;display:inline-block;vertical-align:top;margin-right:30px;}
.listSrch li.block{display:block;}
.listSrch em{margin-right:10px;line-height:28px;font-size:14px;color:#444;font-weight:700;display:inline-block;background:url('../img/icon_blt1.png') 0 center no-repeat;padding-left:7px;}
.listSrch .btnListSrch{vertical-align:top;}
.sel{font-size:0;margin-bottom:20px;}
.sel li{position:relative;display:inline-block;vertical-align:top;margin-right:30px;}
.sel em{margin-right:10px;line-height:28px;font-size:14px;color:#444;font-weight:700;display:inline-block;background:url('../img/icon_blt1.png') 0 center no-repeat;padding-left:7px;}
.tbBtm{position:relative;width:1280px;margin:20px auto 0 auto;text-align:center;min-height:24px;}
.tbBtm .left{position:absolute;top:0;left:0;}
.tbBtm .btns{position:absolute;top:0;right:0;}


/* main */
.main{position:relative;max-width:1280px;margin:35px auto 0 auto;}
.main .colsIn{border:1px solid #dde1e4;border-radius:3px;}
.main .colsIn .tit{position:relative;border-bottom:1px solid #dde1e4;}
.main .colsIn .tit span{display:block;height:47px;line-height:47px;padding-left:10px;font-size:16px;color:#3a3c3e;font-weight:700;}
.main .colsIn .tit.noline{border-bottom:0;}
.main .colsIn .tit.noline span{height:30px;line-height:50px;}
.main .colsIn .tit .more{position:absolute;top:13px;right:10px;}

.main .row1{position:relative;width:266px;}
.main .row1 .cols{width:266px;}
.main .row1 .cols.top{height:365px;}
.main .row1 .cols.top .conts{height:285px;overflow:hidden;overflow-y:auto;}
.main .row1 .gages{position:relative;}
.main .row1 .gages span{display:block;margin-top:10px;}
.main .row1 .gages img{width:100%;}
.main .row1 .gageTabs{font-size:0;}
.main .row1 .gageTabs li{display:inline-block;width:50%;}
.main .row1 .gageTabs a{display:block;border-radius:2px;font-size:13px;color:#787a7e;font-weight:700;border:1px solid #cbcbcb;line-height:27px;text-align:center;}
.main .row1 .gageTabs a.active{color:#2a2d33;background:#dfe3e6;}
.main .row1 .gageTabs li:first-child a{margin-right:2px;}
.main .row1 .gageTabs li:last-child a{margin-left:2px;}
.main .row1 .gageTabs span{display:block;border:1px solid red;}

.main .row2{position:absolute;top:0;left:0;font-size:0;margin-left:276px;}
.main .row2 .maps{position:relative;text-align:center;}
.main .row2 .maps .tb{border-radius:3px;overflow:hidden;position:absolute;top:10px;right:10px;}
.main .row2 .maps .tb table{width:280px;}
.main .row2 .maps .tb thead th{text-align:left;padding:7px 0 7px 10px;background:#e7ebee;font-size:13px;color:#0061aa;border:1px solid #e7ebee;border-bottom:1px solid #0061aa;font-weight:700;}
.main .row2 .maps .tb td{background:#fff;font-size:12px;color:#6e6e6e;text-align:center;padding:5px 0 5px 0;border:1px solid #e5e8e9;}
.main .row2 .cols{position:relative;overflow:hidden;}
.main .row2 .cols.btm .btnLines{position:relative;top:auto;bottom:auto;left:auto;right:auto;}
.main .row2 .cols.btm{font-size:0;margin-top:10px;}
.main .row2 .cols.btm .colsIn{display:inline-block;width:50%;border:0;border-radius:0;vertical-align:top;}
.main .row2 .cols.btm .colsIn > div{border:1px solid #dde1e4;border-radius:3px;min-height:170px;}
.main .row2 .cols.btm .colsIn:first-child > div{margin-right:5px;}
.main .row2 .cols.btm .colsIn:last-child > div{margin-left:5px;}
.main .row2 .cols.btm .more{position:absolute;top:20px;right:10px;}


/*
.main .row1{position:relative;}
.main .row1 .cols.left{width:224px;position:absolute;top:0;left:0;}
.main .row1 .cols.right{margin-left:234px;}
.main .row1 .conts{height:500px;overflow:hidden;overflow-y:auto;}
.main .row1 .maps{position:relative;text-align:center;}
.main .row1 .maps .tb{border-radius:3px;overflow:hidden;position:absolute;top:10px;right:10px;}
.main .row1 .maps .tb table{width:280px;}
.main .row1 .maps .tb thead th{text-align:left;padding:7px 0 7px 10px;background:#e7ebee;font-size:13px;color:#0061aa;border:1px solid #e7ebee;border-bottom:1px solid #0061aa;font-weight:700;}
.main .row1 .maps .tb td{background:#fff;font-size:12px;color:#6e6e6e;text-align:center;padding:5px 0 5px 0;border:1px solid #e5e8e9;}
.main .row2{position:relative;font-size:0;margin-top:10px;}
.main .row2 .cols.half{display:inline-block;width:50%;vertical-align:top;}
.main .row2 .cols.half.first .colsIn{margin-right:5px;text-align:center;background:#f8f8f8;}
.main .row2 .cols.half.first2 .colsIn{margin-right:5px;text-align:center;background:#fff;}
.main .row2 .cols.half.first2 .colsIn .tit{text-align:left;}
.main .row2 .cols.half.second .colsIn{margin-left:5px;}
.main .row2 .gages{position:relative;padding:16px 0;}
.main .row2 .gages span{display:inline-block;margin:0 10px;}
.main .row2 .gages button{position:absolute;top:0;right:0;}
.main .row2 .btnLines{position:relative;top:auto;left:auto;bottom:auto;right:auto;}
*/


.main .row3{position:relative;}
.main .row3 .colsIn{height:100%;}
.main .row3 .cols.left{width:224px;height:100%;position:absolute;top:0;left:0;}
.main .row3 .cols.right{margin-left:234px;height:100%;}
.main .row3 .conts{overflow:hidden;overflow-x:auto;}
.main .row3 .state{position:relative;}
.main .row3 .items li{position:absolute;text-align:left;}
.main .row3 .items li .dot{display:inline-block;width:19px;height:19px;border-radius:19px;background:url('../img/bg_items.png') repeat;animation:scaleCircle 1s infinite;text-align:center;}
.main .row3 .items li .dot.on{transform: scale(1.3);}
.main .row3 .items li .dot em{display:inline-block;width:9px;height:9px;border-radius:9px;background:#0061aa;margin:5px auto 0 auto;}
.main .row3 .items li .itemLayer{display:none;position:absolute;background:#e7ebee;font-weight:700;color:#0061aa;text-align:left;border-radius:3px;overflow:hidden;}
.main .row3 .items li .itemLayer table{width:220px;}
.main .row3 .items li .itemLayer thead th{text-align:left;padding:7px 0 7px 10px;background:#e7ebee;font-size:13px;color:#0061aa;border:1px solid #e7ebee;border-bottom:1px solid #0061aa;font-weight:700;}
.main .row3 .items li .itemLayer td{background:#fff;font-size:12px;color:#6e6e6e;text-align:center;padding:5px 0 5px 0;border:1px solid #e5e8e9;}
.main .row4{position:relative;font-size:0;margin-top:10px;}
.main .row4 .cols.half{display:inline-block;width:50%;vertical-align:top;}
.main .row4 .cols.half.first .colsIn{margin-right:5px;text-align:center;background:#f8f8f8;}
.main .row4 .cols.half.first2 .colsIn{margin-right:5px;text-align:center;background:#fff;}
.main .row4 .cols.half.first2 .colsIn .tit{text-align:left;}
.main .row4 .cols.half.second .colsIn{margin-left:5px;}
.main .row4 .gages{position:relative;padding:16px 0;}
.main .row4 .gages span{display:inline-block;margin:0 10px;}
.main .row4 .gages button{position:absolute;top:0;right:0;}
.main .row4 .btnLines{position:relative;top:auto;left:auto;bottom:auto;right:auto;}
.main .trees a{display:block;color:#3a3c3e;font-weight:700;height:21px;line-height:21px;padding-left:27px;}
.main .trees a.arrow{position:absolute;top:0;left:0;font-size:0;width:21px;height:21px;display:inline-block;padding-left:0 !important;}
.main .trees strong{position:relative;display:Block;margin:5px 0 5px 0;}
.main .trees ul.treeFirst > li{margin:10px 0;}
.main .trees ul.treeFirst > li > strong > a.arrow{background:url('../img/icon_tree2.png') 0 center no-repeat;}
.main .trees ul.treeFirst > li.open > strong > a.arrow{background:url('../img/icon_tree1.png') 0 center no-repeat;}
.main .trees ul.treeSecond{display:none;margin-left:20px;}
.main .trees ul.treeSecond > li > strong > a.arrow{background:url('../img/icon_tree2.png') 0 center no-repeat;}
.main .trees ul.treeSecond > li.open > strong > a.arrow{background:url('../img/icon_tree1.png') 0 center no-repeat;}
.main .trees ul.treeThird{display:none;margin-bottom:20px;margin-left:20px;}
.main .trees ul.treeThird > li > strong > a.arrow{background:url('../img/icon_tree3.png') 0 center no-repeat;}
.main .trees ul.treeThird > li.open > strong > a.arrow{background:url('../img/icon_tree4.png') 0 center no-repeat;}
.main .trees ul.treeFouth{display:none;margin-bottom:10px;margin-left:30px;}
.main .trees ul.treeFouth > li > strong > a.arrow{background:url('../img/icon_tree3.png') 0 center no-repeat;}
.main .trees ul.treeFouth > li.open > strong > a.arrow{background:url('../img/icon_tree4.png') 0 center no-repeat;}
@media all and (max-width:1024px) {
	.main .row1{position:relative;width:auto;}
	.main .row1 .cols{width:auto;height:auto;}
	.main .row1 .cols.top{height:auto;margin-bottom:5px;}
	.main .row1 .cols.top .conts{height:auto;}
	.main .row1 .cols.btm{margin-bottom:5px;}
	.main .row2{position:relative;top:auto;left:auto;font-size:0;margin-left:0;}
	.main .row2 .conts{height:auto;overflow:hidden;overflow-y:hidden;overflow-x:auto;-webkit-overflow-scrolling: touch;}
	.main .row2 .btnLines a{width:95px;font-size:11px;}
	.main .row2 .btnLines a.active{color:#2a2d33;background:#dfe3e6 url('../img/icon_activeArrow.png') 42px center no-repeat;}
	.main .row2 .maps{padding-right:600px;}
	.main .row2 .cols.btm{font-size:0;margin-top:10px;}
	.main .row2 .cols.btm .colsIn{display:block;width:auto;}
	.main .row2 .cols.btm .colsIn > div{border:1px solid #dde1e4;border-radius:3px;}
	.main .row2 .cols.btm .colsIn:first-child > div{margin-right:0;}
	.main .row2 .cols.btm .colsIn:last-child > div{margin-left:0;}
	.main .row3 .cols.left{width:auto;position:relative;top:auto;left:auto;}
	.main .row3 .cols.right{margin-left:0;margin-top:10px;}
	.main .row3 .conts{height:auto;overflow:hidden;overflow-y:hidden;overflow-x:auto;-webkit-overflow-scrolling: touch;}
	.main .row3 .btnLines a{width:65px;font-size:11px;}
	.main .row3 .btnLines a.active{color:#2a2d33;background:#dfe3e6 url('../img/icon_activeArrow.png') 53px center no-repeat;}
	.main .row4 .cols.half{display:block;width:auto;}
	.main .row4 .cols.half.first .colsIn{margin-right:0;}
	.main .row4 .cols.half.first2 .colsIn{margin-right:0;}
	.main .row4 .cols.half.second .colsIn{margin-left:0;margin-top:10px;}
	.main .row4 .gages span{margin:5px 10px;}
/*
	.main .row1 .cols.left{width:auto;position:relative;top:auto;left:auto;}
	.main .row1 .cols.right{margin-left:0;margin-top:10px;}
	.main .row1 .conts{height:auto;overflow:hidden;overflow-y:hidden;overflow-x:auto;-webkit-overflow-scrolling: touch;}
	.main .row1 .btnLines a{width:55px;font-size:11px;}
	.main .row1 .btnLines a.active{color:#2a2d33;background:#dfe3e6 url('../img/icon_activeArrow.png') 42px center no-repeat;}
	.main .row1 .maps{padding-right:600px;}

	.main .row3 .cols.left{width:auto;position:relative;top:auto;left:auto;}
	.main .row3 .cols.right{margin-left:0;margin-top:10px;}
	.main .row3 .conts{height:auto;overflow:hidden;overflow-y:hidden;overflow-x:auto;-webkit-overflow-scrolling: touch;}
	.main .row3 .btnLines a{width:65px;font-size:11px;}
	.main .row3 .btnLines a.active{color:#2a2d33;background:#dfe3e6 url('../img/icon_activeArrow.png') 53px center no-repeat;}

	.main .row4 .cols.half{display:block;width:auto;}
	.main .row4 .cols.half.first .colsIn{margin-right:0;}
	.main .row4 .cols.half.first2 .colsIn{margin-right:0;}
	.main .row4 .cols.half.second .colsIn{margin-left:0;margin-top:10px;}
	.main .row4 .gages span{margin:5px 10px;}
*/
}

@media all and (max-width:750px) {

}

/* graph */
.graph{width:1280px;margin:15px auto 0 auto;}


/* toggle */
.toggles{width:1280px;margin:0 auto;}
.toggles > ul > li {overflow:hidden;margin-bottom:10px;}
.toggles > ul > li > a{position:relative;display:block;background:#eaeaea url('../img/icon_blt1.png') 17px center no-repeat;padding-left:26px;color:#454545;font-weight:700;font-size:13px;height:40px;line-height:40px;border-top:2px solid #0061aa;border-bottom:1px solid #b7bbbd;margin-bottom:10px;}
.toggles > ul > li > a .arrow{position:absolute;top:8px;right:8px;display:inline-block;width:24px;height:24px;background:url('../img/icon_toggles.png') no-repeat;background-position:0 0;}
.toggles > ul > li > a.active .arrow{background-position:0 -24px;}
.toggles .inner{position:relative;display:none;}

.scope_sels{display:none;position:absolute;top:0;left:142px;}
.scope_sels:after{content:'';width:4px;height:7px;position:absolute;top:12px;left:-4px;background:url('../img/icon_arrow.png') no-repeat;}
.scope_sels > ul > li{position:relative;}
.scope_sels > ul > li > a{display:block;width:207px;background:#0061aa;color:#fff;background:#0061aa;height:32px;line-height:32px;padding-left:18px;border-top:1px solid #2279ba;}
.scope_sels > ul > li > a.active{background:#02599a url('../img/icon_arrow2.png') right center no-repeat;}
.scope_sels > ul > li:first-child > a{border-top:0;}
.scope_sels_in{display:none;position:absolute;top:0;left:235px;width:358px;height:263px;border:1px solid #51a5e5;background:#fff;}
.scope_sels_in .scroll{height:200px;overflow:hidden;overflow-y:auto;}
.scope_sels_in .scroll > ul > li{border-bottom:1px solid #c6c6c6;padding:5px 0 5px 5px;}
.scope_sels_in .scroll > ul > li:hover{background:#ebf3f8;}
.scope_sels_in .btns{text-align:right;padding:15px 10px 0 0;}


/* list */
.lists{width:1280px;margin:15px auto 0 auto;}
.lists .total{color:#55585b;font-weight:700;margin-bottom:10px;}
.listTb1{width:100%;border-top:2px solid #0061aa;}
.listTb1 th{padding:10px 0;font-size:14px;color:#454545;font-weight:700;border-bottom:1px solid #b7bbbd;background:#eaeaea url('../img/icon_bar1.png') left center no-repeat;text-align:center !important;}
.listTb1 th.nb{border-bottom:1px solid #e2e3e5;}
.listTb1 th:first-child{background:#eaeaea;}
.listTb1 td{color:#55585b;padding:10px 0;font-size:13px;text-align:center;border-bottom:1px solid #e2e3e5;}
.listTb1 td.tit{text-align:left;padding-left:20px;}
.listTb1 td.tit .file{position:relative;top:5px;margin-left:5px;}
.listTb1 td.bleft{border-left:1px solid #e2e3e5;}
.listTb1 td a{color:#55585b;}
.listTb1 tr:nth-child(odd) td{}
.listTb1 tr:nth-child(even) td{background:#fbfbfb;}
.listTb1 tr:hover{background:#ebf3f8 !important;}
.listTb1 tr:hover td{background:#ebf3f8 !important;}
.listTb2{width:100%;border-top:2px solid #0061aa;}
.listTb2 thead th{padding:10px 0;font-size:14px;color:#454545;font-weight:700;border-bottom:1px solid #d6d6d6;border-left:1px solid #d4d6d8;background:#eaeaea;text-align:center !important;}
.listTb2 thead th:first-child{border-left:0;}
.listTb2 tbody th{padding:10px 0;font-size:14px;color:#454545;font-weight:700;border-bottom:1px solid #d6d6d6;border-right:1px solid #d4d6d8;background:#f5f5f5;text-align:center !important;}
.listTb2 tr.line td{border-left:1px solid #e5e8e9;}
.listTb2 tr.line td:first-child{border-left:0;}
.listTb2 td{color:#55585b;padding:10px 0;font-size:13px;text-align:center;border-bottom:1px solid #d6d6d6;line-height:28px;}
.listTb2 td.tit{text-align:left;padding-left:20px;}
.listTb2 td.tit .file{position:relative;top:5px;margin-left:5px;}
.listTb2 td.bleft{border-left:1px solid #d9d9d9;}
.listTb2 td.left{text-align:left;padding-left:20px;}
.listTb2 td a{color:#55585b;}
.listTb2 tr:nth-child(odd) td{}
.listTb2 tr:nth-child(even) td{background:#fbfbfb;}
.listTb2 tr:hover{background:#ebf3f8 !important;}
.listTb2 tr:hover td{background:#ebf3f8 !important;}
.listTb3{width:100%;border-top:1px solid #d3d7d9;}
.listTb3 td{color:#55585b;padding:7px 0;font-size:13px;text-align:center;border-bottom:1px solid #e2e3e5;}
.listTb3 td.tit{text-align:left;padding-left:20px;}
.listTb3 td.tit .file{position:relative;top:5px;margin-left:5px;}
.listTb3 td a{color:#55585b;}
.listTb3 tr:hover{background:#ebf3f8 !important;}
.listTb3 tr:hover td{background:#ebf3f8 !important;}
.listTb1_small{width:100%;border-top:2px solid #0061aa;}
.listTb1_small th{padding:10px 0 !important;font-size:14px;color:#454545;font-weight:700;border-bottom:1px solid #b7bbbd;background:#eaeaea url('../img/icon_bar1.png') left center no-repeat !important;text-align:center !important;}
.listTb1_small th:first-child{background:#eaeaea !important;}
.listTb1_small td{color:#55585b;padding:10px 0 !important;font-size:13px;text-align:center;border-bottom:1px solid #e2e3e5;background:#fff !important;}
.listTb1_small td.tit{text-align:left;padding-left:20px;}
.listTb1_small td.tit .file{position:relative;top:5px;margin-left:5px;}
.listTb1_small td a{color:#55585b;}
.listTb1_small tr:nth-child(odd) td{}
.listTb1_small tr:nth-child(even) td{background:#fbfbfb;}
.listTb1_small tr:hover{background:#ebf3f8 !important;}
.listTb1_small tr:hover td{background:#ebf3f8 !important;}
.inTb{width:100%;}
.inTb th{background:none;border:0;padding:0;}
.inTb td{background:none;border:0;padding:3px 0;}
.tbtit{display:block;font-size:16px;color:#454545;font-weight:700;}
.midMix{position:relative;line-height:35px;margin:20px 0;text-align:right;}
.midMix span{color:#7b7f83;margin-right:10px;}
.midMix2{position:relative;margin:50px 0;text-align:left;}
.midMix2 .btn{position:absolute;bottom:10px;right:0;}


/* regist */
.regist{width:1280px;margin:0 auto;}
.registTb1{width:100%;border-top:1px solid #bababa;border-bottom:1px solid #bababa;}
.registTb1 .star{color:#be5e60;font-size:13px;font-weight:700;}
.registTb1 th{background:#eaeaea;border-top:1px solid #d6d6d6;font-size:14px;color:#454545;font-weight:700;text-align:right;padding-right:20px;}
.registTb1 tr:first-child th{border-top:0;}
.registTb1 td{vertical-align:top;padding:7px 10px;font-size:13px;background:#fbfbfb;line-height:28px;}
.registTb1 td.middle{vertical-align:middle;}
.registTb1 .tip{color:#7b7f83;line-height:26px;margin-left:10px;}
.registTb1 .bar{line-height:26px;color:#cdd4da;}
.registTb1 .addr {vertical-align:middle;}
.registTb1 .addr .mid{margin:10px 0}
.registTb2{width:100%;border-top:1px solid #bababa;border-bottom:1px solid #bababa;}
.registTb2 th{background:#eaeaea;border-top:1px solid #d6d6d6;font-size:14px;color:#454545;font-weight:700;text-align:center;}
.registTb2 tr:first-child th{border-top:0;}
.registTb2 tr:first-child td{border-top:0;}
.registTb2 td{vertical-align:top;padding:7px 10px;font-size:13px;border-top:1px solid #d6d6d6;background:#fbfbfb;line-height:28px;}
.registTb2 td .in{position:relative;}
.registTb2 td.middle{vertical-align:middle;}
.registTb2 .price{position:absolute;top:0;right:10px;}
.infoRow{width:1280px;margin:30px auto;}
.infoRow li{font-size:13px;color:#454545;margin:5px 0;}
.infoRow strong{font-weight:700;}
.payFormComment{width:1280px;margin:20px auto;}
.payFormComment .thumb{display:block;width:33px;height:32px;border-radius:33px;border:1px solid #e6e6e6;overflow:hidden;background:#fff;padding:10px;margin:0 auto;}
.payFormComment .total{color:#55585b;margin-bottom:5px;}
.payFormComment .total strong{color:#be5e60}
.writeBox{position:relative;}
.writeBox textarea{height:80px;}
.writeBox .btnWrite{position:absolute;top:0;right:0;}
.bbno{border-top:0 !important;}
.dobble th{padding:5px 20px 5px 5px;}
.dobble td{padding:5px 5px 5px 10px;}

/* tab */
.tabs {width:1280px;margin:0 auto;background:url('../img/bg_tabLine.png') 0 bottom repeat-x;margin-bottom:20px;}
.tabs ul{font-size:0;}
.tabs li{position:relative;display:inline-block;width:33.33%;max-width:158px;text-align:center;}
.tabs li a{font-size:14px;color:#4b4b4b;display:block;margin-right:1px;padding:10px 0;background:#f3f3f3;font-weight:700;border:1px solid #e0e0e0;border-bottom:0;border-top-left-radius:2px;border-top-right-radius:2px;}
.tabs li.active a{color:#266fb0;border:1px solid #6dadd7;border-bottom:1px solid #fff;background:#fff;}
.tabs li .btnDel{position:absolute;top:8px;right:13px;}


/* assets */
.assets{width:1280px;margin:0 auto;}
.assetsIndex{font-size:0;}
.assetsIndex .lineCol{display:inline-block;vertical-align:top;border:1px solid #dde1e4;border-radius:3px;}
.assetsIndex .lineCol.first{width:272px;height:461px;margin-right:10px;}
.assetsIndex .lineCol.second{width:994px;height:461px;}
.assetsIndex .lineCol.third{width:1278px;margin-top:10px;}
.assetsIndex .lineCol.third .graph{width:auto;text-align:center;margin:35px 10px;}
.assetsIndex .lineCol .titBox{position:relative;height:47px;border-bottom:1px solid #dde1e4;}
.assetsIndex .lineCol .titBox strong{display:block;line-height:47px;font-size:16px;color:#3a3c3e;font-weight:700;padding-left:14px;}
.assetsIndex .lineCol .infoList{margin:0 14px;}
.assetsIndex .lineCol .infoList li{margin-bottom:5px;font-size:13px;color:#616161;background:url('../img/icon_blt1.png') 0 center no-repeat;padding-left:8px;}
.assetsIndex .lineCol .infoList li strong{font-size:700;}
.assetsIndex .lineCol .thumb{display:block;text-align:center;padding:14px 0;}
.assetsIndex .lineCol .picsTabs{text-align:right;margin:20px 0;}
.assetsIndex .lineCol .picsTabs li{display:inline-block;padding:0 10px;background:url('../img/icon_bar1.png') left center no-repeat;}
.assetsIndex .lineCol .picsTabs li:first-child{background:none;}
.assetsIndex .lineCol .picsTabs a{font-size:13px;color:#3e4146;font-weight:700;}
.assetsIndex .lineCol .picsTabs a.active{color:#0061aa;}
.assetsIndex .lineCol .picsViews{display:block;text-align:center;}
.assetsIndex .lineCol .picsViews .pics{position:relative;display:inline-block;}
.assetsIndex .lineCol .items li{width:100%;position:absolute;text-align:left;}
.assetsIndex .lineCol .items li .dot{display:inline-block;width:19px;height:19px;border-radius:19px;background:url('../img/bg_items.png') repeat;animation:scaleCircle 1s infinite;text-align:center;}
.assetsIndex .lineCol .items li .dot.on{transform: scale(1.3);}
.assetsIndex .lineCol .items li .dot em{display:inline-block;width:9px;height:9px;border-radius:9px;background:#0061aa;margin:5px auto 0 auto;}
.assetsIndex .lineCol .items li .itemLayer{display:none;position:absolute;top:-5px;left:20px;background:#e7ebee;border-radius:5px;font-weight:700;color:#0061aa;padding:10px 15px;text-align:left;}


/* diagram */
.diagramIndex{max-width:1280px;margin:0 auto;font-size:0;}
.diagramIndex .lineCol{display:inline-block;vertical-align:top;}
.diagramIndex .lineCol .lineColIn{border:1px solid #dde1e4;border-radius:3px;} 
.diagramIndex .lineCol.first{width:50%;}
.diagramIndex .lineCol.first .lineColIn{margin-right:5px;height:380px;}
.diagramIndex .lineCol.second{width:50%;}
.diagramIndex .lineCol.second .lineColIn{margin-left:5px;height:380px;}
.diagramIndex .lineCol.third{width:100%;margin-top:10px;}
.diagramIndex .lineCol.third .graph{width:auto;text-align:center;margin:35px 10px;}
.diagramIndex .lineCol .titBox{position:relative;height:47px;border-bottom:1px solid #dde1e4;}
.diagramIndex .lineCol .titBox strong{display:block;line-height:47px;font-size:16px;color:#3a3c3e;font-weight:700;padding-left:14px;}
.diagramIndex .lineCol .items li{position:absolute;text-align:left;}
.diagramIndex .lineCol .items li .dot{display:inline-block;width:19px;height:19px;border-radius:19px;background:url('../img/bg_items.png') repeat;animation:scaleCircle 1s infinite;text-align:center;}
.diagramIndex .lineCol .items li .dot.on{transform: scale(1.3);}
.diagramIndex .lineCol .items li .dot em{display:inline-block;width:9px;height:9px;border-radius:9px;background:#0061aa;margin:5px auto 0 auto;}
.diagramIndex .lineCol .items li .itemLayer{display:none;position:absolute;top:5px;left:-200px;background:#e7ebee;border-radius:5px;font-weight:700;color:#0061aa;text-align:left;}
.diagramIndex .lineCol .items li .itemLayer table{width:100%;border-top:2px solid #0061aa;}
.diagramIndex .lineCol .items li .itemLayer table thead th{padding:5px 10px;font-size:13px;color:#454545;font-weight:700;border-bottom:1px solid #d6d6d6;border-left:1px solid #d4d6d8;background:#eaeaea;text-align:center !important;}
.diagramIndex .lineCol .items li .itemLayer table thead th:first-child{border-left:0;}
.diagramIndex .lineCol .items li .itemLayer table tr.line td{border-left:1px solid #e5e8e9;}
.diagramIndex .lineCol .items li .itemLayer table tr.line td:first-child{border-left:0;}
.diagramIndex .lineCol .items li .itemLayer table td{color:#55585b;padding:5px 10px;text-align:center;border-bottom:1px solid #d6d6d6;}
.diagramIndex .lineCol .items li .itemLayer table td.tit{text-align:left;padding-left:20px;}
.diagramIndex .lineCol .items li .itemLayer table td.tit .file{position:relative;top:5px;margin-left:5px;}
.diagramIndex .lineCol .items li .itemLayer table td.bleft{border-left:1px solid #d9d9d9;}
.diagramIndex .lineCol .items li .itemLayer table td.left{text-align:left;}
.diagramIndex .lineCol .items li .itemLayer table td a{color:#55585b;}
.diagramIndex .lineCol .items li .itemLayer table tr:nth-child(odd) td{background:#fff;}
.diagramIndex .lineCol .items li .itemLayer table tr:nth-child(even) td{background:#fbfbfb;}
.diagramIndex .lineCol .items li .itemLayer table tr:hover{background:#ebf3f8 !important;}
.diagramIndex .lineCol .items li .itemLayer table tr:hover td{background:#ebf3f8 !important;}
.diagramIndex .scrollGraphs{position:relative;text-align:center;overflow-x:auto;display:block;}
@keyframes scaleCircle { 
	0%{transform: scale(1);} 
	50% {transform: scale(1.3);} 
} 


/* health index */
.healthIndex{max-width:1290px;margin:0 auto;font-size:0;}
.healthIndex .lineColRow{font-size:0;}
.healthIndex .lineColRow .lineCol{display:inline-block;vertical-align:top;}
.healthIndex .lineColRow .lineCol.half{width:50%;}
.healthIndex .lineColRow .lineCol.col1{width:33.33%;}
.healthIndex .lineColRow .lineCol.col2{width:66.66%;}
.healthIndex .lineColRow .lineCol.col3{width:auto;display:block;}
.healthIndex .lineColRow .lineCol .lineColIn{border:1px solid #dde1e4;border-radius:3px;margin:0 5px;background:#f8f8f8;height:358px;} 
.healthIndex .lineColRow .lineCol .lineColIn.nobg{background:none;}
.healthIndex .lineColRow .lineCol .lineColIn.noheight{height:auto;}
.healthIndex .lineColRow .lineCol .titBox{position:relative;height:47px;border-bottom:1px solid #dde1e4;}
.healthIndex .lineColRow .lineCol .titBox strong{display:block;line-height:47px;font-size:16px;color:#3a3c3e;font-weight:700;padding-left:14px;}
.healthIndex .lineColRow .lineCol .conts{text-align:center;}
.healthIndex .lineColRow.lineColRow2 .lineCol .lineColIn{height:390px;} 
.healthIndex .textTabs{margin:25px 0 15px 5px;}
.healthIndex .textTabs > ul > li{display:inline-block;padding:0 18px;}
.healthIndex .textTabs > ul > li:first-child{padding-left:0;border-right:1px solid #d0d1d2;}
.healthIndex .textTabs > ul > li a{font-size:14px;color:#2a2d33;font-weight:700;}
.healthIndex .textTabs > ul > li.active a{color:#0061aa;}
.healthIndex .textTabs div{margin-top:15px;}

/* maintenance*/
.maintenanceIName{position:absolute;top:-10px;right:0;}
.maintenanceIName ul{font-size:0;}
.maintenanceIName li{display:inline-block;vertical-align:top;line-height:38px;color:#595959;margin-left:20px;}
.maintenanceIName li .thumb{display:inline-block;vertical-align:top;line-height:38px;}
.maintenanceIName li .thumb img{width:38px;height:38px;}
.graphList{width:100%;max-width:1280px;margin:0 auto;}
.graphList .lineCols > ul{font-size:0;width:100%;max-width:1280px;margin-left:-5px;}
.graphList .lineCols > ul > li{width:33%;display:inline-block;vertical-align:top;}
.graphList .lineCols > ul > li.nan{border:0;}
.graphList .lineCols .in{margin:5px;border:1px solid #dde1e4;border-radius:3px;}
.graphList .lineCols .titBox{position:relative;height:47px;border-bottom:1px solid #dde1e4;}
.graphList .lineCols .titBox strong{display:block;line-height:47px;font-size:16px;color:#3a3c3e;font-weight:700;padding-left:14px;}
.graphList .lineCols .conts{padding:15px;}
.graphList .lineCols .conts img{width:100%;}
.graphList .colorView {position:absolute;top:18px;right:20px;width:auto !important;max-width:none !important;margin-left:0 !important;}
.graphList .colorView li{width:auto;margin-left:10px;display:inline-block;vertical-align:top;font-size:11px;color:#595959;}
.graphList .colorView li em{display:inline-block;width:9px;height:9px;}
.graphList .colorView li.color1 em{background:#59aae6;}
.graphList .colorView li.color2 em{background:#f2b600;}
.graphList .colorView li.color3 em{background:#7bba85;}
.scdTb{width:100%;border-top:2px solid #0061aa;}
.scdTb thead th{padding:10px 0;font-size:13px;color:#454545;font-weight:700;border-bottom:1px solid #d6d6d6;border-left:1px solid #d4d6d8;background:#eaeaea;text-align:center !important;}
.scdTb thead th:first-child{border-left:0;}
.scdTb tbody th{padding:10px 0;font-size:13px;color:#454545;font-weight:700;border-bottom:1px solid #d6d6d6;border-right:1px solid #d4d6d8;background:#f5f5f5;text-align:center !important;}
.scdTb tr.line td{border-left:1px solid #e5e8e9;}
.scdTb tr.line td:first-child{border-left:0;}
.scdTb td{color:#55585b;padding:10px 0;text-align:center;border-bottom:1px solid #d6d6d6;line-height:28px;}
.scdTb td.tit{text-align:left;padding-left:20px;}
.scdTb td.tit .file{position:relative;top:5px;margin-left:5px;}
.scdTb td a{color:#55585b;}
.yearsTR th{position:relative;padding:10px;}
.yearsTR .back{position:absolute;top:10px;left:10px;font-weight:700;}
.yearsTR .front{position:absolute;top:10px;right:10px;font-weight:700;}
.scdTR th{padding:10px;}
.scdTR td{padding:5px;vertical-align:middle;line-height:0;}
.scdItem{display:inline-block;}
.scdItem img{width:38px;}


/* view */
.view{width:1280px;margin:0 auto;border-top:2px solid #0061aa;}
.view .row1{background:#eaeaea;font-size:13px;font-weight:800;color:#454545;padding:15px 25px 15px 25px;border-bottom:1px solid #b7bbbd;}
.view .row2{font-size:12px;color:#55585b;padding:10px 25px 10px 25px;border-bottom:1px solid #e2e3e5;}
.view .row2 a{font-size:12px;color:#55585b;display:inline-block;vertical-align:top;}
.view .row2 .file{margin-left:5px;display:inline-block;vertical-align:top;}
.view .row2 ul{font-size:0;}
.view .row2 li{background:url('../img/icon_blt1.png') 0 center no-repeat;padding-left:7px;display:inline-block;vertical-align:top;line-height:17px;margin-left:50px;}
.view .row2 li:first-child{margin-left:0;width:645px;}
.view .row3{border-bottom:1px solid #e2e3e5;padding:15px 30px;line-height:150%;}


/* paging */
.paging{font-size:0;}
.paging span{font-size:0;display:inline-block;vertical-align:top;border:1px solid #d4d4d4;border-radius:2px;}
.paging span a{display:inline-block;vertical-align:top;width:23px;height:22px;font-size:0;}
.paging span a.start{background:url('../img/icon_paging1.png') center center no-repeat;border-right:1px solid #d4d4d4;}
.paging span a.prev{background:url('../img/icon_paging2.png') center center no-repeat;}
.paging span a.next{background:url('../img/icon_paging3.png') center center no-repeat;}
.paging span a.end{background:url('../img/icon_paging4.png') center center no-repeat;border-left:1px solid #d4d4d4;}
.paging ol{font-size:0;display:inline-block;vertical-align:top;margin:0 10px;}
.paging li{display:inline-block;vertical-align:top;}
.paging li a{display:inline-block;vertical-align:top;width:25px;height:24px;line-height:24px;border-radius:2px;color:#6a6969;font-weight:700;}
.paging li a.active{background:#be5e60;color:#fff;}
.paging li a:hover{background:#be5e60;color:#fff;}


/* payFomrs */
.payFormsBox{position:relative;width:595px;height:880px;}
.payFormsBox .bx-wrapper{height:880px;}
.payFormsBox .bx-pager{display:none;}
.payFormsBox .bx-prev{font-size:0;display:block;width:20px;height:19px;position:absolute;bottom:14px;right:30px;background:url('../img/btn_prev.png') center center no-repeat;}
.payFormsBox .bx-next{font-size:0;display:block;width:20px;height:19px;position:absolute;bottom:14px;right:5px;background:url('../img/btn_next.png') center center no-repeat;}
.payForms{width:595px;height:842px;overflow:hidden;}
.payForms h1{display:block;height:50px;line-height:50px;font-size:18px;color:#fff;text-align:center;background:url('../img/img_payForm1.png') center center no-repeat;}
.payForms h2{display:block;font-size:16px;color:#363636;text-align:center;font-weight:700;padding-top:10px;padding-bottom:30px;}
.payForms .inner{height:792px;background:url('../img/img_payForm2.png') center center no-repeat;}
.payForms .row1{position:relative;padding:11px 11px 0 11px;height:84px;overflow:hidden;}
.payForms .row2{padding:0 11px 0 11px;height:573px;overflow:hidden;}
.payForms .row3{text-align:center;padding:20px 0 0 0;color:#363636;overflow:hidden;}
.payForms .row3 p{margin:3px 0;}
.payForms .paytit{display:block;text-align:center;font-size:26px;color:#363636;font-weight:700;padding:40px 0 25px 0;}
.payForms .paytxts{text-align:center;font-size:14px;color:#363636;font-weight:700;line-height:150%;}
.payForms .paytxts p{font-size:14px;color:#363636;font-weight:700;line-height:150%;}
.payForms .number{text-align:right;padding-right:20px;font-size:13px;color:#363636;font-weight:700;}
.payForms .col1{position:Absolute;bottom:10px;left:20px;color:#363636;font-size:13px;font-weight:700;line-height:140%;}
.payForms .col2{background:url('../img/img_logo4.png') left center no-repeat;padding-left:50px;height:46px;position:Absolute;bottom:10px;right:20px;color:#363636;font-size:12px;font-weight:700;}
.payForms .viewDetails{padding:20px;}
.payForms .infos table{width:100%;color:#363636;font-size:13px;}
.payForms .infos table strong{display:inline-block;width:65px;font-weight:700;background:url('../img/icon_payDot.png') 0 center no-repeat;padding-left:10px;}
.payForms .infos table td{border-bottom:1px solid #d9d9d9;padding:5px 0;}
.payForms .infostit{display:block;text-align:center;font-weight:700;font-size:18px;}
.payForms .listTb2 th{padding:8px 0;}
.payForms .listTb2 td{font-size:11px;padding:8px 0;line-height:100%;border-right:1px solid #d6d6d6}
.payForms .listTb2 td:last-child{border-right:0;}
.payForms .listTb2 td.tit{padding-left:5px;}
.payForms .listTb2 .sub{font-size:11px;color:#636363;display:block;margin-top:5px;}
.payForms .listTb2 .sTotal td{background:#f4f4f4;}
.payForms .listTb2 .sTotal strong{font-weight:800;}
.stepForm{margin:2px 11px 0 11px;height:680px;background:#fff;}
.stepForm table{width:100%;border-bottom:1px solid #d9d9d9;color:#363636;text-align:center;}
.stepForm table td{padding:5px 0;border-left:1px solid #d9d9d9;border-bottom:1px solid #d9d9d9;}
.stepForm .txts{color:#363636;font-size:12px;line-height:150%;padding:20px 15px 0 15px;}
.checkForms{width:595px;height:842px;overflow:hidden;}
.checkForms h1{position:relative;display:block;height:50px;line-height:50px;font-size:18px;color:#fff;text-align:center;background:url('../img/img_payForm1.png') center center no-repeat;}
.checkForms h1.left{text-align:left;padding-left:20px;}
.checkForms h1 img{position:absolute;top:13px;right:15px;}
.checkForms h2{display:block;font-size:13px;color:#5b5b5b;font-weight:700;padding-top:20px;padding-bottom:5px;}
.checkForms .inner{overflow:hidden;height:792px;background:url('../img/img_payForm2.png') center center no-repeat;}
.checkForms .checkTbs{position:relative;background:#fff;margin:12px;height:732px;padding:10px}
.checkForms .checkTbs .tb1{width:100%;border-bottom:1px solid #b7bbbd;border-top:1px solid #b7bbbd;}
.checkForms .checkTbs .tb1 th{text-align:left;border-top:1px solid #d6d6d6;background:#eaeaea;padding:5px 0 5px 10px;font-weight:bold;}
.checkForms .checkTbs .tb1 td{text-align:left;border-top:1px solid #d6d6d6;padding:5px 0 5px 10px;}
.checkForms .checkTbs .tb1 tr:first-child th{border-top:1px solid #b7bbbd;}
.checkForms .checkTbs .tb1 tr:first-child td{border-top:1px solid #b7bbbd;}
.checkForms .checkTbs .tb2{width:100%;border-top:2px solid #0061aa;text-align:center;}
.checkForms .checkTbs .tb2 th{border-bottom:1px solid #b7bbbd;border-left:1px solid #d6d6d6;padding:5px 0 5px 5px;font-weight:bold;background:#eaeaea;}
.checkForms .checkTbs .tb2 td{border-bottom:1px solid #d6d6d6;border-left:1px solid #d6d6d6;padding:5px 10px 5px 10px;font-size:11px;}
.checkForms .checkTbs .tb2 th:first-child{border-left:0;}
.checkForms .checkTbs .tb2 td:first-child{border-left:0;}
.checkForms .checkTbs .tb2 tr:nth-child(even) td{background:#fbfbfb;}
.checkForms .checkTbs .tb2.npd td{padding:0 10px 0 10px;font-size:11px;}
.checkForms .checkTbs .tb2 .tit{text-align:left;}
.checkForms .checkTbs .tb2 .tit strong{font-weight:700;}
.checkForms .checkTbs .tb2 .intit td{font-weight:bold;background:#ebf3f8 !important;font-weight:700;padding:5px 0;}
.checkForms .checkTbs .tb2.left th{text-align:left;}
.checkForms .checkTbs .tb2.left td{text-align:left;}
.checkForms .checkTbs .tb2.left .sign{text-align:right;}
.checkForms .checkTbs .btns{position:absolute;bottom:0;right:10px;}


/* layer */
.layer{display:none;position:absolute;top:0;width:100%;max-width:722px;overflow:hidden;z-index:900;border-radius:5px;overflow:hidden;}
.layer.small{max-width:483px}
.layer.big{max-width:1244px}
.layer h1{display:block;background:#0061aa;color:#fff;font-size:18px;font-weight:700;padding:15px 0 15px 20px}
.layer .layerIn{background:#fff;}
.layer .layerBody{padding:20px;line-height:150%;color:#55585b;}
.layer .layerPics{text-align:center;}
.layer .listTb1 th{padding:10px 0;}
.layer .listTb1 td{padding:10px 0;}
.layer .layerScroll{height:347px;overflow:hidden;overflow-y:auto;}
.layer .btns{text-align:right;padding:0 20px 30px 0}
.layer .close{position:absolute;top:16px;right:20px;width:18px;height:18px;background:url('../img/icon_close.png') center center no-repeat;}
.twoGraph{font-size:0;}
.twoGraph span{display:inline-block;vertical-align:top;}
.twoGraph .left{width:60%;text-align:left;}
.twoGraph .right{width:40%;text-align:Right;}


/* footer */
.footer{background:#e9e9e9;border-top:1px solid #cacaca;color:#595959;font-size:12px;padding:20px 0;margin-top:60px;}
.footer .inner{width:1280px;margin:0 auto;}
.footer ul{font-size:0;}
.footer li{display:inline-block;margin:0 10px;}
.footer p{margin:5px 0 0 10px}


/* rwd */
.rwd .header{position:relative;z-index:10;height:118px;width:auto;min-width:auto;background:#fff;}
.rwd .header .logo{margin-left:5px;}
.rwd .header .row1{position:relative;width:auto;max-width:1290px;margin:0 auto;overflow:hidden;padding:7px 0;}
.rwd .header .row2 .inner{width:auto;max-width:1280px;margin:0 auto;position:relative;}
.rwd .header .util{float:right;margin:5px 5px 0 0;}
.rwd .h2Area{width:auto;max-width:1280px;}
.rwd .h2Area .btnLines{right:0;top:auto;bottom:0;}
.rwd .btnLines.noPos{position:Relative;top:auto;right:auto;bottom:auto;left:5px;}
.rwd .h2{width:auto;}
.rwd .location{width:auto;max-width:1260px;padding:15px 5px;}
.rwd .tabs{width:auto;max-width:1280px;}
.rwd .lists{width:auto;max-width:1280px;margin-top:0;}
.rwd .tbBtm{width:auto;max-width:1280px;}
.rwd .graphList{width:auto;max-width:1280px;}
.rwd .footer .inner{width:auto;max-width:1280px;}
.rwd .scrollTbs{position:relative;overflow-x:hidden;}
.rwd .dayBubble{width:128px;position:absolute;top:0;z-index:10;padding-top:5px;}
.rwd .dayBubble .dayBubbleIn{background:url('../img/bg_dotted.png') center center repeat-y;margin-top:2px}
.rwd .dayBubble .ymd{overflow:hidden;display:block;text-align:center;width:128px;height:32px;color:#be5e60;background:#eaeaea url('../img/bg_date.png') center center no-repeat;line-height:25px;}

.healthIndex .listSrch{width:auto;max-width:none;margin:0 5px;padding:10px;background:#dfe6eb;border:1px solid #cad1d6;font-size:0;}
.healthIndex .listSrch li{padding:5px 0;}
.healthIndex .listSrch .day{display:inline-block;vertical-align:top;line-height:28px;}

@media all and (max-width:1280px) {
	.rwd .tabs{margin:0 5px 20px 5px;}
	.rwd .h2Area{margin:0 5px;}
	.rwd .lists{margin:0 5px;}
	.main{margin:0 5px;}
	.layer h1{margin:0 5px;}
	.layer .layerIn{margin:0 5px;}
	.healthIndex .lineColRow .lineCol .lineColIn{height:auto;} 
	.healthIndex .lineColRow.lineColRow2 .lineCol .lineColIn{height:auto;} 
}

@media all and (max-width:1024px) {
	.rwd .menuDim{display:none !important;}
	.rwd .header {height:100%;position:inherit}
	.rwd .header .util {margin:0;float:none;}
	.rwd .header .util .user{display:none;}
	.rwd .header .util .logout{display:none;}
	.rwd .header .util .alram{position:absolute;top:17px;right:5px;}
	.rwd .header .row1{background:#0061aa;padding:0 0 25px 0;margin-bottom:5px;}
	.rwd .header .row2{display:none;}
	.rwd .header .row3{display:block;position:fixed;top:0;width:290px;overflow:hidden;z-index:100;}
	.rwd .header .row3 .util{height:50px;float:none;background: #0061aa;}
	.rwd .header .row3 .util .user{display:inline-block;line-height:50px;color:#fff;padding-left:20px;}
	.rwd .header .row3 .util .logout{display:inline-block;border:1px solid #6dadd7;background:#fff;color:#0061aa;font-weight:800;margin-top:13px;}
	.rwd .header .row3 .gnb .icoMenu{display:inline-block;background:none;vertical-align:top;margin:13px 10px 0 15px;}
	.rwd .header .row3 .gnb{overflow:hidden;overflow-y:auto;background: #0061aa;-webkit-overflow-scrolling: touch;}
	.rwd .header .row3 .gnb > ul > li{height:auto;float:none;border-bottom:1px solid #4686b7;}
	.rwd .header .row3 .gnb > ul > li > a{display:block;height:45px;line-height:45px;border-left:none;font-size:17px;color:#fff;font-weight:700;text-align:left;vertical-align:top;}
	.rwd .header .row3 .gnb > ul > li:first-child{border-top:1px solid #4686b7;}
	.rwd .header .row3 .gnb > ul > li:last-child > a{border-right:0;}
	.rwd .header .row3 .gnb > ul > li > a.active{background:#02599a;}
	.rwd .header .row3 .gnb > ul > li.g1 > a em{width:21px;height:19px;background:url('../img/icon_mobMenu1.png') center center no-repeat;background-size:19px 19px;}
	.rwd .header .row3 .gnb > ul > li.g2 > a em{width:21px;height:24px;margin-top:10px;background:url('../img/icon_mobMenu2.png') center center no-repeat;background-size:16px 21px;}
	.rwd .header .row3 .gnb > ul > li.g3 > a em{width:21px;height:19px;background:url('../img/icon_mobMenu3.png') center center no-repeat;background-size:19px 19px;}
	.rwd .header .row3 .gnb > ul > li.g4 > a em{width:21px;height:19px;background:url('../img/icon_mobMenu4.png') center center no-repeat;background-size:19px 19px;}
	.rwd .header .row3 .gnb > ul > li.g5 > a em{width:21px;height:19px;background:url('../img/icon_mobMenu5.png') center center no-repeat;background-size:19px 19px;}
	.rwd .header .row3 .gnb > ul > li.g6 > a em{width:21px;height:30px;margin-top:6px;background:url('../img/icon_mobMenu6.png') center center no-repeat;background-size:13px 20px;}
	.rwd .header .row3 .gnb > ul > li.g7 > a em{width:21px;height:13px;background:url('../img/icon_mobMenu7.png') center center no-repeat;background-size:19px 13px;}
	.rwd .header .row3 .gnb .gnbDepths{position:relative;top:auto;left:auto;z-index:10;padding:0;display:none;background:#0061aa;border:0;}
	.rwd .header .row3 .gnb .gnbDepths > ul > li{border-top:1px solid #4686b7;}
	.rwd .header .row3 .gnb .depth2{font-size:14px;color:#fff;font-weight:700;display:block;height:35px;line-height:35px;border:0;padding:0 0 0 30px;transition: 0.4s;background: #0061aa;}
	.rwd .header .row3 .gnb .depth2.active{background:#0c73c0;color:#fff;}
	.rwd .header .row3 .gnb .depth2List{padding:10px 0;border-top:1px solid #4686b7;}
	.rwd .header .row3 .gnb .depth2List a{font-size:13px;display:block;color:#85caff;padding:5px 0 5px 30px;transition: 0.4s;}
	.rwd .header .row3 .gnb .depth2List a.active{color:#fff;}
	.rwd .header .row3 .btnMobClose{position:absolute;top:0;right:0;width:50px;height:50px;background:url('../img/btn_close.png') center center no-repeat;background-size:20px 20px;}
	.rwd .header .logo{display:block;width:100%;height:34px;float:none;margin:0 auto;background:#fff;padding:10px 0;}
	.rwd .location{display:none;}
	.rwd .h2{font-size:17px;background-size:14px 13px;}
	.rwd .scrollTbs{position:relative;overflow-x:scroll;-webkit-overflow-scrolling: touch;}
	.rwd .scrollTbs.first table{width:200%;}
	.rwd .scrollTbs.second table{width:300%;}
	.rwd .tabs{margin:0 5px 20px 5px}
	.rwd .tbBtm{margin:10px 5px;}
	.rwd .graphList .lineCols > ul{margin-left:0;}
	.rwd .graphList .lineCols > ul > li{width:50%;}
	.rwd .maintenanceIName {top:-5px;}
	.rwd .maintenanceIName li{line-height:28px;}
	.rwd .maintenanceIName li .thumb{line-height:28px;}
	.rwd .maintenanceIName li .thumb img{width:28px;height:28px;}
	.rwd .scdItem img{width:28px;}
	.rwd .btnMobToggle{display:block;}
	.rwd .btnLines.noPos{left:0;}

	.diagramIndex{margin:0 5px;}
	.diagramIndex .lineCol{display:block;}
	.diagramIndex .lineCol.first{width:auto;}
	.diagramIndex .lineCol.first .lineColIn{margin-right:0;height:auto;}
	.diagramIndex .lineCol.second{width:auto;margin-top:10px;}
	.diagramIndex .lineCol.second .lineColIn{margin-left:0;height:auto;}

	.layer .layerBody{padding:5px;}
	.twoGraph span{display:block;}
	.twoGraph .left{width:auto;text-align:center;margin-bottom:20px;}
	.twoGraph .right{width:auto;text-align:center;border:1px solid #dde1e4;padding:20px;border-radius:5px;}

	.healthIndex{margin:0 5px;}
	.healthIndex .h2Area{margin:0;}
	.healthIndex .listSrch{margin:0;}
	.healthIndex .listSrch .day{display:block;margin:5px 0 0 73px;}

	.healthIndex .textTabs{margin:25px 0 15px 0;}

	.healthIndex .lineColRow .lineCol.col1{width:auto;display:block;}
	.healthIndex .lineColRow .lineCol.col2{width:auto;display:block;}
	.healthIndex .lineColRow .lineCol.half{width:auto;display:block;}
	.healthIndex .lineColRow .lineCol .lineColIn{margin:10px 0 0 0;}

}

@media all and (max-width:750px) {
	.rwd .graphList .lineCols > ul > li{width:auto;display:block;}
	.rwd .maintenanceIName {top:5px;text-align:right;}
	.rwd .maintenanceIName li{line-height:18px;margin-left:5px;}
	.rwd .maintenanceIName li .thumb{line-height:18px;}
	.rwd .maintenanceIName li .thumb img{width:18px;height:18px;}

	.healthIndex .listSrch li{display:block;margin-right:0;}
	.healthIndex .listSrch .checks2.inline{display:block;}
	.healthIndex .listSrch .checks2.inline li{display:inline-block;}
	.healthIndex .listSrch .selects.inline{display:block;}
	.healthIndex .listSrch .day{margin:5px 0 0 0;}


	.btnLines a{width:35px;font-size:11px;}
	.btnLines a.active{color:#2a2d33;background:#dfe3e6 url('../img/icon_activeArrow.png') 28px center no-repeat;}
	.btnLines.long a{width:104px;}
	.btnLines.long a.active{background:#dfe3e6 url('../img/icon_activeArrow.png') 92px center no-repeat;}

	.scrollTbs.first .paging{width:200%;}
	.scrollTbs.second .paging{width:300%;}
	.paging li a{width:20px;height:23px;line-height:23px;}
}

@media all and (max-width:475px) {
	.rwd .maintenanceIName {width:50%;top:-15px;}
	.rwd .maintenanceIName li{margin-left:5px;}

	.healthIndex .listSrch .selects.inline{width:98px !important;}
	.healthIndex .inputs input{width:90px !important;padding-left:5px;font-size:11px;}
}