@charset "utf-8";
@font-face {
	font-family: 'Binggrae';
	font-style: normal;
	font-weight: 400;
	src: url(../font/Binggrae.eot);
	src: url(../font/Binggrae.eot?#iefix) format('embedded-opentype'),
		 url(../font/Binggrae.woff) format('woff'),
		 url(../font/Binggrae.ttf) format('truetype');
}

@font-face {
	font-family: 'Binggrae-Bold';
	font-style: normal;
	font-weight: 700;
	src: url(../font/Binggrae-Bold.eot);
	src: url(../font/Binggrae-Bold.eot?#iefix) format('embedded-opentype'),
		 url(../font/Binggrae-Bold.woff) format('woff'),
		 url(../font/Binggrae-Bold.ttf) format('truetype');
}
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0;font-family: 'Binggrae';font-weight:400;}
html, body{position:relative;width:100%;height:100%;font-family: 'Binggrae';font-weight:400;font-smoothing: antialiased;-webkit-text-size-adjust:none;}
*{-webkit-text-size-adjust:none;}
fieldset,img{border:0 none;vertical-align: top;}
dl,ul,ol,menu,li{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
input,select,textarea,button{font-size:100%;vertical-align:middle;}
button{border:0;background-color:transparent;cursor:pointer;}
table{width:100%;border-collapse:collapse;border-spacing:0;}
input[type='text'],input[type='password'],input[type='submit'],input[type='search'],input[type='checkbox'],input[type='radio'],textarea{-webkit-appearance:none;border-radius:0;font-family: 'Binggrae';font-weight:400;}
button{display:inline-block;margin:0;padding:0;border:none;background:none;text-align:center;vertical-align:middle;white-space:nowrap;cursor:pointer;font-family: 'Binggrae';font-weight:400;}
input[type='search']::-webkit-search-cancel-button{-webkit-appearance:none;}
select{border-radius:0;border:none;-webkit-appearance:none;}
a{margin:0;padding:0;border:0;background:transparent;text-decoration:none;font-family: 'Binggrae';font-weight:400;}
a:link, a:visited, a:hover, a:active, a:focus{text-decoration:none;}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal;}
strong{font-weight:400;}
::-webkit-input-placeholder {font-size:12px;color:#7a8599;font-family: 'Binggrae';font-weight:400;}
::-moz-placeholder {font-size:12px;color:#7a8599;font-family: 'Binggrae';font-weight:400;}
:-ms-input-placeholder {font-size:12px;color:#7a8599;font-family: 'Binggrae';font-weight:400;}
:-moz-placeholder {font-size:12px;color:#7a8599;font-family: 'Binggrae';font-weight:400;}
.dim{width:100%;height:100%;position:fixed;top:0px;left:0px;z-index:800;background:rgba(0,0,0,.75);}
.dim_up{width:100%;height:100%;position:fixed;top:0px;left:0px;z-index:900;background:rgba(0,0,0,.75);}

.web .m{width:640px;margin:0 auto;}

/* 인풋 텍스트 */
.input_cols{font-size:0;}
.input_cols .col{height:43px;padding:5px 0;}
.input_cols.inline .col{display:inline-block;width:50%;}
.input_cols.inline .col:first-child .inputs{margin-right:5px;}
.input_cols.inline .col:last-child .inputs{margin-left:5px;}
.inputs{position:relative;display:block;border:1px solid #e5ebec;background:#f1f5f6;height:43px;border-radius:5px;box-sizing: border-box;}
.inputs input{width:100%;height:43px;font-size:13px;color:#363942;background:none;border:0;text-indent:15px;font-weight:bold;}

/* 인풋 라디오 */
.radio_cols{font-size:0;margin:0 10px;}
.radio_cols .col{height:40px;}
.radio_cols.inline .col{display:inline-block;}
.radio_cols:after{content:'';display:block;clear:both;}
.radios{display:block;}
.radios input{opacity:0;position:absolute;}
.radios input[type=radio]+label{display:block;position:relative;padding-left:24px;background-image:url('../../img/radio_off.png');background-position:left center;background-repeat:no-repeat;background-size:18px 18px;height:40px;line-height:40px;color:#222;font-size:12px;cursor:pointer;-moz-transition: 0.5s;-o-transition: 0.5s;-webkit-transition: 0.5s;transition: 0.5s;}
.radios input[type=radio]:checked+label{background-image:url('../../img/radio_on.png');}

/* 인풋 체크 */
.check_cols{font-size:0;margin:0 5px;}
.check_cols .col{width:50%;height:40px;padding:5px 0;display:inline-block;}
.checks{display:block;margin:0 5px;}
.checks input{opacity:0;position:absolute;}
.checks input[type=checkbox]+label{position:relative;text-align:center;height:38px;line-height:38px;border:1px solid #e5ebec;border-radius:5px;color:#b6bcc6;font-size:12px;cursor:pointer;display:block;-moz-transition: 0.5s;-o-transition: 0.5s;-webkit-transition: 0.5s;transition: 0.5s;}
.checks input[type=checkbox]:checked+label{background:#2d9be0;border:1px solid #2d9be0;color:#fff;font-weight:bold;}

/* 텍스트아레아 */
.textarea{position:relative;display:block;border:1px solid #e5ebec;background:#f1f5f6;border-radius:5px;box-sizing: border-box;padding:15px;margin:5px 0;}
.textarea label{position:absolute;top:0;left:0;padding:15px;font-size:11px;color:#7a8599;line-height:170%;letter-spacing:-1px;}
.textarea label strong{display:block;font-family: 'Binggrae';font-size:12px;margin-bottom:5px;}
.textarea textarea{width:100%;height:100px;font-size:13px;color:#363942;background:none;border:0;font-weight:bold;-webkit-overflow-scrolling:touch;}

/* 셀렉트 */
.selects{position:relative;display:block;border-bottom:1px solid #181819;min-width:200px;height:53px;overflow:hidden;}
.selects select{width:100%;height:53px;font-size:17px;color:#222;background:url('../../images/common/ico_select-arrow.png') right center no-repeat;}

/* 헤더 */
.m.main .header{position:absolute;top:0;left:0;width:100%;height:39px;}
.m.main .header .logo{float:left;}
.m.main .header .logo a{margin:23px 0 0 15px;display:block;text-indent:-9999px;width:72px;height:18px;background:url('../../img/img_logo.png') center center no-repeat;background-size:72px 18px;}
.m.main .header .bt_inquiry{float:right;text-shadow:0px 2px 0px rgba(0, 0, 0, 0.15);font-size:13px;color:#fff;margin:23px 15px 0 0;font-weight:bold;background:url('../../img/ico_inquiry.png') left center no-repeat;background-size:22px 16px;padding-left:27px;}
.pc.main .header{position:absolute;top:0;left:50%;width:1080px;height:39px;margin-left:-540px;}
.pc.main .header .logo{float:left;margin-top:40px;}
.pc.main .header .logo a{display:block;text-indent:-9999px;width:143px;height:35px;background:url('../../img/img_logo.png') center center no-repeat;}
.pc.main .header .bt_inquiry{float:right;text-shadow:0px 2px 0px rgba(0, 0, 0, 0.15);font-size:21px;color:#fff;width:36px;height:27px;margin:45px 0 0 0;font-weight:bold;background:url('../../img/ico_inquiry2.png') left center no-repeat;padding-left:42px;}
.sub .header{position:relative;background:#2d9be0;text-align:center;border-bottom:2px solid #2389d5;padding:20px 0;}
.sub .header .back{text-indent:-9999px;position:absolute;top:0;left:0;width:45px;height:100%;background:url('../../img/ico_back.png') center center no-repeat;background-size:13px 24px;}
.sub .header .t1{font-size:18px;color:#fff;font-weight:bold;text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.1);}
.sub .header .t2{font-size:12px;color:#a3dcff;font-weight:bold;margin-top:5px;}
.sub .header2{position:relative;background:#32404d;padding:17px 15px;}
.sub .header2 .info{position:relative;min-height:32px;padding-left:42px;}
.sub .header2 .info.ing{background:url('../../img/img_status1.png') left center no-repeat;background-size:32px 32px;}
.sub .header2 .info.standby{background:url('../../img/img_status2.png') left center no-repeat;background-size:32px 32px;}
.sub .header2 .info.end{background:url('../../img/img_status3.png') left center no-repeat;background-size:32px 32px;}
.sub .header2 .t1{font-size:15px;color:#fff;font-weight:bold;}
.sub .header2 .t2{font-size:10px;color:#7e8f9e;}
.sub .header2 .car_number{position:absolute;top:0;right:0;font-size:12px;color:#fff;line-height:32px;}
.sub .header3{position:relative;background:#2d9be0;text-align:center;border-bottom:2px solid #2389d5;height:52px;}
.sub .header3 .t1{position:absolute;top:19px;left:50%;background:#fff;box-sizing:border-box;display:inline-block;width:53px;height:53px;margin-left:-26px;border-radius:53px;}
.sub .header3 .thumb{display:inline-block;width:45px;height:45px;border-radius:45px;margin:4px auto 0 auto;overflow:hidden;box-sizing:border-box;}
.sub .header3 .thumb img{width:45px;height:45px;}
.sub .header3 .selected{position:absolute;top:2px;right:0px;z-index:10;display:inline-block;width:17px;height:17px;text-indent:-9999px;}
.sub .header3 .back{text-indent:-9999px;position:absolute;top:0;left:0;width:45px;height:100%;background:url('../../img/ico_back.png') center center no-repeat;background-size:13px 24px;}
.sub .header3 .view{font-size:12px;color:#fff;font-weight:bold;position:absolute;top:0;right:15px;line-height:52px;}
.sub .header3 .first .thumb{border:2px solid #32404d;background:#32404d;border-radius:45px;width:45px;height:45px;overflow:hidden;}
.sub .header3 .first .thumb img{width:45px;height:45px;}
.sub .header3 .first .selected{background:url('../../img/img_end1-2.png') center center no-repeat;background-size:17px 17px;}
.sub .header3 .chk .thumb{border:2px solid #e94848;background:#e94848;border-radius:45px;width:45px;height:45px;overflow:hidden;}
.sub .header3 .chk .thumb img{width:45px;height:45px;}
.sub .header3 .chk .selected{background:url('../../img/img_end2-2.png') center center no-repeat;background-size:17px 17px;}
.sub2 .header{position:relative;height:54px;line-height:54px;background:#32404d;padding-left:45px;}
.sub2 .header .back{text-indent:-9999px;position:absolute;top:0;left:0;width:45px;height:100%;background:url('../../img/ico_back.png') center center no-repeat;background-size:13px 24px;}
.sub2 .header .t1{font-size:18px;color:#fff;font-weight:bold;text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.1);}


/* 스텝 */
.steps{position:relative;font-size:0;text-align:center;margin:30px 15px 30px 15px;}
.steps:before{content:'';display:block;position:absolute;top:15px;left:0;width:100%;height:1px;background:#e5ebec;}
.steps ul{position:relative;}
.steps li{display:inline-block;text-align:center;width:33.33%;padding-top:35px;background-repeat:no-repeat;background-position:center top;}
.steps li.st1{background-image:url('../../img/ico_step1_off.png');background-size:35px 30px;}
.steps li.st1.active{background-image:url('../../img/ico_step1_on.png');}
.steps li.st2{background-image:url('../../img/ico_step2_off.png');background-size:31px 30px;}
.steps li.st2.active{background-image:url('../../img/ico_step2_on.png');}
.steps li.st3{background-image:url('../../img/ico_step3_off.png');background-size:35px 30px;}
.steps li.st3.active{background-image:url('../../img/ico_step3_on.png');}
.steps strong{display:block;font-size:13px;color:#b6bcc6;font-weight:bold;}
.steps .active strong{color:#2d9be0;}

/* 풋터 */
.footer{background:#1f2932;text-align:center;padding:25px 0 20px 0;}
.footer .t1{font-size:11px;color:#77828c;line-height:170%;}
.footer .t2{font-size:12px;color:#7e8f9e;}
.footer .t2 strong{font-weight:bold;}
.footer .sns{margin-top:15px;}
.footer .sns li{display:inline-block;margin:0 5px;}
.footer .sns a{display:block;width:23px;height:23px;line-height:23px;border-radius:23px;border:1px solid #474f56;color:#474f56;font-size:12px;font-weight:bold;}
.footer .store{font-size:0;text-align:center;margin:10px 0 20px 0;}
.footer .store li{display:inline-block;margin:0 5px;}
.footer .store a{display:block;width:96px;height:32px;text-indent:-9999px;}
.footer .store a.google{background:url('../../img/img_googleplay2.png') center center no-repeat;background-size:96px 32px;}
.footer .store a.apple{background:url('../../img/img_appstore2.png') center center no-repeat;background-size:96px 32px;}
.footer .tel{font-weight:bold;color:#fff;font-size:12px;margin-bottom:5px;}
.footer .time{font-weight:bold;color:#7e8f9e;font-size:11px;}

/* 레이어 */
.layer{display:none;width:237px;position:fixed;top:0;left:0;z-index:801;background:#fff;border-radius:10px;border:3px solid #000;overflow:hidden;}
.layer.up{z-index:901;}
.layer .inner{padding:20px;}
.layer .inner.default{font-size:12px;color:#455666;text-align:center;line-height:69px;}
.layer .choice_txts{text-align:center;}
.layer .choice_txts .t1{color:#363942;font-size:18px;margin:0 0 10px 0;}
.layer .choice_txts .t1 strong{font-weight:bold;}
.layer .choice_txts .t2{font-size:12px;color:#7a8599;margin-top:5px;}
.layer .tip{position:relative;font-size:11px;color:#455666;font-weight:bold;padding-left:16px;margin-top:10px;}
.layer .tip:before{content:'';display:inline-block;position:absolute;top:2px;left:0;width:12px;height:12px;background:url('../../img/ico_tip.png') left center no-repeat;background-size:12px 12px;}
.layer .tip2{position:relative;font-size:11px;color:#e94848;font-weight:bold;padding-left:16px;margin-top:10px;}
.layer .tip2:before{content:'';display:inline-block;position:absolute;top:2px;left:0;width:12px;height:12px;background:url('../../img/ico_tip2.png') left center no-repeat;background-size:12px 12px;}
.layer .bts{font-size:0;border-top:1px solid #e5ebec;}
.layer .bts a{position:relative;display:block;font-size:15px;text-align:center;font-weight:bold;height:47px;line-height:47px;}
.layer .bts.two a{display:inline-block;width:50%;}
.layer .bts a.type1{color:#2d9be0;}
.layer .bts a.type2{color:#7a8599;}
.layer .bts.two a:first-child:after{content:'';display:inline-block;width:1px;height:15px;background:#e5ebec;position:absolute;top:50%;right:0;margin-top:-8px;}




.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  /* Fix of Webkit flickering */
  z-index: 1;
}
.swiper-container-no-flexbox .swiper-slide {
  float: left;
}
.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.swiper-container-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
  -moz-transform: translate3d(0px, 0, 0);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
}
.swiper-container-multirow > .swiper-wrapper {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto;
}
.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
}