@charset "euc-kr";

input::-ms-clear {display: none;}

.blind{overflow:hidden; position:absolute; left:-9999px !important; top:-9999px !important}
.number_type{font-family:'Lato';}
.sprite_event{background:url('../img/event/img_sprite.png') no-repeat;display:inline-block;}
.sprite_event.icon_go{position:absolute;bottom:3px;right:0;background-position:0 0;width:27px;height:27px;}
.sprite_event.bg_white{width:90px;height:90px;background-position:-410px 0;}
.page_tit{font-size:30px;color:#333;background:url('../img/event/icon_tit-line2.gif') 0 bottom repeat-x;}
.page_tit h3{display:block;padding:10px 0 20px;background:url('../img/event/icon_tit-line.gif') 0 top no-repeat;}
.page_tit h3 a{color:#333;}

.event{position:relative;padding:40px 0 100px;}
.event_menu{margin-bottom:30px;}
.event_menu ul{display:block;font-size:0;height:102px;border-left:1px solid #e0e0e0;border-right:1px solid #e0e0e0;overflow:hidden;}
.event_menu li{display:inline-block;width:274px;height:100px;}
.event_menu li a{display:block;height:100px;background:#fafafa url('../img/event/img_menu.png') no-repeat;border-left:1px solid #e0e0e0;text-align:center;border-bottom:2px solid #43464b;}
.event_menu li a strong{color:#b9b9b9;display:block;padding-top:65px;font-size:16px;}
.event_menu li.active a{background:#fff url('../img/event/img_menu.png') no-repeat;border-bottom:0;}
.event_menu li.active a strong{color:#333;}
.event_menu li:first-child {width:276px;}
.event_menu li:first-child a{border-left:0;}
.event_menu li.evt_home a{background-position:0 0;}
.event_menu li.evt_home.active a{background-position:0 -100px;}
.event_menu li.evt_list a{background-position:-280px 2px;}
.event_menu li.evt_list.active a{background-position:-280px -98px;}
.event_menu li.evt_benefit a{background-position:-550px 0;}
.event_menu li.evt_benefit.active a{background-position:-550px -100px;}
.event_menu li.evt_winner a{background-position:-830px 0;}
.event_menu li.evt_winner.active a{background-position:-830px -100px;}

.evt_visual{position:relative;height:460px;margin-bottom:70px;}
.evt_visual .evt_big li{display:none;}
.evt_visual .evt_big li:first-child{display:block;}
.evt_visual .evt_tabs {font-size:0;width:100%;position:absolute;bottom:0;z-index:2;}
.evt_visual .evt_tabs li{display:inline-block;width:25%;text-align:center;}
.evt_visual .evt_tabs li a{display:block;padding:19px 0;color:#242424;font-size:14px;background:url('../img/event/bg_tabs.png') repeat;font-weight:700;-moz-transition: 0.3s;-o-transition: 0.3s;-webkit-transition: 0.3s;transition: 0.3s;}
.evt_visual .evt_tabs li a.active{background:none;}

.evt_row > strong{position:relative;font-size:24px;color:#242424;display:block;margin-bottom:20px;}
.card_evt_banner{font-size:0;overflow:hidden;}
.card_evt_banner li{position:relative;text-align:left;width:50%;}
.card_evt_banner li a{display:block;}
.card_evt_banner li.first{float:left;}
.card_evt_banner li.last{float:right;}
.card_evt_banner li .txts{position:absolute;top:0;right:0;width:145px;height:170px;padding-left:20px;}
.card_evt_banner li .txts span{font-size:12px;width:46px;height:46px;line-height:46px;background-position:-67px -79px;color:#242424;text-align:center;}
.card_evt_banner li .txts strong{font-size:13px;display:block;color:#242424;line-height:18px;margin-top:10px;}
.no-interest_card{border-top:1px solid #ddd;border-bottom:1px solid #ddd;padding:30px 0;margin-top:25px;margin-bottom:70px;}
.no-interest_card > strong{font-size:18px;color:#242424;position:Relative;display:block;margin-bottom:10px;}
.no-interest_card > strong span{color:#868686;font-size:12px;margin-left:5px;}
.no-interest_card ul{font-size:0;}
.no-interest_card li{display:inline-block;width:275px;margin:8px 0;position:relative;min-height:34px;}
.no-interest_card li.long{width:100%;}
.no-interest_card li p{color:#868686;font-size:12px;margin:0 0 0 124px;font-weight:700;line-height:18px;}
.no-interest_card .card_company{width:106px;height:32px;font-size:0;position:absolute;top:0;left:0;display:inline-block;border:1px solid #d4d4d4;}
/*.no-interest_card .card_company.card_sinhan{background-position:0 0;}*/
/*.no-interest_card .card_company.card_hyundai{background-position:0 -44px;}*/
/*.no-interest_card .card_company.card_kb{background-position:0 -88px;}*/
/*.no-interest_card .card_company.card_samsung{background-position:0 -132px;}*/
/*.no-interest_card .card_company.card_lotte{background-position:0 -176px;}*/
/*.no-interest_card .card_company.card_bc{background-position:0 -220px;}*/
/*.no-interest_card .card_company.card_citi{background-position:0 -264px;}*/
/*.no-interest_card .card_company.card_nh{background-position:0 -308px;}*/
/*.no-interest_card .card_company.card_hana{background-position:0 -352px;}*/

.evt_benefit_list{font-size:0;width:1160px;margin-left:-28px;}
.evt_benefit_list li{display:inline-block;margin:0 28px;}
.evt_benefit_list li .thumb{display:block;}
.evt_benefit_list li .txt{margin-top:20px;position:Relative;}
.evt_benefit_list li strong{font-size:14px;color:#242424;}
.evt_benefit_list li p{font-size:12px;color:#868686;margin-top:5px;}

.evt_list ul{font-size:0;width:1155px;margin-left:-23px;}
.evt_list li{display:inline-block;margin:0 23px 40px 23px;border-bottom:1px solid #dfdfdf;}
.evt_list li .txt{padding:20px 0;}
.evt_list li .txt span{font-size:12px;display:block;color:#ff535e}
.evt_list li .txt strong{font-size:15px;color:#242424;display:block;margin:10px 0 5px 0;}
.evt_list li .txt p.number_type{font-size:12px;color:#a2a2a2;}


.evt_winner_top{position:relative;margin:50px 0;}
.evt_winner_top strong{font-size:20px;color:#242424;}
.evt_winner_top .customer_srch_box{position:absolute;top:0;right:0;}
.evt_winner_top .customer_srch_box .inputs{width:417px;}
.evt_winner_top .customer_srch_box .inputs input{width:417px;}
.evt_result_txt{position:relative;text-align:center;padding-bottom:30px;}
.evt_result_txt .txt1{width:370px;margin:0 auto;position:relative;font-size:20px;padding-left:20px;font-weight:700;}
.evt_result_txt .txt1 span{color:#ff535e;font-weight:bold;}
.evt_result_txt .txt2{position:absolute;top:10px;right:0;font-size:13px;font-weight:700;}
.evt_result_txt .txt2 span{color:#ff535e;}
.sprite_event.icon_srch_result{position:absolute;top:-1px;left:0;width:25px;height:25px;background-position:-0px -77px}
.customer_srch_box{position:relative;}
.customer_srch_box .fast_sel.select_wrap{width:164px;height:28px;border:2px solid #c4c4c4;line-height:28px;text-align:left;text-indent:0;display:inline-block;*display:inline;zoom:1;}
.customer_srch_box .fast_sel select{width:164px;height:28px;}
.customer_srch_box .inputs{width:335px;display:inline-block;;border:2px solid #d7d8dc;vertical-align:top;position:relative;text-align:left;}
.customer_srch_box .inputs input{width:270px;height:28px;line-height:28px;margin:0;border:0;}
.customer_srch_box .inputs button{position:absolute;top:-2px;right:-2px;width:65px;height:32px;color:#fff;text-align:center;background:#85878f;border:0;}


.evt_winner table{width:100%;border-top:1px solid #3a3d44;border-bottom:1px solid #3a3d44;}
.evt_winner table th{padding:15px 0;color:#242424;}
.evt_winner table tr.active td{font-weight:700;}
.evt_winner table tr.article_conts{display:none;}
.evt_winner table tr.article_conts td{text-align:left;padding:20px 0 30px 130px;line-height:20px;}
.evt_winner table td{border-top:1px solid #eef0ef;padding:13px 0;text-align:center;color:#242424;}
.evt_winner table td.number{font-weight:700;}
.evt_winner table td.tit{text-align:left;padding-left:20px;}
.evt_winner table td.tit a{color:#242424;display:block;width:790px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal}
.evt_winner table tr.article_conts td{}

.evt_benefit{}
.evt_benefit > strong{display:block;position:relative;font-size:20px;color:#242424;margin-bottom:15px;}
.evt_benefit > strong span{font-size:12px;color:#85878f;margin-left:10px;}
.evt_benefit .benefit_table_area{position:relative;}
.evt_benefit .benefit_table_area .mem_focus li.rank1{z-index:1;display:none;position:absolute;top:249px;left:184px;width:182px;height:1275px;border:1px solid #ff535e;}
.evt_benefit .benefit_table_area .mem_focus li.rank2{z-index:1;display:none;position:absolute;top:249px;left:367px;width:182px;height:1275px;border:1px solid #ff535e;}
.evt_benefit .benefit_table_area .mem_focus li.rank3{z-index:1;display:none;position:absolute;top:249px;left:551px;width:182px;height:1275px;border:1px solid #ff535e;}
.evt_benefit .benefit_table_area .mem_focus li.rank4{z-index:1;display:none;position:absolute;top:249px;left:733px;width:182px;height:1275px;border:1px solid #ff535e;}
.evt_benefit .benefit_table_area .mem_focus li.rank5{z-index:1;display:none;position:absolute;top:249px;left:916px;width:180px;height:1275px;border:1px solid #ff535e;}
.evt_benefit table.benefit_table{width:100%;border:2px solid #adadad;}
.evt_benefit table.benefit_table th{text-align:center;border-top:1px solid #e5e5e5;font-size:14px;}
.evt_benefit table.benefit_table th span{font-size:12px;color:#636363;display:block;margin-top:5px;line-height:17px;}
.evt_benefit table.benefit_table td{border-top:1px solid #e5e5e5;border-left:1px solid #e5e5e5;}
.evt_benefit table.benefit_table tr:first-child td{border-top:0;border-left:0;}
.evt_benefit table.benefit_table tr:first-child th{border-top:0;}
.evt_benefit table.benefit_table tr.grayRow th{background:#f5f5f5;text-align:center;}
.evt_benefit table.benefit_table tr.grayRow td{background:#f5f5f5;text-align:center;}
.evt_benefit table.benefit_table .titRow th{border-bottom:0;background: #f5f5f5;}
.evt_benefit table.benefit_table .titRow td{height:33px;text-align:center;}
.evt_benefit table.benefit_table .titRow td.vip{background:#d6d6d6;}
.evt_benefit table.benefit_table .titRow td.default{background:#e3e3e3;}
.evt_benefit table.benefit_table .firstRow{overflow:hidden;}
.evt_benefit table.benefit_table .firstRow .left{display:inline-boock;width:600px;float:left;min-height:77px;line-height:77px;vertical-align:top;}
.evt_benefit table.benefit_table .firstRow .left {font-size:14px;margin:0 0 0 50px}
.evt_benefit table.benefit_table .firstRow .left .sprite_event.icon_month{font-weight:700;font-size:16px;text-align:center;display:inline-block;width:54px;height:54px;line-height:54px;background-position:-204px 0;margin:0 20px 0 25px}
.evt_benefit table.benefit_table .firstRow .left strong em{color:#ff535e;}
.evt_benefit table.benefit_table .firstRow .right{display:inline-block;min-height:77px;vertical-align:top;border-left:1px solid #e5e5e5;}
.evt_benefit table.benefit_table .firstRow .right ul{margin:18px 0 0 40px}
.evt_benefit table.benefit_table .firstRow .right li{background:url('../img/event/icon_blt.png') 0 center no-repeat;padding:3px 0 3px 10px;font-weight:700;}
.evt_benefit table.benefit_table .firstRow .right li span{color:#ff535e;}
.evt_benefit table.benefit_table .firstRow .right .btn_mems{font-size:0;margin:22px 0 0 40px;}
.evt_benefit table.benefit_table .firstRow .right a{display:inline-block;color:#fff;font-size:13px;text-align:center;padding:0 30px;height:33px;line-height:33px;margin-right:8px;}
.evt_benefit table.benefit_table .firstRow .right a.login{background:#85878f;}
.evt_benefit table.benefit_table .firstRow .right a.join{background:#d34141;}
.evt_benefit table.benefit_table .secondRow{width:1096px;height:134px;background:url('../img/event/bg_arrow.png') center center no-repeat;}
.evt_benefit table.benefit_table .secondRow ul{font-size:0;text-align:center;}
.evt_benefit table.benefit_table .secondRow li{margin:0 90px;display:inline-block;}
.evt_benefit table.benefit_table .secondRow li.prev_month{}
.evt_benefit table.benefit_table .secondRow li.prev_month .in{background:url('../img/event/bg_rank.png') center center no-repeat;}
.evt_benefit table.benefit_table .secondRow li.next_month{}
.evt_benefit table.benefit_table .secondRow li.next_month .in{background:url('../img/event/bg_rank.png') center center no-repeat;}
.evt_benefit table.benefit_table .secondRow li .in{width:76px;height:76px;}
.evt_benefit table.benefit_table .secondRow li span{font-size:12px;color:#85878f;display:block;margin-top:5px;}
.evt_benefit table.benefit_table .secondRow li.today span{color:#242424;font-weight:700;}
.evt_benefit table.benefit_table .secondRow li.today .in{}
.evt_benefit table.benefit_table .secondRow li .up_way{font-size:12px;position:absolute;top:105px;right:50px;width:161px;height:63px;padding:11px 0 0 26px;background-position:-313px -427px;text-align:left;line-height:16px;color:#676767;font-weight:700;}
.evt_benefit table.benefit_table .secondRow li .up_way em.red{color:#ff636d;}
.evt_benefit table.benefit_table .secondRow li .up_way em.black{color:#000;}
.evt_benefit table.benefit_table .grayRow .no_top{border-top:0;}
.evt_benefit table.benefit_table .grayRow td{padding:30px 0 30px 0;}
.evt_benefit table.benefit_table .grayRow p{line-height:20px;}
.evt_benefit table.benefit_table .grayRow.reviewBenefit p span{display:inline-block;width:115px;text-align:left;color:#242424;}
.evt_benefit table.benefit_table .grayRow.reviewBenefit p em{display:inline-block;color:#ff535e;}
.evt_benefit table.benefit_table .ranking{display:inline-block;width:90px;height:90px;background:url('../img/event/img_rating.png') no-repeat;}
.evt_benefit table.benefit_table .ranking.icon_diamond{background-position:-46px 0px}
.evt_benefit table.benefit_table .ranking.icon_gold{background-position:-233px 0px}
.evt_benefit table.benefit_table .ranking.icon_silver{background-position:-414px 0px}
.evt_benefit table.benefit_table .ranking.icon_bronze{background-position:-596px 0px}
.evt_benefit table.benefit_table .ranking.icon_family{background-position:-779px 0px}
.evt_benefit table.benefit_table .rank_name{display:block;font-size:12px;color:#242424;font-weight:700;margin-top:10px;}
.evt_benefit table.benefit_table .small_coupon{position:relative;z-index:2;display:block;margin:0 auto;width:140px;height:56px;background:url('../img/event/bg_coupon1.png') center center no-repeat;}
.evt_benefit table.benefit_table .small_coupon p{font-size:11px;font-weight:bold;padding:8px 0 5px 0;letter-spacing:-1px;margin-right:20px;}
.evt_benefit table.benefit_table .small_coupon p strong{font-size:17px;}
.evt_benefit table.benefit_table .small_coupon span{font-size:9px;color:#737373;margin-right:20px;}
.evt_benefit table.benefit_table .small_delivery{display:block;margin:0 auto;width:140px;height:56px;background:url('../img/event/bg_delivery.png') center center no-repeat;}
.evt_benefit table.benefit_table .small_delivery p{font-size:11px;font-weight:bold;padding:8px 0 8px 0;letter-spacing:-1px;margin-right:20px;}
.evt_benefit table.benefit_table .small_delivery p strong{font-size:17px;}
.evt_benefit table.benefit_table .small_delivery span{font-size:9px;color:#737373;margin-right:20px;}
.evt_benefit table.benefit_table .btn_down{position:relative;z-index:2;display:block;background:#85878f;margin:10px auto 0 auto;width:76px;height:26px;line-height:26px;color:#fff;text-align:center;}
.evt_benefit table.benefit_table .btn_alldown{position:relative;z-index:2;display:inline-block;;background:#d34141;margin:0 auto 0 auto;padding:0 15px;height:26px;line-height:26px;color:#fff;text-align:center;}
.evt_benefit table.benefit_table .btn_alldown em{width:13px;height:12px;background-position:0 -150px;margin-right:5px;position:Relative;top:2px;}
.evt_benefit .tips {margin-top:30px;}
.evt_benefit .tips strong{font-size:20px;color:#242424;display:block;margin-bottom:10px;}
.evt_benefit .tips li{font-size:12px;color:#85878f;background:url('../img/event/img_blt2.png') 0 center no-repeat;padding:5px 0 5px 10px}
.paging{text-align:center;margin:30px 0;}
.paging span {display:inline-block;height:27px;vertical-align:top;}
.paging span a{display:inline-block;width:26px;height:27px;vertical-align:top;}
.paging span.prev{background-position:-65px 0;}
.paging span.next{background-position:-134px 0;}
.paging ul{display:inline-block;vertical-align:top;}
.paging li{display:inline-block;vertical-align:top;}
.paging li a{display:inline-block;width:26px;height:27px;line-height:27px;vertical-align:top;color:#9d9d9d;}
.paging li a.active{font-family:'NanumGothicBold';color:#000}







