@charset "UTF-8";
/* Lato WebFont */
@font-face {
    font-family: 'Lato-Light';
    src: url('../fonts/Lato-Light.eot');
    src: url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato-Light.woff2') format('woff2'),
    url('../fonts/Lato-Light.woff') format('woff'),
    url('../fonts/Lato-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('../fonts/Lato-Regular.eot');
    src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato-Regular.woff2') format('woff2'),
    url('../fonts/Lato-Regular.woff') format('woff'),
    url('../fonts/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('../fonts/Lato-Bold.eot');
    src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato-Bold.woff2') format('woff2'),
    url('../fonts/Lato-Bold.woff') format('woff'),
    url('../fonts/Lato-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

/* Nanum Barun Gothic WebFont */
@font-face {
    font-family: 'Nanum Barun Gothic';
    src: url('../fonts/NanumBarunGothicLight.eot');
    src: url('../fonts/NanumBarunGothicLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NanumBarunGothicLight.woff2') format('woff2'),
    url('../fonts/NanumBarunGothicLight.woff') format('woff'),
    url('../fonts/NanumBarunGothicLight.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Nanum Barun Gothic';
    src: url('../fonts/NanumBarunGothic.eot');
    src: url('../fonts/NanumBarunGothic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NanumBarunGothic.woff2') format('woff2'),
    url('../fonts/NanumBarunGothic.woff') format('woff'),
    url('../fonts/NanumBarunGothic.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Nanum Barun Gothic';
    src: url('../fonts/NanumBarunGothicBold.eot');
    src: url('../fonts/NanumBarunGothicBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NanumBarunGothicBold.woff2') format('woff2'),
    url('../fonts/NanumBarunGothicBold.woff') format('woff'),
    url('../fonts/NanumBarunGothicBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

/* Noto Sans(100,300,400,500,700) */
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/NotoSansKR-Thin.woff2') format('woff2'),
    url('../fonts/NotoSansKR-Thin.woff') format('woff'),
    url('../fonts/NotoSansKR-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/NotoSansKR-Light.woff2') format('woff2'),
    url('../fonts/NotoSansKR-Light.woff') format('woff'),
    url('../fonts/NotoSansKR-Light.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/NotoSansKR-Regular.woff2') format('woff2'),
    url('../fonts/NotoSansKR-Regular.woff') format('woff'),
    url('../fonts/NotoSansKR-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/NotoSansKR-Medium.woff2') format('woff2'),
    url('../fonts/NotoSansKR-Medium.woff') format('woff'),
    url('../fonts/NotoSansKR-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/NotoSansKR-Bold.woff2') format('woff2'),
    url('../fonts/NotoSansKR-Bold.woff') format('woff'),
    url('../fonts/NotoSansKR-Bold.otf') format('opentype');
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, a, address,
del, em, img, strong, dl, dt, dd, ol,
ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead,
tr, th, td, article, aside, canvas,
details, embed, figure, figcaption,
footer, header, hgroup, main, menu,
nav, output, ruby, section, summary,
time, mark, audio, video, textarea {
    margin: 0;
    padding: 0;
    border: 0;
}

body, html {
    -webkit-text-size-adjust: none;
}

main, article, aside, details,
figcaption, figure, footer,
header, hgroup, menu, nav, section {
    display: block;
}

ol, ul, li {
    font-size: 0;
    list-style: none;
}

table, th, td {
    border-collapse: collapse;
    border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 0;
}

input, textarea, select, td, th {
    vertical-align: middle;
}

img {
    vertical-align: top;
    font-size: 0;
}

b {
    font-weight: bold !important;
}

a {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    text-decoration: none;
    color: #000;
    vertical-align: top;
    font-size: 0;
}

em, address {
    font-style: normal;
}

fieldset {
    border: 0;
    vertical-align: top;
}

button {
    display: inline-block;
    font-size: 0;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
}

select::-ms-expand {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}

select {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: 0;
    outline: none;
}

input[type=checkbox], input[type=radio], input[type=text], input[type=password], input[type=number] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: 0;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

input[type=text]::-ms-clear {
    display: none;
}

legend, .blind {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

body, input, select, textarea, button, label, a, li, th, td, h1, h2, h3, h4, h5, h6, p {
    font-size: 12px;
    font-family: 'Lato-Regular', 'Nanum Barun Gothic', Nanum Barun Gothic, sans-serif;
    font-weight: 400;
}

:lang(zh) body, :lang(zh) input, :lang(zh) select, :lang(zh) textarea, :lang(zh) button, :lang(zh) label, :lang(zh) a, :lang(zh) li, :lang(zh) th, :lang(zh) td, :lang(zh) h1, :lang(zh) h2, :lang(zh) h3, :lang(zh) h4, :lang(zh) h5, :lang(zh) h6, :lang(zh) p {
    font-size: 12px;
    font-family: 'Noto Sans', 'Lato-Regular', sans-serif;
    font-weight: 400;
}

:lang(ja) body, :lang(ja) input, :lang(ja) select, :lang(ja) textarea, :lang(ja) button, :lang(ja) label, :lang(ja) a, :lang(ja) li, :lang(ja) th, :lang(ja) td, :lang(ja) h1, :lang(ja) h2, :lang(ja) h3, :lang(ja) h4, :lang(ja) h5, :lang(ja) h6, :lang(ja) p {
    font-size: 12px;
    font-family: 'Noto Sans', 'Lato-Regular', sans-serif;
    font-weight: 400;
}

img[usemap] {
    border: none;
    height: auto;
    max-width: 100%;
    width: auto;
}

::-webkit-input-placeholder {
    font-size: 12px !important;
    color: #999 !important;
}

::-moz-placeholder {
    font-size: 12px !important;
    color: #999 !important;
}

:-ms-input-placeholder {
    font-size: 12px !important;
    color: #999 !important;
}

:-moz-placeholder {
    font-size: 12px !important;
    color: #999 !important;
}

:lang(ko) {
    font-family: 'Nanum Barun Gothic', Nanum Barun Gothic, 'Lato-Regular', sans-serif;
    font-weight: 400;
}

:lang(en) {
    font-family: 'Lato-Regular', sans-serif;
    font-weight: 400;
}

:lang(zh) {
    font-family: 'Noto Sans', 'Lato-Regular', sans-serif;
    font-weight: 400;
}

:lang(ja) {
    font-family: 'Noto Sans', 'Lato-Regular', sans-serif;
    font-weight: 400;
}

.kill {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.loading {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
}

.loading:before {
    content: '';
    width: 38px;
    height: 39px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -19px;
    background: url('../images/loading.png') center center no-repeat;
    background-size: 38px 39px;
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Slider */
.slick-slider {
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before,
.slick-track:after {
    display: table;

    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;

    height: auto;

    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

/*!
 * fullPage 2.9.7
 * https://github.com/alvarotrigo/fullPage.js
 * MIT licensed
 *
 * Copyright (C) 2013 alvarotrigo.com - A project by Alvaro Trigo
 */
html.fp-enabled,
.fp-enabled body {
    margin: 0;
    padding: 0;
    overflow: hidden;

    /*Avoid flicker on slides transitions for mobile phones #336 */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.fp-section {
    position: relative;
    -webkit-box-sizing: border-box; /* Safari<=5 Android<=3 */
    -moz-box-sizing: border-box; /* <=28 */
    box-sizing: border-box;
}

.fp-slide {
    float: left;
}

.fp-slide, .fp-slidesContainer {
    height: 100%;
    display: block;
}

.fp-slides {
    z-index: 1;
    height: 100%;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.3s ease-out; /* Safari<=6 Android<=4.3 */
    transition: all 0.3s ease-out;
}

.fp-section.fp-table, .fp-slide.fp-table {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.fp-tableCell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.fp-slidesContainer {
    float: left;
    position: relative;
}

.fp-controlArrow {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
    position: absolute;
    z-index: 4;
    top: 50%;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    margin-top: -38px;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.fp-controlArrow.fp-prev {
    left: 15px;
    width: 0;
    border-width: 38.5px 34px 38.5px 0;
    border-color: transparent #fff transparent transparent;
}

.fp-controlArrow.fp-next {
    right: 15px;
    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent #fff;
}

.fp-scrollable {
    overflow: hidden;
    position: relative;
}

.fp-scroller {
    overflow: hidden;
}

.iScrollIndicator {
    border: 0 !important;
}

.fp-notransition {
    -webkit-transition: none !important;
    transition: none !important;
}

#fp-nav {
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    top: 50%;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
}

#fp-nav.right {
    right: 17px;
}

#fp-nav.left {
    left: 17px;
}

.fp-slidesNav {
    position: absolute;
    z-index: 4;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0 !important;
    right: 0;
    margin: 0 auto !important;
}

.fp-slidesNav.bottom {
    bottom: 17px;
}

.fp-slidesNav.top {
    top: 17px;
}

#fp-nav ul,
.fp-slidesNav ul {
    margin: 0;
    padding: 0;
}

#fp-nav ul li,
.fp-slidesNav ul li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position: relative;
}

.fp-slidesNav ul li {
    display: inline-block;
}

#fp-nav ul li a,
.fp-slidesNav ul li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
    height: 12px;
    width: 12px;
    margin: -6px 0 0 -6px;
    border-radius: 100%;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 4px;
    width: 4px;
    border: 0;
    background: #333;
    left: 50%;
    top: 50%;
    margin: -2px 0 0 -2px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
    width: 10px;
    height: 10px;
    margin: -5px 0px 0px -5px;
}

#fp-nav ul li .fp-tooltip {
    position: absolute;
    top: -2px;
    color: #fff;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    display: block;
    opacity: 0;
    width: 0;
    cursor: pointer;
}

#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1;
}

#fp-nav ul li .fp-tooltip.right {
    right: 20px;
}

#fp-nav ul li .fp-tooltip.left {
    left: 20px;
}

.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell {
    height: auto !important;
}

.fp-responsive .fp-auto-height-responsive.fp-section,
.fp-responsive .fp-auto-height-responsive .fp-slide,
.fp-responsive .fp-auto-height-responsive .fp-tableCell {
    height: auto !important;
}

.cropper-container {
    direction: ltr;
    font-size: 0;
    line-height: 0;
    position: relative;
    -ms-touch-action: none;
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cropper-container img {
    /*Avoid margin top issue (Occur only when margin-top <= -height)
     */
    display: block;
    height: 100%;
    image-orientation: 0deg;
    max-height: none !important;
    max-width: none !important;
    min-height: 0 !important;
    min-width: 0 !important;
    width: 100%;
}

.cropper-wrap-box,
.cropper-canvas,
.cropper-drag-box,
.cropper-crop-box,
.cropper-modal {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.cropper-wrap-box,
.cropper-canvas {
    overflow: hidden;
}

.cropper-drag-box {
    background-color: #fff;
    opacity: 0;
}

.cropper-modal {
    background-color: #000;
    opacity: .5;
}

.cropper-view-box {
    display: block;
    height: 100%;
    outline-color: rgba(51, 153, 255, 0.75);
    outline: 1px solid #39f;
    overflow: hidden;
    width: 100%;
}

.cropper-dashed {
    border: 0 dashed #eee;
    display: block;
    opacity: .5;
    position: absolute;
}

.cropper-dashed.dashed-h {
    border-bottom-width: 1px;
    border-top-width: 1px;
    height: 33.33333%;
    left: 0;
    top: 33.33333%;
    width: 100%;
}

.cropper-dashed.dashed-v {
    border-left-width: 1px;
    border-right-width: 1px;
    height: 100%;
    left: 33.33333%;
    top: 0;
    width: 33.33333%;
}

.cropper-center {
    display: block;
    height: 0;
    left: 50%;
    opacity: .75;
    position: absolute;
    top: 50%;
    width: 0;
}

.cropper-center:before,
.cropper-center:after {
    background-color: #eee;
    content: ' ';
    display: block;
    position: absolute;
}

.cropper-center:before {
    height: 1px;
    left: -3px;
    top: 0;
    width: 7px;
}

.cropper-center:after {
    height: 7px;
    left: 0;
    top: -3px;
    width: 1px;
}

.cropper-face,
.cropper-line,
.cropper-point {
    display: block;
    height: 100%;
    opacity: .1;
    position: absolute;
    width: 100%;
}

.cropper-face {
    background-color: #fff;
    left: 0;
    top: 0;
}

.cropper-line {
    background-color: #39f;
}

.cropper-line.line-e {
    cursor: ew-resize;
    right: -3px;
    top: 0;
    width: 5px;
}

.cropper-line.line-n {
    cursor: ns-resize;
    height: 5px;
    left: 0;
    top: -3px;
}

.cropper-line.line-w {
    cursor: ew-resize;
    left: -3px;
    top: 0;
    width: 5px;
}

.cropper-line.line-s {
    bottom: -3px;
    cursor: ns-resize;
    height: 5px;
    left: 0;
}

.cropper-point {
    background-color: #39f;
    height: 5px;
    opacity: .75;
    width: 5px;
}

.cropper-point.point-e {
    cursor: ew-resize;
    margin-top: -3px;
    right: -3px;
    top: 50%;
}

.cropper-point.point-n {
    cursor: ns-resize;
    left: 50%;
    margin-left: -3px;
    top: -3px;
}

.cropper-point.point-w {
    cursor: ew-resize;
    left: -3px;
    margin-top: -3px;
    top: 50%;
}

.cropper-point.point-s {
    bottom: -3px;
    cursor: s-resize;
    left: 50%;
    margin-left: -3px;
}

.cropper-point.point-ne {
    cursor: nesw-resize;
    right: -3px;
    top: -3px;
}

.cropper-point.point-nw {
    cursor: nwse-resize;
    left: -3px;
    top: -3px;
}

.cropper-point.point-sw {
    bottom: -3px;
    cursor: nesw-resize;
    left: -3px;
}

.cropper-point.point-se {
    bottom: -3px;
    cursor: nwse-resize;
    height: 20px;
    opacity: 1;
    right: -3px;
    width: 20px;
}

@media (min-width: 768px) {
    .cropper-point.point-se {
        height: 15px;
        width: 15px;
    }
}

@media (min-width: 992px) {
    .cropper-point.point-se {
        height: 10px;
        width: 10px;
    }
}

@media (min-width: 1200px) {
    .cropper-point.point-se {
        height: 5px;
        opacity: .75;
        width: 5px;
    }
}

.cropper-point.point-se:before {
    background-color: #39f;
    bottom: -50%;
    content: ' ';
    display: block;
    height: 200%;
    opacity: 0;
    position: absolute;
    right: -50%;
    width: 200%;
}

.cropper-invisible {
    opacity: 0;
}

.cropper-bg {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC');
}

.cropper-hide {
    display: block;
    height: 0;
    position: absolute;
    width: 0;
}

.cropper-hidden {
    display: none !important;
}

.cropper-move {
    cursor: move;
}

.cropper-crop {
    cursor: crosshair;
}

.cropper-disabled .cropper-drag-box,
.cropper-disabled .cropper-face,
.cropper-disabled .cropper-line,
.cropper-disabled .cropper-point {
    cursor: not-allowed;
}

/*
.cropper-container {
    direction: ltr;
    font-size: 0;
    line-height: 0;
    position: relative;
    -ms-touch-action: none;
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cropper-container img {
    display: block;
    height: 100%;
    image-orientation: 0deg;
    max-height: none !important;
    max-width: none !important;
    min-height: 0 !important;
    min-width: 0 !important;
    width: 100%;
}

.cropper-wrap-box,
.cropper-canvas,
.cropper-drag-box,
.cropper-crop-box,
.cropper-modal {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.cropper-wrap-box,
.cropper-canvas {
    overflow: hidden;
}

.cropper-drag-box {
    background-color: #fff;
    opacity: 0;
}

.cropper-modal {
    background-color: #000;
    opacity: .5;
}

.cropper-view-box {
    display: block;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.cropper-dashed {
    display: none;
}

.cropper-center {
    display: none;
}

.cropper-face,
.cropper-line,
.cropper-point {
    display: block;
    height: 100%;
    opacity: .1;
    position: absolute;
    width: 100%;
}

.cropper-face {
    background-color: #fff;
    left: 0;
    top: 0;
}

.cropper-line {
    display: none;
}

.cropper-point {
    display: none;
}

.cropper-invisible {
    opacity: 0;
}

.cropper-bg {
}

.cropper-hide {
    display: block;
    height: 0;
    position: absolute;
    width: 0;
}

.cropper-hidden {
    display: none !important;
}

.cropper-move {
    cursor: move;
}

.cropper-crop {
    cursor: crosshair;
}

.cropper-disabled .cropper-drag-box,
.cropper-disabled .cropper-face,
.cropper-disabled .cropper-line,
.cropper-disabled .cropper-point {
    cursor: not-allowed;
}
*/

/* button */
.arrow {
    position: relative;
    display: block;
    width: 60px;
    height: 13px;
    margin: 0 auto;
    background: #d60035;
    color: #fff;
}

.arrow:after {
    content: '';
    position: absolute;
    top: 4px;
    right: 5px;
    display: block;
    width: 16px;
    height: 4px;
    background: url('../images/icons.png') no-repeat;
    background-size: 375px 375px;
}

.arrow.white:after {
    background-position: 0 0;
}

.arrow.black:after {
    background-position: 0 -10px;
}

.arrow.txt {
    display: inline-block;
    width: 63px;
    height: 23px;
    line-height: 23px;
    padding-left: 25px;
}

.arrow.txt:after {
    top: 10px;
    right: 15px;
}

.arrow2 {
    position: relative;
    display: block;
    width: 43px;
    height: 13px;
    margin: 0 auto;
    background: #000;
}

.arrow2:after {
    content: '';
    height: 4px;
    width: 4px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    top: 50%;
    right: 5px;
    margin: -4px 0 0 0;
    border: 1px solid #fff;
    border-width: 0 1px 1px 0;
    -webkit-transform-origin: 70% 70%;
    transform-origin: 70% 70%;
}

.bt-more {
    font-family: 'Lato-Regular';
    position: absolute;
    top: 5px;
    right: 15px;
    color: #000;
    font-size: 12px !important;
}

.bt-more:after {
    content: '';
    margin-left: 5px;
    display: inline-block;
    width: 25px;
    height: 5px;
    background: url('../images/icons.png') -5px -20px no-repeat;
    background-size: 375px 375px;
}

.bt-more2 {
    position: relative;
    width: 145px;
    height: 35px;
    line-height: 35px;
    background: #d60035;
    color: #fff;
    font-size: 12px;
}

.bt-more2:after {
    content: '';
    margin: 15px 0 0 10px;
    display: inline-block;
    vertical-align: top;
    width: 16px;
    height: 4px;
    background: url('../images/icons.png') no-repeat;
    background-size: 375px 375px;
}

.bts {
    text-align: center;
}

.bt-full {
    display: inline-block;
    width: 145px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #fff;
    font-size: 12px;
}

.bt-full.red {
    background: #d60035;
}

.bt-full.black {
    background: #000;
}

.bt-full.gray {
    background: #666;
}

.bt-full-ico {
    text-align: center;
    display: inline-block;
    width: 145px;
    height: 35px;
    line-height: 35px;
    color: #fff;
    font-family: 'Lato-Bold';
}

.bt-full-ico.red {
    background: #c50233;
}

.more a {
    position: relative;
    padding: 30px 0;
    display: block;
    text-align: center;
    color: #000;
    font-family: 'Lato-Bold';
    letter-spacing: 2px;
}

.more em {
    position: relative;
    display: inline-block;
    margin-top: 2px;
    width: 9px;
    height: 9px;
    vertical-align: top;
}

.more em:before, .more em:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
}

.more em:before {
    width: 9px;
    height: 1px;
    background: #000;
    margin: 0 0 0 -4px;
}

.more em:after {
    height: 9px;
    width: 1px;
    background: #000;
    margin: -4px 0 0 0;
}

/* paging */
.paging {
    margin: 25px auto 0 auto;
    font-size: 0;
    text-align: center;
}

.paging a {
    position: relative;
    vertical-align: top;
    display: inline-block;
    font-size: 13px;
    font-family: 'Lato-Bold';
    min-width: 24px;
    height: 21px;
    line-height: 21px;
    text-align: center;
}

.paging a:hover {
    color: #c50233;
    text-decoration: underline;
}

.paging .paging-control:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -7px 0 0 -7px;
    width: 12px;
    height: 13px;
    background: url('../images/icons.png') no-repeat;
    background-size: 375px 375px;
}

.paging .paging-control.prev, .paging .paging-control.next {
    text-indent: -9999px;
}

.paging .paging-control.prev:before {

    background-position: -192px -62px;
}

.paging .paging-control.next:before {
    background-position: -213px -62px;
}

.paging .paging-num {
    background: none;
}

.paging .paging-num.selected {
    color: #c50233;
    text-decoration: underline;
}

.paging .paging-num:hover {
    color: #c50233;
    text-decoration: underline;
}

.paging2 {
    position: relative;
    border-top: 2px solid #000;
    text-align: center;
    padding: 20px 0 0 0;
}

.paging2 a {
    padding: 10px 0;
}

.paging2 a:before, .paging2 a:after {
    content: '';
    vertical-align: top;
    display: inline-block;
    background: url('../images/icons.png') no-repeat;
    background-size: 375px 375px;
}

.paging2 .list {
    position: relative;
    display: inline-block;
    line-height: 100%;
    font-size: 13px;
    font-family: 'Lato-Bold';
}

.paging2 .list:before {
    margin: 0px 5px 0 0;
    width: 12px;
    height: 12px;
    background-position: -163px -62px;
}

.paging2 .control {
}

.paging2 .control a {
    position: absolute;
    top: 20px;
    font-size: 13px;
    font-family: 'Lato-Bold';
    line-height: 100%;
}

.paging2 .prev {
    left: 0;
}

.paging2 .prev:before {
    width: 12px;
    height: 13px;
    background-position: -192px -62px;
    margin-right: 5px;
}

.paging2 .next {
    right: 0;
}

.paging2 .next:after {
    width: 12px;
    height: 13px;
    background-position: -213px -62px;
    margin-left: 5px;
}

/* table */

.tb-list table {
    width: 100%;
    border-top: 2px solid #404040;
    border-bottom: 2px solid #404040;
}

.tb-list thead th {
    padding: 10px 0;
    background: #f7f8f9;
    font-size: 12px;
}

.tb-list tbody td {
    text-align: center;
    border-top: 1px solid #191919;
    padding: 10px 0;
}

.tb-list tbody td .new {
    display: inline-block;
    width: 10px;
    height: 11px;
    background: url('../images/icons.png') 0 -166px no-repeat;
    background-size: 375px 375px;
}

.tb-utils {
    margin: 25px 0 35px 0;
    overflow: hidden;
}

.tb-utils .tit {
    display: block;
    text-align: center;
    font-size: 15px;
    margin-bottom: 15px;
}

.tb-utils .col {
    margin-top: 30px;
    text-align: center;
}

.tb-utils .col1 .bt-full {
    position: relative;
    font-family: 'Lato-Regular';
}

.tb-utils .col1 .bt-full:after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 5px;
    background: url('../images/icons.png') -48px -117px no-repeat;
    background-size: 375px 375px;
}

.tb-utils .col2 .select {
    border: 1px solid #000;
    margin: 0 0 10px 0;
}

.tb-utils .col3 {
    position: relative;
}

.tb-utils .col3 .input {
    margin-right: 35px;
}

.tb-utils .col3 button {
    text-indent: -9999px;
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
}

.tb-utils .col3 button:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -7px 0 0 -7px;
    width: 14px;
    height: 14px;
    background: url('../images/icons.png') -24px -139px no-repeat;
    background-size: 375px 375px;
}

.tb-view {
    border-top: 2px solid #404040;
}

.tb-view table {
    width: 100%;
}

.tb-view thead th {
    position: relative;
    border-bottom: 1px solid #000;
    text-align: left;
    padding: 15px 0;
}

.tb-view thead th .cate {
    font-size: 11px;
    font-family: 'Lato-Light';
}

.tb-view thead th .tit {
    margin: 0 55px 5px 0;
}

.tb-view thead th .date {
    font-size: 11px;
    font-family: 'Lato-Regular';
}

.tb-view thead th .sns {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -8px;
}

.tb-view thead th .sns li {
    display: inline-block;
    margin-left: 15px;
}

.tb-view thead th .sns a {
    text-indent: -9999px;
    display: block;
    width: 15px;
    height: 15px;
    background: url('../images/icons.png') no-repeat;
    background-size: 375px 375px;
}

.tb-view thead th .sns a.f {
    background-position: -73px -61px;
}

.tb-view thead th .sns a.t {
    background-position: -101px -61px;
}

.tb-view tbody td {
    padding: 15px 0;
    line-height: 150%;
}

.tb-view tbody td .file {
    overflow: hidden;
    margin-bottom: 5px;
}

.tb-view tbody td .file a {
    position: relative;
    padding: 10px 0;
    display: inline-block;
    overflow: hidden;
}

.tb-view tbody td .file a:before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url('../images/icons.png') -25px -166px no-repeat;
    background-size: 375px 375px;
    margin: 0 5px 0 0;
    position: relative;
    top: 1px;
}

.tb-view tbody td .txts {
    line-height: 150%;
}

/* tab */
.tabs {
    margin: 0 auto;
    padding: 0 15px;
}

.tabs li {
    display: inline-block;
    vertical-align: top;
}

.tabs.t2 li {
    width: 50%;
}

.tabs.t3 li {
    width: 33.33%;
}

.tabs.t4 li {
    width: 25%;
}

.tabs.t5 li {
    width: 20%;
}

.tabs span {
    position: relative;
    z-index: 1;
    font-family: 'Nanum Barun Gothic';
}

.tabs a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 33px;
    text-align: center;
    background: #e8e9eb;
    font-size: 12px;
    font-family: 'Lato-Light';
    letter-spacing: -1px;
    line-height: 100%;
}

.tabs a:before {
    content: '';
    width: 1px;
    height: 11px;
    background: #ccc;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -6px;
}

.tabs a.selected {
    color: #fff;
}

.tabs a.selected span {
    padding-right: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #c50233;
}

.tabs a.selected span:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 6px;
    height: 11px;
    background: url('../images/icons.png') no-repeat;
    background-size: 375px 375px;
    background-position: 0 -142px;
}

.tabs li:first-child a:before {
    display: none;
}

/* select */
.select {
    position: relative;
    display: block;
    border-bottom: 1px solid #bbb;
}

.select.inline {
    display: inline-block;
}

.select:after {
    content: '';
    height: 6px;
    width: 6px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    right: 10px;
    margin: -4px 0 0 0;
    border: 1px solid #000;
    border-width: 0 1px 1px 0;
    -webkit-transform-origin: 70% 70%;
    transform-origin: 70% 70%;
}

.select select {
    width: 100%;
    height: 30px;
    padding-left: 5px;
    font-size: 12px;
    background: transparent;
}

.select.error {
    border-color: #c50233;
}

.select.error select {
    color: #c50233;
    font-weight: bold;
}

.select.error:after {
    background-position: -220px -27px;
}

.select.active {
    border-color: #000;
}

.select.active select {
    color: #000;
    font-weight: bold;
}

/* input */
.error-msg {
    font-size: 11px;
    line-height: 150%;
    display: block;
    color: #c50233;
    padding-left: 5px;
    margin-top: 5px !important;
    clear: both;
}

.pass-msg {
    font-size: 11px;
    display: block;
    padding-left: 5px;
    margin-top: 5px !important;
}

.input {
    position: relative;
    display: block;
    border-bottom: 1px solid #bbb;
}

.input.inline {
    display: inline-block;
}

.input input {
    width: 100%;
    height: 30px;
    text-indent: 5px;
    font-size: 12px;
}

.input.error {
    border-color: #c50233;
    font-weight: bold;
}

.input.error input {
    font-weight: bold;
    color: #c50233;
}

.input.pass {
    border-bottom: 2px solid #00b050;
}

.input.pass input {
    color: #000;
}

.input.active {
    border-color: #000;
    font-weight: bold;
}

.input.active input {
    font-weight: bold;
    color: #000;
}

.input-file {
    position: relative;
}

.input-file .input {
    margin-right: 65px !important;
}

.input-file button {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 55px;
    height: 30px;
    line-height: 30px;
    font-size: 11px;
    border: 1px solid #000;
}

.input-tips {
    font-size: 12px;
    margin-top: 15px;
    line-height: 150%;
}

:lang(ko) .input-tips {
    font-weight: 300;
}

:lang(en) .input-tips {
    font-family: 'Lato-Light';
}

:lang(zh) .input-tips {
    font-weight: 300;
}

:lang(ja) .input-tips {
    font-weight: 300;
}

/* select */
.textarea {
    position: relative;
    display: block;
    border: 1px solid #bbb;
    padding: 5px;
}

.textarea textarea {
    width: 100%;
    height: 50px;
    font-size: 12px;
}

/* checkbox */
.check {
    display: inline-block;
    margin: 5px;
}

.check input {
    opacity: 0;
    position: absolute;
}

.check input[type=checkbox] + label {
    position: relative;
    padding-left: 26px;
    color: #8a9093;
    font-size: 12px;
    cursor: pointer;
    display: block;
    height: 20px;
    line-height: 20px;
    font-family: 'Lato-Regular';
}

.check input[type=checkbox] + label:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    border: 1px solid #9a9ea6;
    width: 20px;
    height: 20px;
    line-height: 20px;
    transition: 0.5s;
    -ms-transition: 0.5s;
    -webkit-transition: 0.5s;
}

.check input[type=checkbox]:checked + label {
    color: #000;
}

.check input[type=checkbox]:checked + label:before {
    border: 5px solid #c70e38;
}

/* radio */
.radio {
    display: inline-block;
    margin: 15px 0;
}

.radio input {
    opacity: 0;
    position: absolute;
}

.radio input[type=radio] + label {
    position: relative;
    padding-left: 26px;
    color: #222;
    font-size: 12px;
    cursor: pointer;
    display: block;
    height: 20px;
    line-height: 20px;
}

.radio input[type=radio] + label:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #bebebe;
    background: #fff;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    transition: 0.5s;
    -ms-transition: 0.5s;
    -webkit-transition: 0.5s;
}

.radio input[type=radio]:checked + label:before {
    border: 1px solid #c70e38;
    background: #c70e38;
}

.radio2 {
    display: inline-block;
    margin: 15px 0;
}

.radio2 input {
    opacity: 0;
    position: absolute;
}

.radio2 input[type=radio] + label {
    position: relative;
    padding-left: 26px;
    color: #8a9093;
    font-size: 14px;
    cursor: pointer;
    display: block;
    height: 16px;
}

.radio2 input[type=radio] + label:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    border: 1px solid #555;
    width: 16px;
    height: 16px;
    line-height: 16px;
    transition: 0.5s;
    -ms-transition: 0.5s;
    -webkit-transition: 0.5s;
}

.radio2 input[type=radio]:checked + label {
    color: #fff;
}

.radio2 input[type=radio]:checked + label:before {
    border: 5px solid #c70e38;
}

.filter-check3 input {
    opacity: 0;
    position: absolute;
}

.filter-check3 input[type=checkbox] + label {
    cursor: pointer;
    position: relative;
    text-align: center;
    display: block;
    overflow: hidden;
    height: 65px;
    font-family: 'Lato-Regular';
    transition: 0.5s;
    -ms-transition: 0.5s;
    -webkit-transition: 0.5s;
}

.filter-check3 input[type=checkbox] + label em {
    display: block;
    margin-top: 45px;
    font-size: 10px;
    color: #6a6c6e;
    line-height: 100%;
    font-family: 'Lato-Regular';
}

.filter-check3 input[type=checkbox] + label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 65px;
}

.filter-check3 input[type=checkbox] + label:after {
    content: '';
    position: absolute;
    left: 50%;
    display: block;
    background: url('../images/icons3.png') no-repeat;
    background-size: 375px 375px;
}

.filter-check3 input[type=checkbox]:checked + label {
    cursor: pointer;
    font-family: 'Lato-Bold';
}

.filter-check3 input[type=checkbox]:checked + label em {
    color: #000;
    font-family: 'Lato-Bold';
}

.filter-check3.bf1 input[type=checkbox] + label:after {
    width: 25px;
    height: 31px;
    top: 8px;
    margin-left: -13px;
    background-position: -5px -104px;
}

.filter-check3.bf1 input[type=checkbox]:checked + label:after {
    background-position: -5px -147px;
}

.filter-check3.bf2 input[type=checkbox] + label:after {
    width: 38px;
    height: 28px;
    top: 10px;
    margin-left: -19px;
    background-position: -64px -105px;
}

.filter-check3.bf2 input[type=checkbox]:checked + label:after {
    background-position: -64px -148px;
}

.filter-check3.bf3 input[type=checkbox] + label:after {
    width: 38px;
    height: 31px;
    top: 8px;
    margin-left: -19px;
    background-position: -132px -103px;
}

.filter-check3.bf3 input[type=checkbox]:checked + label:after {
    background-position: -132px -146px;
}

.filter-check3.bf4 input[type=checkbox] + label:after {
    width: 23px;
    height: 31px;
    top: 8px;
    margin-left: -12px;
    background-position: -206px -104px;
}

.filter-check3.bf4 input[type=checkbox]:checked + label:after {
    background-position: -206px -147px;
}

.filter-check3.bf5 input[type=checkbox] + label:after {
    width: 28px;
    height: 33px;
    top: 7px;
    margin-left: -14px;
    background-position: -270px -103px;
}

.filter-check3.bf5 input[type=checkbox]:checked + label:after {
    background-position: -270px -146px;
}

.filter-check3.bf6 input[type=checkbox] + label:after {
    width: 34px;
    height: 35px;
    top: 6px;
    margin-left: -17px;
    background-position: 0 -196px;
}

.filter-check3.bf6 input[type=checkbox]:checked + label:after {
    background-position: 0 -239px;
}

.filter-check3.bf7 input[type=checkbox] + label:after {
    width: 40px;
    height: 28px;
    top: 9px;
    margin-left: -20px;
    background-position: -64px -199px;
}

.filter-check3.bf7 input[type=checkbox]:checked + label:after {
    background-position: -64px -242px;
}

.filter-check3.bf8 input[type=checkbox] + label:after {
    width: 31px;
    height: 31px;
    top: 8px;
    margin-left: -15px;
    background-position: -135px -197px;
}

.filter-check3.bf8 input[type=checkbox]:checked + label:after {
    background-position: -135px -240px;
}

.filter-check3.bf9 input[type=checkbox] + label:after {
    width: 32px;
    height: 32px;
    top: 7px;
    margin-left: -16px;
    background-position: -199px -196px;
}

.filter-check3.bf9 input[type=checkbox]:checked + label:after {
    background-position: -199px -239px;
}

.filter-check3.bf10 input[type=checkbox] + label:after {
    width: 46px;
    height: 25px;
    top: 10px;
    margin-left: -23px;
    background-position: -261px -200px;
}

.filter-check3.bf10 input[type=checkbox]:checked + label:after {
    background-position: -261px -243px;
}

.filter-check3.bf11 input[type=checkbox] + label:after {
    width: 23px;
    height: 37px;
    top: 4px;
    margin-left: -11px;
    background-position: -5px -287px;
}

.filter-check3.bf11 input[type=checkbox]:checked + label:after {
    background-position: -5px -330px;
}

.filter-check3.bf12 input[type=checkbox] + label:after {
    width: 28px;
    height: 27px;
    top: 9px;
    margin-left: -14px;
    background-position: -69px -293px;
}

.filter-check3.bf12 input[type=checkbox]:checked + label:after {
    background-position: -69px -336px;
}

.filter-check3.bf13 input[type=checkbox] + label:after {
    width: 39px;
    height: 32px;
    top: 7px;
    margin-left: -20px;
    background-position: -131px -289px;
}

.filter-check3.bf13 input[type=checkbox]:checked + label:after {
    background-position: -131px -332px;
}

.filter-check3.bf14 input[type=checkbox] + label:after {
    width: 33px;
    height: 28px;
    top: 9px;
    margin-left: -16px;
    background-position: -201px -291px;
}

.filter-check3.bf14 input[type=checkbox]:checked + label:after {
    background-position: -201px -334px;
}

.filter-check3.bf15 input[type=checkbox] + label:after {
    width: 26px;
    height: 30px;
    top: 8px;
    margin-left: -12px;
    background-position: -271px -290px;
}

.filter-check3.bf15 input[type=checkbox]:checked + label:after {
    background-position: -271px -333px;
}

.ico-spec {
    display: inline-block;
    margin: 0 5px 5px 0;
    text-indent: -9999px;
}

.ico-spec.s1 {
    width: 30px;
    height: 30px;
    background: url('../images/img_spec1.svg') no-repeat;
    background-size: 30px 30px
}

.ico-spec.s2 {
    width: 30px;
    height: 30px;
    background: url('../images/img_spec2.svg') no-repeat;
    background-size: 30px 30px
}

.ico-spec.s3 {
    width: 30px;
    height: 30px;
    background: url('../images/img_spec3.svg') no-repeat;
    background-size: 30px 30px
}

.ico-spec.s4 {
    width: 30px;
    height: 30px;
    background: url('../images/img_spec4.svg') no-repeat;
    background-size: 30px 30px
}

.ico-spec.s5 {
    width: 30px;
    height: 30px;
    background: url('../images/img_spec5.svg') no-repeat;
    background-size: 30px 30px
}

.ico-spec.s6 {
    width: 30px;
    height: 30px;
    background: url('../images/img_spec6.svg') no-repeat;
    background-size: 30px 30px
}

.ico-spec.s7 {
    width: 30px;
    height: 30px;
    background: url('../images/img_spec7.svg') no-repeat;
    background-size: 30px 30px
}

.ico-spec.s8 {
    width: 30px;
    height: 30px;
    background: url('../images/img_spec8.svg') no-repeat;
    background-size: 30px 30px
}

.ico-spec.s9 {
    width: 30px;
    height: 30px;
    background: url('../images/img_spec9.svg') no-repeat;
    background-size: 30px 30px
}

.ico-spec.s10 {
    width: 30px;
    height: 30px;
    background: url('../images/img_spec10.svg') no-repeat;
    background-size: 30px 30px
}

.ico-spec.s11 {
    width: 32px;
    height: 30px;
    background: url('../images/img_spec11.svg') no-repeat;
    background-size: 32px 30px
}

.ico-spec.s12 {
    width: 32px;
    height: 30px;
    background: url('../images/img_spec12.svg') no-repeat;
    background-size: 32px 30px
}

.ico-spec.s13 {
    width: 32px;
    height: 30px;
    background: url('../images/img_spec3.svg') no-repeat;
    background-size: 32px 30px
}

.ico-spec.s14 {
    width: 36px;
    height: 30px;
    background: url('../images/img_spec14.svg') no-repeat;
    background-size: 36px 30px
}

.ico-spec.s15 {
    width: 36px;
    height: 30px;
    background: url('../images/img_spec15.svg') no-repeat;
    background-size: 36px 30px
}

.ico-spec.s16 {
    width: 36px;
    height: 30px;
    background: url('../images/img_spec16.svg') no-repeat;
    background-size: 36px 30px
}

.ico-spec.s17 {
    width: 32px;
    height: 30px;
    background: url('../images/img_spec17.svg') no-repeat;
    background-size: 32px 30px
}

.ico-spec.s18 {
    width: 32px;
    height: 30px;
    background: url('../images/img_spec18.svg') no-repeat;
    background-size: 32px 30px
}

.ico-spec.s19 {
    width: 32px;
    height: 30px;
    background: url('../images/img_spec19.svg') no-repeat;
    background-size: 32px 30px
}

.ico-spec.s20 {
    width: 32px;
    height: 30px;
    background: url('../images/img_spec20.svg') no-repeat;
    background-size: 32px 30px
}

.ico-spec.s21 {
    width: 32px;
    height: 30px;
    background: url('../images/img_spec21.svg') no-repeat;
    background-size: 32px 30px
}

.ico-spec.s22 {
    width: 34px;
    height: 30px;
    background: url('../images/img_spec22.svg') no-repeat;
    background-size: 34px 30px
}

.ico-spec.s23 {
    width: 32px;
    height: 30px;
    background: url('../images/img_spec23.svg') no-repeat;
    background-size: 32px 30px
}

.ico-spec.s24 {
    width: 32px;
    height: 30px;
    background: url('../images/img_spec23.svg') no-repeat;
    background-size: 32px 30px
}

.ico-spec.s25 {
    width: 32px;
    height: 30px;
    background: url('../images/img_spec24.svg') no-repeat;
    background-size: 32px 30px
}

.ico-spec.s26 {
    width: 30px;
    height: 30px;
    background: url('../images/img_spec25.svg') no-repeat;
    background-size: 30px 30px
}

.ico-spec.s27 {
    width: 36px;
    height: 30px;
    background: url('../images/img_spec26.svg') no-repeat;
    background-size: 36px 30px
}

.ico-spec.s28 {
    width: 34px;
    height: 30px;
    background: url('../images/img_spec27.svg') no-repeat;
    background-size: 34px 30px
}

.ico-spec.s29 {
    width: 30px;
    height: 30px;
    background: url('../images/img_spec28.svg') no-repeat;
    background-size: 30px 30px
}

.ico-spec.s30 {
    width: 38px;
    height: 30px;
    background: url('../images/img_spec30.svg') no-repeat;
    background-size: 30px 30px
}