<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">
<head>
<meta http-equiv="Content-Type" content="Application/xhtml+xml; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="koos" />
<meta name="copyright" content="" />
<title>TEAM SQUARE IA</title>
<style type="text/css">
* { margin:0; padding:0;}
h1 { font-size:20px; margin:10px auto 20px auto; width:100%; text-align:center;}
table.pageList { font:11px/16px Dotum; width:100%; background-color:#999; margin:0 0 30px;text-align:center;}
table.pageList th { border-right:1px solid #adb1b3; border-bottom:1px solid #adb1b3;  background-color:#666666; height:35px; text-align:center; color:#fff; font-size:13px;}
table.pageList td { border-right:1px solid #adb1b3; border-bottom:1px solid #adb1b3; padding:5px 5px 5px 20px; vertical-align:top; background-color:#fff;vertical-align:middle}
table.pageList td.ailgnL{text-align:left}
table.pageList td a:link, a:visited { font-weight:bold; color:#0072dc; text-decoration: none; font-size:12px; }
table.pageList td a:hover, a:active { font-weight:bold; color:#32443d; text-decoration: underline; font-size:12px;}
table.pageList tr.end td { background-color:#feffd7;}
table.pageList tr.jspEnd td { background-color:#f8effd;}

p { font-size:12px; color:#999999; margin:10px;}
p a { margin-right:30px;}

span { display:block; color:#bb3134;}
</style>

</head>

<body>
<h1>:::  TEAM SQUARE IA :::</h1>

<p></p>

<table cellspacing="0" cellpadding="0"  id="tbList1" class="pageList">
<colgroup>
	<col width="" />
	<col width="" />
	<col width="" />
	<col width="" />
</colgroup>
<thead>
<tr>
	<th>1 Depth</th>
	<th>2 Depth</th>
	<th>폴더</th>
	<th>비고</th>
</tr>
</thead>
<tbody>
	<tr>
		<td class="ailgnL">메인</td>
		<td class="ailgnL"><a href="index.html" target="_blank">index.html</a></td>
		<td class="ailgnL">/</td>
		<td class="ailgnL">&nbsp;</td>
	</tr>
	<tr>
		<td class="ailgnL">검색레이어_추천검색어</td>
		<td class="ailgnL"><a href="search_keyword.html" target="_blank">search_keyword.html</a></td>
		<td class="ailgnL">/</td>
		<td class="ailgnL">&nbsp;</td>
	</tr>
	<tr>
		<td class="ailgnL">검색레이어_탭</td>
		<td class="ailgnL"><a href="search_tabs.html" target="_blank">search_tabs.html</a></td>
		<td class="ailgnL">/</td>
		<td class="ailgnL">&nbsp;</td>
	</tr>
	<tr>
		<td class="ailgnL">검색결과</td>
		<td class="ailgnL"><a href="srch_result.html" target="_blank">srch_result.html</a></td>
		<td class="ailgnL">/</td>
		<td class="ailgnL">&nbsp;</td>
	</tr>
	<tr>
		<td class="ailgnL">알림</td>
		<td class="ailgnL"><a href="alram.html" target="_blank">alram.html</a></td>
		<td class="ailgnL">/</td>
		<td class="ailgnL">&nbsp;</td>
	</tr>
	<tr>
		<td class="ailgnL">퀘스트 리스트</td>
		<td class="ailgnL"><a href="quest.html" target="_blank">quest.html</a></td>
		<td class="ailgnL">/</td>
		<td class="ailgnL">&nbsp;</td>
	</tr>
	<tr>
		<td class="ailgnL">타임라인</td>
		<td class="ailgnL"><a href="timeline.html" target="_blank">timeline.html</a></td>
		<td class="ailgnL">/</td>
		<td class="ailgnL">&nbsp;</td>
	</tr>
	<tr>
		<td class="ailgnL">팀메이트</td>
		<td class="ailgnL"><a href="teammate.html" target="_blank">teammate.html</a></td>
		<td class="ailgnL">/</td>
		<td class="ailgnL">&nbsp;</td>
	</tr>
	<tr>
		<td class="ailgnL">추천 팀메이트</td>
		<td class="ailgnL"><a href="recom_teammate.html" target="_blank">recom_teammate.html</a></td>
		<td class="ailgnL">/</td>
		<td class="ailgnL">&nbsp;</td>
	</tr>
	<tr>
		<td class="ailgnL">팀메이트 상세</td>
		<td class="ailgnL"><a href="teammate_view.html" target="_blank">teammate_view.html</a></td>
		<td class="ailgnL">/</td>
		<td class="ailgnL">&nbsp;</td>
	</tr>
	<tr>
		<td class="ailgnL">로그인</td>
		<td class="ailgnL"><a href="login.html" target="_blank">login.html</a></td>
		<td class="ailgnL">/</td>
		<td class="ailgnL">&nbsp;</td>
	</tr>
	<tr>
		<td class="ailgnL">패스워드 찾기</td>
		<td class="ailgnL"><a href="pw_srch.html" target="_blank">pw_srch.html</a></td>
		<td class="ailgnL">/</td>
		<td class="ailgnL">&nbsp;</td>
	</tr>
	<tr>
		<td class="ailgnL">이용약관</td>
		<td class="ailgnL"><a href="terms.html" target="_blank">terms.html</a></td>
		<td class="ailgnL">/</td>
		<td class="ailgnL">&nbsp;</td>
	</tr>
	<tr>
		<td class="ailgnL">개인정보취급방침</td>
		<td class="ailgnL"><a href="privacy.html" target="_blank">privacy.html</a></td>
		<td class="ailgnL">/</td>
		<td class="ailgnL">&nbsp;</td>
	</tr>
	<tr>
		<td class="ailgnL">페이스북 회원가입</td>
		<td class="ailgnL"><a href="join_fb.html" target="_blank">join_fb.html</a></td>
		<td class="ailgnL">/</td>
		<td class="ailgnL">&nbsp;</td>
	</tr>
	<tr>
		<td class="ailgnL">카카오톡 회원가입</td>
		<td class="ailgnL"><a href="join_kt.html" target="_blank">join_kt.html</a></td>
		<td class="ailgnL">/</td>
		<td class="ailgnL">&nbsp;</td>
	</tr>
	<tr>
		<td class="ailgnL">이메일 회원가입</td>
		<td class="ailgnL"><a href="join_email.html" target="_blank">join_email.html</a></td>
		<td class="ailgnL">/</td>
		<td class="ailgnL">&nbsp;</td>
	</tr>
	<tr>
		<td class="ailgnL">회원가입</td>
		<td class="ailgnL"><a href="join.html" target="_blank">join.html</a></td>
		<td class="ailgnL">/</td>
		<td class="ailgnL">&nbsp;</td>
	</tr>
	<tr>
		<td class="ailgnL">알림설정</td>
		<td class="ailgnL"><a href="alram_setting.html" target="_blank">alram_setting.html</a></td>
		<td class="ailgnL">/</td>
		<td class="ailgnL">&nbsp;</td>
	</tr>
	<tr>
		<td class="ailgnL">고객센터</td>
		<td class="ailgnL"><a href="customer_center.html" target="_blank">customer_center.html</a></td>
		<td class="ailgnL">/</td>
		<td class="ailgnL">&nbsp;</td>
	</tr>
	<tr>
		<td class="ailgnL">계정징지</td>
		<td class="ailgnL"><a href="stop.html" target="_blank">stop.html</a></td>
		<td class="ailgnL">/</td>
		<td class="ailgnL">&nbsp;</td>
	</tr>
	<tr>
		<td class="ailgnL">faq</td>
		<td class="ailgnL"><a href="faq.html" target="_blank">faq.html</a></td>
		<td class="ailgnL">/</td>
		<td class="ailgnL">&nbsp;</td>
	</tr>
	<tr>
		<td class="ailgnL">공지사항 리스트</td>
		<td class="ailgnL"><a href="notices_list.html" target="_blank">notices_list.html</a></td>
		<td class="ailgnL">/</td>
		<td class="ailgnL">&nbsp;</td>
	</tr>
	<tr>
		<td class="ailgnL">공지사항 상세</td>
		<td class="ailgnL"><a href="notices_view.html" target="_blank">notices_view.html</a></td>
		<td class="ailgnL">/</td>
		<td class="ailgnL">&nbsp;</td>
	</tr>
	<tr>
		<td class="ailgnL">이메일문의</td>
		<td class="ailgnL"><a href="email_inquiry.html" target="_blank">email_inquiry.html</a></td>
		<td class="ailgnL">/</td>
		<td class="ailgnL">&nbsp;</td>
	</tr>
	<tr>
		<td class="ailgnL">개인 관심분야</td>
		<td class="ailgnL"><a href="info1.html" target="_blank">info1.html</a></td>
		<td class="ailgnL">/</td>
		<td class="ailgnL">&nbsp;</td>
	</tr>
	<tr>
		<td class="ailgnL">개인 기본정보</td>
		<td class="ailgnL"><a href="info2.html" target="_blank">info2.html</a></td>
		<td class="ailgnL">/</td>
		<td class="ailgnL">&nbsp;</td>
	</tr>
	<tr>
		<td class="ailgnL">개인 팀메이트</td>
		<td class="ailgnL"><a href="info3.html" target="_blank">info3.html</a></td>
		<td class="ailgnL">/</td>
		<td class="ailgnL">&nbsp;</td>
	</tr>
	<tr>
		<td class="ailgnL">기업 관심분야</td>
		<td class="ailgnL"><a href="company_info1.html" target="_blank">company_info1.html</a></td>
		<td class="ailgnL">/</td>
		<td class="ailgnL">&nbsp;</td>
	</tr>
	<tr>
		<td class="ailgnL">기업 기본정보</td>
		<td class="ailgnL"><a href="company_info2.html" target="_blank">company_info2.html</a></td>
		<td class="ailgnL">/</td>
		<td class="ailgnL">&nbsp;</td>
	</tr>
	<tr>
		<td class="ailgnL">프로필 메인</td>
		<td class="ailgnL"><a href="profile_main.html" target="_blank">profile_main.html</a></td>
		<td class="ailgnL">/</td>
		<td class="ailgnL">&nbsp;</td>
	</tr>
	<tr>
		<td class="ailgnL">계정정보</td>
		<td class="ailgnL"><a href="profile1.html" target="_blank">profile1.html</a></td>
		<td class="ailgnL">/</td>
		<td class="ailgnL">&nbsp;</td>
	</tr>
	<tr>
		<td class="ailgnL">닉네임/프로필/자기소개</td>
		<td class="ailgnL"><a href="profile2.html" target="_blank">profile2.html</a></td>
		<td class="ailgnL">/</td>
		<td class="ailgnL">&nbsp;</td>
	</tr>
	<tr>
		<td class="ailgnL">비밀번호 변경</td>
		<td class="ailgnL"><a href="profile3.html" target="_blank">profile3.html</a></td>
		<td class="ailgnL">/</td>
		<td class="ailgnL">&nbsp;</td>
	</tr>
	<tr>
		<td class="ailgnL">정보설정</td>
		<td class="ailgnL"><a href="profile4.html" target="_blank">profile4.html</a></td>
		<td class="ailgnL">/</td>
		<td class="ailgnL">&nbsp;</td>
	</tr>
</tbody>
</table>




<script type="text/javascript">
var tbList1 = document.getElementById('tbList1').getElementsByTagName('tr');
var tmpObj;
for(i=0;i<tbList1.length;i++) 
{
	tbList1[i].onmouseover = function() 
	{	
		tmpObj = this.getElementsByTagName('td');
		for(j=0;j<tmpObj.length;j++)
		{
			tmpObj[j].style.backgroundColor = "#e8ffa9";
		}
	}
	
	tbList1[i].onmouseout = function() 
	{ 
		if(!this.getElementsByTagName('td')[0]) return false;
		tmpObj = this.getElementsByTagName('td');
		for(j=0;j<tmpObj.length;j++)
		{
			tmpObj[j].style.backgroundColor = "";
		}

	}
	
}
</script>


</body>
</html>

